<!--
模块名称： 材料传递
开始时间： 2020-2-25
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-option="fit:true" style="overflow:scroll;">
    <!--页面主体布局-->
    <div class="section-container">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-title">
                <h2 class='align-center gfsm-title'>协助破案</h2>
            </div>
            <div class="standard-content font-22">
                <dl>
                    <dt>一、看守所开展协助破案工作的原则</dt>
                    <dd>(一) 协助破案工作必须以确保刑事诉讼活动顺利进行为前提，坚持专门工作与日常管理教育工作相结合。</dd>
                    <dd>(二) 协助破案工作应当严格遵守保密规定，确保检举人和秘密力量的安全。</dd>
                    <dt>二、犯罪线索的收集</dt>
                    <dd>(一) 通过集体教育、个别谈话、人性化管理、亲属和社会规劝等多种形式，强化对在押人员的监管和法律政策教育，促使在押人员坦白、检举，广泛收集犯罪线索。</dd>
                    <dd>(二) 了解在押人员思想动态，根据在押人员涉案性质、作案特点、社会背景等情况，确定收集犯罪线索工作的重点对象，有针对性地收集犯罪线索。</dd>
                    <dd>(三) 将死刑犯、重刑犯、涉黑涉恶犯罪、共同犯罪、多次作案、连续作案、流窜作案以及不讲真实姓名、住址的在押人员列为重点深挖对象，有针对性地开展工作，收集犯罪线索。</dd>
                    <dd>(四) 利用秘密力量和犯罪信息比对等手段获取犯罪线索，发现在逃人员。</dd>
                    <dd>(五) 根据办案机关的要求，配合办案机关获取犯罪线索。收集犯罪线索，应当制作笔录和线索收集情况报告。</dd>
                    <dt>三、犯罪线索的甄别和转递</dt>
                    <dd>(一) 对获取的犯罪线索，应当根据案件构成要素、立案标准和查证条件进行认真筛选，甄别真伪，确定是否需要转递。</dd>
                    <dd>(二) 对需要转递的犯罪线索，应当统一编号登记，填写《看守所犯罪线索转递函》，经所属公安机关批准后，及时转递案件主管机关。</dd>
                    <dd>(三) 《看守所犯罪线索转递函》各个项目应当填写齐全，线索反映的内容记载清楚，并附笔录材料复制件，被检举人属上网逃犯的应当附《在逃人员信息登记表》。</dd>
                    <dt>四、犯罪线索的查证和反馈</dt>
                    <dd>(一) 有条件的监管业务指导部门，经本级公安机关批准，可以组织专门力量对获取的犯罪线索进行查证。</dd>
                    <dd>(二) 犯罪线索转递侦查部门查证的，看守所应当及时向其了解查证情况，做好催办工作。</dd>
                    <dd> (三)经查证破获案件的，看守所应当要求侦查部门及时出具破案证明或者反馈函，提供立案（受理）、破案报告，拘留证、逮捕证等法律文书和书面材料的复印件；对确实没有查证条件或者查证不实的也应当填写反馈函并说明情况。
                    </dd>
                    <dd>(四) 看守所应当将线索查证情况及时告知提供线索的在押人员。</dd>
                    <dt>五、建立协助破案工作档案</dt>
                    <dd>看守所应当建立协助破案工作档案，一案一档，内容包括讯（询）问笔录、线索内容、线索转递、查证（立案报告、破案报告复印件）、信息比对、政策兑现等有关工作情况。</dd>
                    <dt>六、上报和总结</dt>
                    <dd>(一)
                        看守所应当每月向所属公安机关和上一级监管业务指导部门上报当月协助破案情况及侦查单位查证反馈情况；查破案件的应当附检举人、被检举人、查破经过及案件基本情况的书面材料；兑现政策的应当随时上报。年终应当上报本年度协助破案工作总结。
                    </dd>
                    <dd>(二) 对于看守所提供犯罪线索破获公安部和省级公安机关督办案件的，应当写出专题报告，及时报告所属公安机关和上一级监管业务指导部门。</dd>
                    <dd>(三) 看守所应当及时总结协助破案的经验和做法，报告所属公安机关和上一级监管业务指导部门。</dd>
                    <dt>七、对在押人员自首和检举的处理 </dt>
                    <dd> (一) 犯罪嫌疑人、被告人有自首和检举表现的，看守所应当形成书面材料送办案机关。</dd>
                    <dd> (二) 罪犯在看守所留所服刑期间有立功表现的，看守所应当依法向人民法院提出减刑或者假释建议。</dd>
                </dl>
            </div>
        </div>
    </div>
    <!--页面主体布局-->
    <script src="/apps/kss/static/lib/require.js" data-main="/apps/kss/static/js/require.config" id="current-page" current-page="pages/_xzpa/gfbz"></script>

    <script src="/apps/kss/static/lib/loading.js"></script>
</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->