<!--
模块名称： 规范帮助
开始时间： 2020-3-11
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-option="fit:true" style="overflow:scroll;">
<!--页面主体布局-->
<div class="section-container">
    <div class="section-item section-item-one section-item-padding">
        <div class="standard-title">
            <h2 class='align-center gfsm-title'>过&nbsp;渡&nbsp;拘&nbsp;室&nbsp;管&nbsp;理&nbsp;教&nbsp;育&nbsp;规&nbsp;范</h2>
        </div>
        <div class="standard-content font-22">
            <dl>
                <dd>责任民警在新收押的被拘留人员入所后，应利用一日的时间对其进行入所教育，必须严格依次履行以下程序：</dd>

                <dd>程序一、进行入所第一次谈话</dd>

                <dd>责任民警对新入所的被拘留人员必须在入所后24小时内对其进行每一次谈话，稳定其不安情绪，告知其在强制教育期间应遵守的义务及应享有的权利。</dd>

                <dd>谈话中主要了解其简历、主要违法事实、家庭成员社会关系及联系电话，并做好有关记录。 </dd>

                <dd>责任民警在谈话中对个别被拘留人员情绪不稳定或搞拒管教的，应对其重点教育，经教育仍不服管不服教的可列为重点对象进行管理。</dd>

                <dd>程序二、讲解所纪所规</dd>

                <dd>组织被拘留人员学习《被拘留人员行为规范》、《被拘留人员内务管理制度》、《被拘留人员的奖惩制度》等有关所纪所规，并向他们讲解需要注意的事项，要求其在所期间必须严格执行。</dd>
            </dl>
        </div>
    </div>
</div>
<!--页面主体布局-->
<script src="/apps/jls/static/lib/require.js" data-main="/apps/jls/static/js/require.config" id="current-page" current-page=""></script>

<script src="/apps/jls/static/lib/loading.js"></script>
</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->