<!--
模块名称： 规范帮助
开始时间： 2020-2-29
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->
<body class="easyui-layout" data-option="fit:true">
<!--页面主体布局-->
<div class="section-container">
    <div class="section-item section-item-one section-item-padding">
        <div class="standard-title">
            <h2 class='align-center gfsm-title'>外&nbsp;来&nbsp;人&nbsp;员&nbsp;管&nbsp;理&nbsp;规&nbsp;定</h2>
        </div>
        <div class="standard-content font-22">
            <dl>
                <dt>&nbsp;&nbsp;&nbsp;为加强我所得安全保卫工作，对外来人员来访特作如下规定：</dt>
                <dd>一、凡来访人员必须先到门卫室示证登记，由门卫通知被访人确定接访后，需先在门卫处领取出入卡，登记后方可入所；离所时要到门卫室登记注销，交还出入卡。</dd>
                <dd>二、凡来访人员所带物品须经门卫检查后方可通行，严防违禁物品带入所内。</dd>
                <dd>三、外来车辆停放在所门外指定地点，未经允许不准开入所内。</dd>
                <dd>四、本所工作人员的亲友来访一般不得在所内留宿，确需留宿的，须经值班领导批准，并办理出入登记手续。</dd>
                <dd>五、负责本所基建、装修的施工人员，凭门卫室发放的出入证方可进出本所，直至工程结束后交还。</dd>
                <dd>六、节假日及非办公时间一般不接待来访，特殊情况经值班领导同意后方可入所。</dd>
            </dl>
        </div>
    </div>
</div>
<!--页面主体布局-->
<script src="/apps/kss/static/lib/require.js" data-main="/apps/kss/static/js/require.config" id="current-page" current-page="pages/wlry/gfbz"></script>

<script src="/apps/kss/static/lib/loading.js"></script>
</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->