<!-- partial:../../partials/_easyui_head.html -->
<!-- partial -->

<body scroll="no" class="body-pd10 ">


    <div class="dataView-container">
        <div class="table-container">
            <div class="tabs-wrapper">
                <div id="tooles"></div>
                <table id="test_table"></table>
                <div id="menu" class="easyui-menu" style="display: none;">
                    <!--放置一个隐藏的菜单Div-->
                    <div id="btn_Delete">删除</div>
                    <!--具体的菜单事件请自行添加，跟toolbar的方法是基本一样的-->
                    <div id="btn_Modify">编辑</div>
                </div>
            </div>
        </div>
    </div>


    <!-- partial:../../partials/form/_test_form.html -->
    <!-- partial -->
    <!-- partial:../../partials/laywin.html -->
    <!-- partial -->

    <script src="/apps/swj/static/lib/require.js" data-main="page\kss\ywcx\kss.ywcx.cscx.js"></script>
    <script src="/apps/swj/static/js/require.config.js"></script>

</body>
<!-- partial:../../partials/_easyui_foot.html -->
<!-- partial -->