<!-- partial:../../partials/_easyui_head.html -->
<!-- partial -->

<body>
    <div id="page-51vui-View" scroll="no" class="body-pd10 ">
        <div class="rows">
            <div class="panel-box">
                <div class="panel panel-default">
                    <div class="panel-heading titlejia"><i class="fa fa-bar-chart fa-lg"></i>各所数据及时性</div>
                    <div class="panel-body">
                        <div id="Canvas3"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rows">
            <div class="panel-box">
                <div class="panel panel-default">
                    <div class="panel-heading titlejia"><i class="fa fa-area-chart fa-lg"></i>数据及时性详细</div>
                    <div class="panel-body">
                        <div id="test_table"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- partial:../../partials/laywin.html -->
<!-- partial -->

    <script src="/apps/swj/static/lib/require.js" data-main="page\jls\xxyp\jls.xxyp.wgqkfx.js"></script>
    <script src="/apps/swj/static/js/require.config.js"></script>

</body>
<!-- partial:../../partials/_easyui_foot.html -->
<!-- partial -->
