<div class="section-container container-columns thjyYwtz">
    <div class="container-position">
        <div class="section-item item-columns sidebar">
            <div class="sidebar-title">监区树<span class="iconfont icon-liebiaoxiangzuo"></span></div>
            <ul id="tt" class="easyui-tree">
                <li>
                    <span>第一监区</span>
                    <ul>
                        <li><span>第一监室</span></li>
                        <li><span>第一监室</span></li>
                        <li><span>第一监室</span></li>
                        <li><span>第一监室</span></li>
                        <li><span>第一监室</span></li>
                        <li><span>第一监室</span></li>
                    </ul>
                </li>
                <li>
                    <span>第二监区</span>
                    <ul>
                        <li><span>第二监室</span></li>
                        <li><span>第二监室</span></li>
                        <li><span>第二监室</span></li>
                        <li><span>第二监室</span></li>
                        <li><span>第二监室</span></li>
                        <li><span>第二监室</span></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="section-item item-columns adaptive ">
            <div class="section-header">
                <div class="section-title">简项查询</div>
                <div class="section-controls single-colors">
                    <button type="button"><span class="iconfont icon-jiahao"></span>&nbsp;&nbsp;新建</button>
                    <button type="button"><span class="iconfont icon-daochu"></span>&nbsp;&nbsp;导出</button>
                    <button type="button"><span class="iconfont icon-iconSVG-"></span>&nbsp;&nbsp;打印</button>
                </div>
                <div class="section-corner">
                    <button><span class="iconfont icon-gengduo7"></span></button>
                    <button><span class="iconfont icon-gengduo1"></span></button>
                    <button><span class="iconfont icon-gengduo6"></span></button>
                </div>
            </div>
            <div class="section-content">
                <table class="easyui-datagrid " data-options="url:'/mock/jds/datagrid/list',method:'GET',
                pagination:true,pageNumber:1,pageSize:5,pageList: [5,10,20,30,40,50],rownumbers:true,fitColumns:true,">
                    <thead>
                        <tr>
                            <th data-options="field:'ck',checkbox:true,width:'100'"></th>
                            <th data-options="field:'name',width: '100'">姓名</th>
                            <th data-options="field:'age', width: '100'">年龄</th>
                            <th data-options="field:'firstTalkingTime', width: '200'">首次谈话时间</th>
                            <th data-options="field:'personInCharge', width: '100'">负责人</th>
                            <th data-options="field:'title', width: '200'">谈话主题</th>
                            <th data-options="field:'content', width: '250'">谈话内容</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="container-position adaptive">
        <div class="section-item item-columns" style="width: 50%;">
            <div class="section-content">
                <table class="easyui-datagrid " data-options="url:'/mock/jds/datagrid/list',method:'GET',
                pagination:true,pageNumber:1,pageSize:4,pageList: [4,10,20,30,40,50],rownumbers:true,fitColumns:true,">
                    <thead>
                        <tr>
                            <th data-options="field:'ck',checkbox:true,width:'100'"></th>
                            <th data-options="field:'name',width: '100'">姓名</th>
                            <th data-options="field:'age', width: '100'">年龄</th>
                            <th data-options="field:'firstTalkingTime', width: '200'">首次谈话时间</th>
                            <th data-options="field:'personInCharge', width: '100'">负责人</th>
                            <th data-options="field:'title', width: '200'">谈话主题</th>
                            <th data-options="field:'content', width: '250'">谈话内容</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="section-item item-columns" style="width: 50%;">
            <div class="section-content">
                <table class="easyui-datagrid " data-options="url:'/mock/jds/datagrid/list',method:'GET',
                pagination:true,pageNumber:1,pageSize:4,pageList: [4,10,20,30,40,50],rownumbers:true,fitColumns:true,">
                    <thead>
                        <tr>
                            <th data-options="field:'ck',checkbox:true,width:'100'"></th>
                            <th data-options="field:'name',width: '100'">姓名</th>
                            <th data-options="field:'age', width: '100'">年龄</th>
                            <th data-options="field:'firstTalkingTime', width: '200'">首次谈话时间</th>
                            <th data-options="field:'personInCharge', width: '100'">负责人</th>
                            <th data-options="field:'title', width: '200'">谈话主题</th>
                            <th data-options="field:'content', width: '250'">谈话内容</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>