<!-- 照片维护 -->
<div class="section-item section-item-padding qa-list zpwh">
    <div class="section-header">
        <div class="section-title">
            <a href="#" class="active" id="zpwh">照片维护</a>
            <a href="#" class="shgl-title" id="shgl">手环管理</a>
        </div>
    </div>
    <div class="section-content">
        <div class="zpwh-content show">
            <div class="content-item">
                <img src="/apps/jds/static/images/djst/pic1.jpg" alt="" style="width: 150;height: 116px;">
                <p>人物 - <a href="#">小a</a></p>
            </div>
            <div class="content-item">
                <img src="/apps/jds/static/images/djst/pic2.jpg" alt="" style="width: 150;height: 116px;">
                <p>人物 - <a href="#">小b</a></p>
            </div>
            <div class="content-item">
                <img src="/apps/jds/static/images/djst/pic3.jpg" alt="" style="width: 150;height: 116px;">
                <p>人物 - <a href="#">小c</a></p>
            </div>
        </div>
        <div class="shgl-content">
            <table class="tmpl-table" style="width: 100%;"></table>
        </div>
    </div>
</div>
