<div class="item-content list_ul Special_ul" id="cwgdzc">
    <ul>
        <li>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>监区设施：<font>5</font></span></div>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>监区大门：<font>69</font></span></div>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>监区警报器：<font>203</font></span></div>
        </li>
        <li>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>警备枪械：<font>178</font></span></div>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>警备电击器：<font>52</font></span></div>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>警备钥匙：<font>239</font></span></div>
        </li>
        <li>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>文员电脑：<font>58</font></span></div>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>文员钥匙：<font>82</font></span></div>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>文员工牌：<font>71</font></span></div>
        </li>
        <li>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>食堂设施：<font>12</font></span></div>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>澡堂设施：<font>7</font></span></div>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>户外设施：<font>29</font></span></div>
        </li>
        <li>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>犯人衣服：<font>387</font></span></div>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>犯人工牌：<font>173</font></span></div>
            <div>
                <icon class="iconfont icon-taizhang"></icon><span>员工衣服：<font>97</font></span></div>
        </li>
    </ul>
</div>