<div class="wrap-item">
    <div class="item-content ">
        <div style="width:45%;height:100%;float:left;">
            <aside class="yw_player-card">
                <section>
                    <h2>未体检人员</h2>
                    <ul class="yw_list yw_horizontal">
                        <li id="wtjry" style="background: linear-gradient(to top right, #dc4141, #f73b4f, #f7715d);">12</li>
                    </ul>
                </section>
            </aside>
        </div>
        <div style="width:45%;height:100%;margin-left:5%;float:left;">
            <aside class="yw_player-card">
                <section>
                    <h2>已体检人员</h2>
                    <ul class="yw_list yw_horizontal">
                        <li id="ytjry" style="background: linear-gradient(to top right, #2dec44, #52bf36, #43e438);">29</li>
                    </ul>
                </section>
            </aside>
        </div>
    </div>
</div>