<div class="wrap-item">
    <div class="item-content">
        <div style="width:30%;height:100%;float:left;">
            <aside class="yw_player-card">
                <section>
                    <h2>在押人员</h2>
                    <ul class="yw_list yw_horizontal">
                        <li id="zyry" style="background: linear-gradient(to top right, #41b8dc, #3bb2f7, #5df7d3)">0</li>
                    </ul>
                </section>
            </aside>
        </div>
        <div style="width:30%;height:100%;float:left;margin-left:3%;">
            <aside class="yw_player-card">
                <section>
                    <h2>普通病号</h2>
                    <ul class="yw_list yw_horizontal">
                        <li id="ptbh" style="background: linear-gradient(to top right, #dc9e41, #f79e30, #eaa359)">0</li>
                    </ul>
                </section>
            </aside>
        </div>
        <div style="width:30%;height:100%;float:left;margin-left:3%;">
            <aside class="yw_player-card">
                <section>
                    <h2>重病号</h2>
                    <ul class="yw_list yw_horizontal">
                        <li id="zbh" style="background: linear-gradient(to top right, #dc4141, #f73b4f, #f7715d);">0</li>
                    </ul>
                </section>
            </aside>
        </div>
    </div>
</div>