<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><html><![endif]-->
<!--[if !IE]>-->
<html>
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <title>北京公安监察综合业务平台</title>
    <link rel="stylesheet" href="/apps/platform/static/css/yysz.css">
    <link rel="stylesheet" href="/apps/platform/static/lib/layui/css/layui.css">
</head>

<body>
    <div class="header">
        <div class="header-left">
            <img src="../static/images/logo_img.png" class="hader-logo" />
            <span class="logo-txt">北京监管综合业务平台</span>
        </div>
    </div>
    <div class="search clearfix">
        <div class="home-input">
            <div class="select-left"><span class="default">维护公告</span><i class="arrow-down"></i></div>
            <ul class="list" style="display: none;">
                <li>业务指导</li>
                <li>新闻要问</li>
                <li>通知公告</li>
            </ul>
            <div class="input-suggest">
                <input id="search-keyword" placeholder="搜索你想要的内容..." type="text" maxlength="100" autocomplete="off"
                    value="" class="content">
            </div>
            <a href="#" class="searchBtn">搜 索</a>
        </div>
    </div>
    <div class="main">
        <div class="tab-wrap my-app">
            <ul class="tab-title">
                <li class="title-item active">搜索结果</li>

            </ul>
            <div class="tab-content tab tab-main">
                <img class="BGimg" src="../static/images/bg_t.png"
                    style="position:absolute;left:0;width:100%;height:100%" />
                <div class="content-item1 active">
                    <div id="neironh">
                        <div class="ggContent" title="点击查看详情">
                            <a href="./index.html">
                                <h3>公告标题</h3>
                                <p>百度（纳斯达克：BIDU）（纳斯达克：BIDU）是全球最大的中文搜索引擎，中国最大的以信息和知识为核心的互联网综合服务公司，全球领先的人工智能平台型公司。百度愿景是：成为最懂用户，并能帮助人们成长的全球顶级高科技公司。
                                </p>
                                <div>时间：2020-05-23 10:23</div>
                            </a>
                        </div>
                        <div class="ggContent" title="点击查看详情">
                            <a href="./index.html">
                                <h3>公告标题</h3>
                                <p>百度（纳斯达克：BIDU）（纳斯达克：BIDU）是全球最大的中文搜索引擎，中国最大的以信息和知识为核心的互联网综合服务公司，全球领先的人工智能平台型公司。百度愿景是：成为最懂用户，并能帮助人们成长的全球顶级高科技公司。
                                </p>
                                <div>时间：2020-05-23 10:23</div>
                            </a>
                        </div>
                        <div class="ggContent" title="点击查看详情">
                            <a href="./index.html">
                                <h3>公告标题</h3>
                                <p>百度（纳斯达克：BIDU）（纳斯达克：BIDU）是全球最大的中文搜索引擎，中国最大的以信息和知识为核心的互联网综合服务公司，全球领先的人工智能平台型公司。百度愿景是：成为最懂用户，并能帮助人们成长的全球顶级高科技公司。
                                </p>
                                <div>时间：2020-05-23 10:23</div>
                            </a>
                        </div>
                        <div class="ggContent" title="点击查看详情">
                            <a href="./index.html">
                                <h3>公告标题</h3>
                                <p>百度（纳斯达克：BIDU）（纳斯达克：BIDU）是全球最大的中文搜索引擎，中国最大的以信息和知识为核心的互联网综合服务公司，全球领先的人工智能平台型公司。百度愿景是：成为最懂用户，并能帮助人们成长的全球顶级高科技公司。
                                </p>
                                <div>时间：2020-05-23 10:23</div>
                            </a>
                        </div>
                        <div class="ggContent" title="点击查看详情">
                            <a href="./index.html">
                                <h3>公告标题</h3>
                                <p>百度（纳斯达克：BIDU）（纳斯达克：BIDU）是全球最大的中文搜索引擎，中国最大的以信息和知识为核心的互联网综合服务公司，全球领先的人工智能平台型公司。百度愿景是：成为最懂用户，并能帮助人们成长的全球顶级高科技公司。
                                </p>
                                <div>时间：2020-05-23 10:23</div>
                            </a>
                        </div>
                        <div class="ggContent" title="点击查看详情">
                            <a href="./index.html">
                                <h3>公告标题</h3>
                                <p>百度（纳斯达克：BIDU）（纳斯达克：BIDU）是全球最大的中文搜索引擎，中国最大的以信息和知识为核心的互联网综合服务公司，全球领先的人工智能平台型公司。百度愿景是：成为最懂用户，并能帮助人们成长的全球顶级高科技公司。
                                </p>
                                <div>时间：2020-05-23 10:23</div>
                            </a>
                        </div>
                        <div class="ggContent" title="点击查看详情">
                            <a href="./index.html">
                                <h3>公告标题</h3>
                                <p>百度（纳斯达克：BIDU）（纳斯达克：BIDU）是全球最大的中文搜索引擎，中国最大的以信息和知识为核心的互联网综合服务公司，全球领先的人工智能平台型公司。百度愿景是：成为最懂用户，并能帮助人们成长的全球顶级高科技公司。
                                </p>
                                <div>时间：2020-05-23 10:23</div>
                            </a>
                        </div>
                        <div class="ggContent" title="点击查看详情">
                            <a href="./index.html">
                                <h3>公告标题</h3>
                                <p>百度（纳斯达克：BIDU）（纳斯达克：BIDU）是全球最大的中文搜索引擎，中国最大的以信息和知识为核心的互联网综合服务公司，全球领先的人工智能平台型公司。百度愿景是：成为最懂用户，并能帮助人们成长的全球顶级高科技公司。
                                </p>
                                <div>时间：2020-05-23 10:23</div>
                            </a>
                        </div>
                    </div>

                    <div id="test1"></div>
                </div>
            </div>
        </div>


    </div>
    <!-- <input type="text" id="myInput" onkeyup="myFunction()" onclick="myFunction()" placeholder="请输入关键字..." />
    <ul id="myUL" style="display:none">
        <li><a href="#" class="header1">百度系列</a></li>
        <li><a href="https://www.baidu.com/" target="_blank">百度</a></li>
        <li><a href="http://map.baidu.com/" target="_blank">百度地图</a></li>
        <li><a href="#" class="header1">百度系列2</a></li>
        <li><a href="http://news.baidu.com/" target="_blank">百度新闻</a></li>
        <li><a href="http://xueshu.baidu.com/" target="_blank">百度学术</a></li>
    </ul> -->
    <!-- <div id="test1"></div> -->
    <script src="/apps/platform/static/lib/require.js" data-main="ss.js"></script>
    <script src="/apps/platform/static/js/require.config.js"></script>
    <!-- <script src="">
        layui.use('laypage', function () {
            var laypage = layui.laypage;

            //执行一个laypage实例
            laypage.render({
                elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                    ,
                count: 50 //数据总数，从服务端得到
            });
        });
    </script> -->
</body>

</html>