<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><html><![endif]-->
<!--[if !IE]>-->
<html>
<!--<![endif]-->

<head>
  <meta charset="UTF-8" />
  <title>北京公安监察综合业务平台</title>
  <link rel="stylesheet" href="/apps/platform/static/css/yysz.css" />
</head>

<body>
  <div class="header">
    <div class="header-left">
      <img src="../static/images/logo_img.png" class="hader-logo" />
      <span class="logo-txt">北京监管综合业务平台</span>
    </div>
  </div>


  <div class="main">
    <div class="tab-wrap my-app">
      <ul class="tab-title">
        <li class="title-item active">详细情况</li>

      </ul>
      <div class="tab-content tab tab-main">
        <img class="BGimg" src="../static/images/bg_t.png" style="position:absolute;left:0;width:100%;height:100%" />
        <div class="content-item active">
          <h1 id="title"></h1>
          <h3 id="sj"></h3>
          <div class="xxxx" id="nrlist">
          </div>
        </div>
      </div>
    </div>


  </div>
  <script src="/apps/platform/static/lib/require.js" data-main="xq.js"></script>
  <script src="/apps/platform/static/js/require.config.js"></script>
</body>

</html>