<!--
模块名称： 
开始时间： 2020-3-7
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->
<body class="easyui-layout" data-options="fit:true">
<!--页面主体布局-->
<form class="ywdt-form">
    <div class="section-container bb">

    <div class="section-item section-item-title  section-item-row"><span class="iconfont icon-taizhang "></span>月报表</div>
    <div class="section-item align-center section-item-row">
        <h1>2019新月报表统计条件</h1>
    </div>
    <div class="section-item section-item-row">
        <div class="section-item-content align-right section-item-content-title">开始时间: </div>
        <div class="section-item-content"><input class="easyui-datebox" value="" /></div>
        <div class="section-item-content"><input type="button" id="searchBtn" value="统计" /></div>
    </div>
    <div class="section-item section-item-row">
        <div class="section-item-content align-right section-item-content-title">结束时间: </div>
        <div class="section-item-content"><input class="easyui-datebox" value="" /></div>
        <div class="section-item-content"><input type="button" id="searchBtn" value="重置" /></div>
    </div>

    <div class="section-item align-center section-item-row">
        <div class="section-item-content align-left section-item-content-title"><span class="red">注意事项: </span>
            <ul>
                <li>· 统计包含开始日期以及结束日期</li>
                <li>· 统计前应该确保没有出生日期、性别、婚姻状况、身份、文化程度为空的人员</li>
                <li>· 月末实有人数可以选择当前人员或所有人员进行计算</li>
                <li>· 上月末人数可以选择是否进行统计</li>
            </ul>
        </div>
    </div>



    </div>
</div>
</form>
<!--页面主体布局-->
<script src="/apps/jls/static/lib/require.js" data-main="/apps/jls/static/js/require.config" id="current-page" current-page="pages\bb\index"></script>

<script src="/apps/jls/static/lib/loading.js"></script>
</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->