<div class="form-column2">
    <div class="form-column-left">
        <select class="easyui-combobox" name="state" data-options="label:'物料类型:',required:true" labelPosition="top" style="width:100%;">
            <option value="AL">原材料</option>
            <option value="AK">辅料</option>
            <option value="AZ">产品</option>
            <option value="AR">深加工原料</option>
        </select>
    </div>
    <div class="form-column-left fm-left">
        <select class="easyui-combobox" name="state" data-options="label:'入库类型:',required:true" labelPosition="top" style="width:100%;">
            <option value="AL">原材料入库</option>
            <option value="AK">辅料入库</option>
            <option value="AZ">产品入库</option>
            <option value="AR">深加工原料入库</option>
        </select>
    </div>
</div>