<!--
模块名称： 规范帮助
开始时间： 2020-2-29
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-option="fit:true" style="overflow:scroll;">
    <!--页面主体布局-->
    <div class="section-container">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-title">
                <h2 class='align-center gfsm-title'>临 时 出 所</h2>
            </div>
            <div class="standard-content font-22">
                <dl>
                    <dt>一、出所凭证</dt>
                    <dd>（一）犯罪嫌疑人、被告人的配偶、父母或者子女病危或者死亡时，看守所根据当地公安机关派出所的书面证明，以及看守所所属公安机关和办案机关的书面批准手续办理出所。</dd>
                    <dd>（二）留所服刑罪犯的配偶、父母或者子女病危或者死亡时，看守所根据当地公安机关派出所的书面证明，经看守所所属公安机关书面批准后办理出所手续。</dd>
                    <dd>（三）看守所在押人员因涉及人身关系的诉讼必须出庭的，应当经所属公安机关批准，对于犯罪嫌疑人、被告人应当经办案机关以及看守所所属公安机关批准，凭人民法院出庭通知书办理出所手续。</dd>
                    <dd>（四）办案机关因办理其他案件需要将罪犯临时寄押到异地看守所的，看守所凭办案机关所在地的地市级以上公安机关公函，办理出所手续。</dd>
                    <dd>（五）人民法院因再审开庭需要将罪犯提出看守所的，看守所凭人民法院刑事再审决定书或者刑事裁定书，或者人民检察院抗诉书，办理出所手续。</dd>
                    <dd>（六）留所服刑罪犯需要办理婚姻登记等必须由本人实施的民事法律行为的，应当向看守所提出申请，经看守所领导审批后办理出所手续。</dd>
                    <dd>（七）被判处拘役的罪犯申请回家的，由罪犯本人提出申请，管教民警签署意见，经看守所所长审核后，报所属公安机关批准后办理临时出所手续。看守所应当发给其《拘役罪犯回家证明书》。
                    </dd>
                    <dd> 被判处拘役的外国籍罪犯提出回家申请的，看守所应当报地市级以上公安机关审批，凭地市级以上公安机关的批准决定办理出所手续。</dd>
                    <dd>（八）表现好的罪犯申请离所探亲的，报所属公安机关批准后，发给《罪犯离所探亲证明书》。</dd>
                    <dd>（九）在押人员出所就医的，凭看守所领导书面批准办理出所手续。</dd>
                    <dt>二、出所检查</dt>
                    <dd>对一.（1）至一.（6）项情形出所的，应当对出所人员的人身和携带物品进行检查，发现为其他在押人员捎带书信或者物品的，一律扣留；发现帮助其他在押人员串供或者有其他违法犯罪行为的，应当及时上报，依法处理。女性出所人员出所时，应当由女性民警进行人身检查。
                    </dd>
                    <dt>三、押解
                    </dt>
                    <dd>(一) 临时出所押解</dd>
                    <dd> 临时出所区分不同情况，分别由看守所民警、办案人员或者人民法院司法警察押解。每押解1名在押人员，押解人员不得少于2人。严禁使用非警务人员对在押人员进行押解看管。
                        <dl>
                            <dd> 1．犯罪嫌疑人、被告人因配偶、父母或者子女病危或者死亡需要出所探视的，由办案机关负责押解。</dd>
                            <dd>2．留所服刑罪犯因配偶、父母或者子女病危或者死亡以及需要出所办理结婚登记等必须由其本人实施的民事法律行为的，由看守所民警负责押解。</dd>
                            <dd>3．人民法院因开庭需要看守所在押人员出庭的，由人民法院司法警察凭有效工作证件押解。</dd>
                            <dd> 4．在押人员出所就医时，看守所应当按民警与患病在押人员2：1的比例配备押解看管警力。</dd>

                        </dl>
                    </dd>
                    <dd>(二) 交付执行押解
                        <dl>
                            <dd> 1．制定押解方案</dd>
                            <dd>罪犯交付执行时，看守所应当与武警部队共同研究押解方案，确保押解安全。</dd>
                            <dd>2．确定押解交通工具和路线</dd>
                            <dd> 了解沿途道路、车站、码头、城镇交通等情况，预测可能发生的问题以及应当采取的措施。对囚车进行检修，保证行车安全。乘坐火车、汽车或者轮船成批押解时，应当事先与车站码头联系，预定好车厢、座位等。同时，看守所还应当与押解途中经过地公安机关联系，协助做好押解工作。
                            </dd>
                            <dd> 3．准备押解工作</dd>
                            <dd>罪犯交付执行刑罚的，需准备人民检察院起诉书副本，人民法院的判决书、裁定书、执行通知书和结案登记表等材料，同时对材料进行认真检查核对，发现有错误的，应当与有关单位联系更正。途中需要寄押的，应当开具县级以上公安机关的介绍信。
                            </dd>
                            <dd> 4．执行押解工作</dd>
                            <dd>押解人员应当配备武器、警械，实行武装押解。押解过程中，若发生脱逃、行凶、自杀等问题时，应当及时采取有效措施予以处置，并及时报告看守所和公安机关领导。
                                押解女性被押解对象，必须由女性民警负责途中的生活管理。</dd>
                        </dl>
                    </dd>

                </dl>
            </div>
        </div>
    </div>
    <!--页面主体布局-->
    <script src="/apps/kss/static/lib/require.js" data-main="/apps/kss/static/js/require.config" id="current-page" current-page="pages/lscs/gfbz"></script>

    <script src="/apps/kss/static/lib/loading.js"></script>
</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->