<!DOCTYPE html>
<html lang="en">

<head id="Head1">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>北京综合业务办理平台</title>
    <meta name="KEYWords" contect="awd,上位机，总队">
    <meta name="author" contect="awd.nj">
    <!-- Meta -->
    <link href="/apps/swj/static/css/reset.css" rel="stylesheet" type="text/css" />
    <link href="/apps/swj/static/css/themes/metro/easyui.css" rel="stylesheet" type="text/css" />
    <link href="/apps/swj/static/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="/apps/swj/static/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/apps/swj/static/css/layer.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="../../../static/css/kssmain.css" type="text/css">
</head>

