<div class="head-bg">
    <div class="head-title ">
        <img src="../static/images/logo.png" class="head-logo" alt="" />
        <h1 class="font-32">北京公安监管综合业务平台</h1>
    </div>
    <div class="tit-right malign-tr">
        <div class="tit-right-cent malign-center dper-full-w">
            <div class="peo bg-img malign-tl "></div>
            <div class="tit-right-span malign-tr dper-full-h"><span class="malign-center-text font-20 dper-fw">北京监管总队办公室 | 李军欢迎您</span></div>
        </div>
    </div>
</div>