<!--
模块名称： 请假回所-规范帮助
开始时间： 2020-3-11
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-options="fit:true" style="overflow:scroll;">
    <!--页面主体布局-->
    <div class="section-container">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-title">
                <h2 class='align-center gfsm-title'>风险评估指标</h2>
            </div>
            <div class="standard-content font-22">
                <dl>
                    <dt>（一）在押人员有下列情形之一的，确定为一级重大安全风险：
                    <dd>
                        <dl>
                            <dd>1.有迹象表明可能闹拘自伤、自残、自杀、行凶、脱逃的或已实施上述行为未得逞的在押人员；</dd>
                            <dd> 2.在拘室内称王称霸、拉帮结伙、操纵拘室事务，欺侮、凌辱其他在押人员，侵犯他人人身权利，有“牢头狱霸”行为且屡教不改的在押人员；
                            </dd>
                            <dd>3.打架斗殴，或者不服从管理，严重扰乱监管秩序；</dd>
                            <dd>4.区县看守所关押的可能判处或已判处无期徒刑、死缓、死刑的在押人员；</dd>
                            <dd>5.精神、行为异常，疑似精神病需要鉴定的在押人员；</dd>
                            <dd>6.性格孤僻、与他人关系恶劣的；</dd>
                            <dd>7.其他严重危害监管安全，可能造成看守所事故的应当列入一级重大安全风险的情形。</dd>
                        </dl>
                    </dd>
                    </dt>
                    <dt>（二）在押人员有下列情形之一的，确定为二级重大安全风险：</dt>
                    <dd>
                        <dl>
                            <dd> 1.公、检、法、司机关工作人员；</dd>
                            <dd> 2.重要职务犯罪嫌疑人、被告人和罪犯。主要包括原正处级以上党政部门干部（含人大、政协、法院、检察院等）；原国有企事业单位正处级以上领导干部；
                            </dd>
                            <dd> 3.身份特殊的在押人员。主要包括省（自治区、直辖市）人大代表、政协委员；省（自治区、直辖市）级以上民主党派组织的负责人；省、部级以上党政领导干部的直系亲属；科技、艺术、体育、卫生、宗教界等有重要影响的知名人士；
                            </dd>
                            <dd>4. 涉嫌故意杀人等八类严重暴力犯罪以及涉黑、涉恶、涉暴犯罪团伙案件的首犯或主犯；</dd>
                            <dd>5.港、澳、台籍和外国籍或无国籍人员；</dd>
                            <dd> 6.法轮功人员</dd>
                            <dd>7.案件在国内外有重大政治、社会影响，舆论关注度高，案件敏感的以及中央领导交办或市局以上领导批示案件的在押人员；</dd>
                            <dd>8.有畏罪或仇视、报复社会心理的；</dd>
                            <dd> 9.连续绝食两日以上，拒不配合治疗的；</dd>
                            <dd>10.不服从管理教育，顶撞监管民警、医护等看守所工作人员，情节严重的；</dd>
                            <dd>11.藏匿危险品、违禁品，经教育拒不悔改或不能讲清危险品、违禁品来源及用途的；</dd>
                            <dd>12. 违反拘留所规则、在押人员一日生活制度等规定经教育拒不悔改的；</dd>
                            <dd> 13. 有进行网络舆论炒作企图的；</dd>
                            <dd>14. 应当列入的其他情形。</dd>
                        </dl>
                    </dd>
                    <dt>（三）在押人员有下列情形之一的，确定为三级重大安全风险：</dt>
                    <dd>
                        <dl>
                            <dd>1.患有器质性心脏病、高血压、脑血管疾病、重型糖尿病合并心肾疾病等严重疾病，可能有生命危险的在押人员；</dd>
                            <dd>2.有外伤可能致残或危及生命的在押人员；</dd>
                            <dd> 3.有严重毒瘾戒断综合症的吸毒人员；</dd>
                            <dd>4.身体残疾，或者生活不能自理，或者中度以上抑郁、焦虑；</dd>
                            <dd> 5.智力严重低下、聋哑人、侏儒、两性人；</dd>
                            <dd>6.羁押期间突发疾病可能引发生命危险的在押人员；</dd>
                            <dd> 7.年满70岁以上且体弱多病、生活自理能力较差的；</dd>
                            <dd>8.医务人员认为有必要列入的其他情形。</dd>
                        </dl>
                    </dd>
                    <dt>（四）同时具有2种以上重大风险情形的，从高确定风险等级。</dt>
                    <dt>（五）非重大安全风险的在押人员为一般安全风险人员。</dt>

                </dl>
            </div>
        </div>
    </div>
    <!--页面主体布局-->
    <script src="/apps/jls/static/lib/require.js" data-main="/apps/jls/static/js/require.config" id="current-page" current-page="pages/qjhs/ywlc"></script>

<script src="/apps/jls/static/lib/loading.js"></script>

</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->