<!--
模块名称： 领导查询-家属会见
开始时间： 2020-2-25
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->
<body class="easyui-layout" data-option="fit:true">
<!--页面主体布局-->
<!-- 布局模板：上下（左右）-->
<!-- <div class="section-container jshj-container">
    <div class="section-item section-item-padding" >
        <div class="section-container section-container-row" style="display: block;">
            <div class="section-item " style="height:18%;">
                    <div class="section-header">
                        <div class="section-title">简项查询</div>
                        <div class="section-controls single-colors" id="tools">
                        </div>
                        <div class="section-corner" id="links">
                        </div>
                    </div>
                    <div class="section-item-content border-top">
                        <form id="search" class="search-form"></form>
                    </div>

            </div>
            <div class="section-item section-item-padding" style="height:82%">
                <div class="section-container section-container-row">
                    <div class="section-item " style="width:60%;">
                        <div class="section-container">
                            <div class="section-item title">会见记录</div>
                            
                            <table id="hjjlTable"></table>
                        </div>
                    </div>
                    <div class="section-item section-item-padding"  style="width:40%;">
                        <div class="section-container ">
                            <div class="section-item title">家属记录</div>
                            <table id="jsjlTable"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div> -->
<div class="section-container jshj-container">
    <div class="section-item section-item-one section-item-padding">
        <div>
            <div class="section-header">
                <div class="section-title">简项查询</div>
                <div class="section-corner" id="links"></div>
            </div>
            <div class="section-item-content border-top">
                <form id="search" class="search-form"></form>
            </div>
        </div>
        <div class="section-item section-item-padding" >
            <div class="section-container section-container-row">
                <div class="section-item section-item-padding" style="width:60%">
                    <div class="jshjTitle">会见记录</div>
                    <table id="hjjlTable"></table>
                </div>
                <div class="section-item section-item-padding border-left" style="width:39%">
                    <div class="jshjTitle">家属记录</div> 
                    <table id="jsjlTable"></table>
                </div>
            </div>
        </div>
    </div>
</div> 
<!--页面主体布局-->
<script src="/apps/kss/static/lib/require.js" data-main="/apps/kss/static/js/require.config" id="current-page" current-page="pages/ldcx/jshj"></script>

<script src="/apps/kss/static/lib/loading.js"></script>
</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->