<!-- partial:../../partials/_easyui_head.html -->
<!-- partial -->

<body scroll="no" class="body-pd10 ">


    <div class="dataView-container">
        <div class="table-container">
            <div class="tabs-wrapper">
                <div id="bgsJsjcsj">

                </div>
<!--                <div class="jxcx">-->
<!--                    <div class="jxcxText"><i class="fa fa-search"></i>简项查询-->
<!--                        <div class="titlebutton">-->
<!--                            <a href="javascript:;" class="add" id="newData"><i class="fa fa-plus-square success"></i>添加</a>-->
<!--                            <a href="javascript:;" class="edit" id="editData" ><i class="fa fa-pencil-square info"></i>编辑</a>-->
<!--                            <a href="javascript:;" class="del" id="delData"><i class="fa fa-times-rectangle danger"></i>删除</a>-->
<!--                            <a href="javascript:;" class="count" id="excelData"><i class="fa fa-pie-chart purple"></i>导出</a>-->
<!--                            <a href="javascript:;" class="check" id="printData"><i class="fa fa-check-circle yellow"></i>打印</a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="comp-search-box">-->
<!--                    <div class="screen-top">-->
<!--                        <div class="colRow">-->
<!--                            监所名称:-->
<!--                            <input id="" type="text" class="easyui-textbox" name="name" />-->
<!--                        </div>-->
<!--                        <div class="colRow">-->
<!--                            月份:-->
<!--                            <input id="" type="text" class="easyui-textbox" name="name" />-->
<!--                        </div>-->
<!--                        <div class="colRow">-->
<!--                            <button class="easyui-linkbutton btnDefault">-->
<!--                                <i class="fa fa-search"></i>查询-->
<!--                            </button>-->
<!--                            <button class="easyui-linkbutton btnDefault" style="margin-left: 15px;">-->
<!--                                <i class="fa fa-sign-out"></i>导出-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
                <table id="test_table"></table>
            </div>
        </div>
    </div>


    <!-- partial:../../partials/form/_test_form.html -->
    <!-- partial -->
    <!-- partial:../../partials/laywin.html -->
    <!-- partial -->

    <script src="/apps/swj/static/lib/require.js" data-main="page\bgs\bssj\bgs.jsjcsj.js"></script>
    <script src="/apps/swj/static/js/require.config.js"></script>
</body>
<!-- partial:../../partials/_easyui_foot.html -->
<!-- partial -->
