<!--
模块名称： 请假回所-规范帮助
开始时间： 2020-3-11
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-options="fit:true" style="overflow:scroll;">
    <!--页面主体布局-->
    <div class="section-container">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-title">
                <h2 class='align-center gfsm-title'>出&nbsp;&nbsp;&nbsp;&nbsp;所</h2>
            </div>
            <div class="standard-content font-22">
                <dl>
                    <dt>一、出所手续</dt>
                    <dd>（一）被拘留人拘留期满或者被依法决定提前解除拘留、请假出所、变更处理的，拘留所应当认真核对被拘留人身份和有关法律文书，根据不同情形办理相应的出所手续。</dd>
                    <dd>（二）拘留期满。被拘留人拘留期满的，应当开具《解除拘留证明书》，按期释放。执行拘留的时间应当以日为单位计算，入所当日不计算在内，执行到第二日即为一日。</dd>
                    <dd>（三）因病提前解除拘留。拘留所凭拘留决定机关批准的因病提前解除拘留决定，发给《提前解除拘留证明书》，将被拘留人交由其亲属接回治疗。</dd>
                    <dd>（四）请假出所。拘留所凭拘留决定机关的批准手续，办理被拘留人请假出所，并发给《被拘留人请假出所证明》。
                    </dd>
                    <dd>（五）变更处理。被拘留人有下列情形之一的，拘留所应当向有关机关和单位移送被拘留人：
                        <dl>
                            <dd>1．依法被限期出境、驱逐出境的；</dd>
                            <dd>2．依法被决定执行刑事强制措施的；</dd>
                            <dd>3．依法被责令社区戒毒、强制隔离戒毒的；</dd>
                            <dd>4．依法被采取强制性教育矫治措施的。</dd>
                            <dd>移送前应先查验有关法律文书和办案人员的身份证件，经确认无误后，由有关办案人员在相应法律文书的原件或复印件上注明出所时间、去向并签名（签名件留下归档），将 被拘留人移交有关人员。
                            </dd>
                        </dl>
                    </dd>
                    <dt>二、出所程序</dt>
                    <dd>(一)开展出所谈话教育。被拘留人在解除拘留前，拘留所民警应当对每个出所人员进行谈话教育，并征求对拘留所工作的意见建议。</dd>
                    <dd>(二)收回公用物品。</dd>
                    <dd>(三)返还代管的财物。值班民警根据被拘留人出示的《暂存物品收据》等凭证，核对无误后将代管的财物，返还被拘留人。被拘留人应在《暂存物品收据》等凭证上签名、捺手印</dd>
                    <dd>(四)出所登记。值班民警在《被拘留人出入所登记薄》上登记并签名。</dd>
                </dl>
            </div>
        </div>
    </div>
    <!--页面主体布局-->
    <script src="/apps/jls/static/lib/require.js" data-main="/apps/jls/static/js/require.config" id="current-page" current-page="pages/qjhs/ywlc"></script>

<script src="/apps/jls/static/lib/loading.js"></script>

</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->