@for $i from 1 to 10{
  .z-level-#{$i}{
    z-index: $i;
  }
}

.dper-por {
  position: relative;
}
.co-14c5ff {color: #14c5ff;}
.co-0cf {color: #0cf;}
.co-15ee67 {color: #15ee67;}
.co-18e0e4 {color: #18e0e4;}
.co-f77e49 {color: #f77e49;}
.co-1384ec {color: #1384ec;}
.co-2c4fba {color: #2c4fba;}
.co-caecff {color: #caecff;}
.co-2e7bd7 {color: #2e7bd7;}
.co-ed1431 {color: #ed1431;}
.co-1fadff {color: #1fadff;}
.co-ed1330 {color: #ed1330;}
.co-0cb5fc {color: #0cb5fc;}
.co-1dd2ff {color: #1dd2ff;}
.co-2ba8ff {color: #2ba8ff;}
.co-16ee68 {color: #16ee68;}
.co-ccc {color: #ccc;}
.co-1b70ff {color: #1b70ff;}
.co-a8c6d8 {color: #a8c6d8;}
.co-ed0e2d {color: #ed0e2d;}
.pse-0 { background-color: rgba(21,238,103,.3);}
.pse-1 { background-color: rgba(26,239,242,.3);}
.pse-2 { background-color: rgba(247,126,73,.3);}
.pse-3 { background-color: rgba(19,132,236,.3);}
.map-circle-0 {
  background-color: #18ee69;
  box-shadow: inset 0 0 6px 0 rgba(255,255,255,.8);
}
.map-circle-1 {background-color: #ed1130;
  box-shadow: inset 0 0 6px 0 rgba(255,255,255,.8);
}
.co-white-half {color: rgba(255,255,255,.5);}
.linear-ver-col {
  color: #36b3ff;
  background: -webkit-linear-gradient(top, #fff 70%, #348fff, #4cffec);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linear-top-4bdffb {
  color: #4bdffb;
  background: -webkit-linear-gradient(top, #7afffd, #30c6d3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chart-bar-0 {
  color: #fff;
  background: -webkit-linear-gradient(top, #ff6d00, #ff027f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chart-bar-1 {
  color: #fff;
  background: -webkit-linear-gradient(top, #fcc204, #ef6e18);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chart-bar-2 {
  color: #fff;
  background: -webkit-linear-gradient(top, #58ffb9, #00dcb6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.chart-bar-3 {
  color: #fff;
  background: -webkit-linear-gradient(top, #2a93f8, #118aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.linear-left-col {
  color: #36b3ff;
  background: -webkit-linear-gradient(left, #4bdfff, #5387f8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.box-shadow {
  -webkit-text-shadow: 0 4px 10px #0b2e3c;
  -moz-text-shadow: 0 4px 10px #0b2e3c;
  text-shadow: 0 4px 10px #0b2e3c;
}

.dper-radius {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.dper-hide {
  overflow: hidden;
}
.lg-hide {
  display: none;
}
.layui-laydate, .layui-laydate-hint {
  background-color: #1e2e52 !important;
  .layui-laydate-main {
    .layui-laydate-content {
      border: none;
      th {
        color: #f2f2f2;
      }
      .laydate-day-prev,.laydate-day-next {
        color: #888;
      }
      td {
        color: #d2d2d2;
        &:hover {
          background-color: #224da0;
        }
      }
      .layui-laydate-list {
        background-color: #1e2e52;
        li {
          p {
            color: #f2f2f2;
          }
          ol {
            border: none;
            li {
              color: #828282;
            }
          }
        }
      }
    }
  }
  >.layui-laydate-footer {
    border: none !important;
    background-color: #122449;
    > span {
      color: #f2f2f2;
      &:hover {
        color: #6cafd1;
      }
    }
    >.laydate-btns-time {
      color: #fff;
    }
    .laydate-footer-btns {
      .laydate-btns-now {
        border: none;
        border-right: 1px solid #0f1224;
        background-color: #224da0;
        color: #fff;
      }
      .laydate-btns-confirm {
        border: none;
        border-left: 1px solid #0f1224;
        background-color: #224da0;
        color: #fff;
      }
    }
  }
}
