<div class="col-md-2 col-sm-12 col-xs-12">
    <div class="board">
        <div class="panel panel-primary">
            <h3 class="panel-title" style="background-color:#00A2E9;">今日总入所数</h3>
            <div class="number">
                <h3 ><a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;all&quot;}">{{all.zs}}</a></h3>
            </div>
            <div id="budget"></div>
            <div class="indicateNum">
                <div class="rows">
                    男性<br />
                    <a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;all&quot;,&quot;xb&quot;:&quot;1&quot;}">{{all.nan}}</a>人
                </div>
                <div class="rows line">
                    女性<br />
                    <a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;all&quot;,&quot;xb&quot;:&quot;2&quot;}">{{all.nv}}</a>人
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 col-sm-12 col-xs-12">
    <div class="board">
        <div class="panel panel-primary">
            <h3 class="panel-title" style="background-color:#DD4810;">看守所新收数</h3>
            <div class="number">
                <h3><a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;kss&quot;}">{{kss.zs}}</a></h3>
            </div>
            <div id="fixation"></div>
            <div class="indicateNum">
                <div class="rows">
                    男性<br />
                    <a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;kss&quot;,&quot;xb&quot;:&quot;1&quot;}">{{kss.nan}}</a>人
                </div>
                <div class="rows line">
                    女性<br />
                    <a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;kss&quot;,&quot;xb&quot;:&quot;2&quot;}">{{kss.nv}}</a>人
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 col-sm-12 col-xs-12">
    <div class="board">
        <div class="panel panel-primary">
            <h3 class="panel-title" style="background-color:#D972E3;">拘留所新收所</h3>
            <div class="number">
                <h3><a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;jsl&quot;}">{{jls.zs}}</a></h3>
            </div>
            <div id="fixation"></div>
            <div class="indicateNum">
                <div class="rows">
                    男性<br />
                    <a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;jls&quot;,&quot;xb&quot;:&quot;1&quot;}">{{jls.nan}}</a>人
                </div>
                <div class="rows line">
                    女性<br />
                    <a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;jls&quot;,&quot;xb&quot;:&quot;2&quot;}">{{jls.nv}}</a>人
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 col-sm-12 col-xs-12">
    <div class="board">
        <div class="panel panel-primary">
            <h3 class="panel-title" style="background-color:#FFA300;">戒毒所新收数</h3>
            <div class="number">
                <h3><a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;jds&quot;}">{{jds.zs}}</a></h3>
            </div>
            <div id="fixation"></div>
            <div class="indicateNum">
                <div class="rows">
                    男性<br />
                    <a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;jds&quot;,&quot;xb&quot;:&quot;1&quot;}">{{jds.nan}}</a>人
                </div>
                <div class="rows line">
                    女性<br />
                    <a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;jds&quot;,&quot;xb&quot;:&quot;2&quot;}">{{jds.nv}}</a>人
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 col-sm-12 col-xs-12">
    <div class="board">
        <div class="panel panel-primary">
            <h3 class="panel-title" style="background-color:#6656DD;">监护医疗新收数</h3>
            <div class="number">
                <h3><a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;jhyl&quot;}">{{jhyl.zs}}</a></h3>
            </div>
            <div id="fixation"></div>
            <div class="indicateNum">
                <div class="rows">
                    男性<br />
                    <a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;jhyl&quot;,&quot;xb&quot;:&quot;1&quot;}">{{jhyl.nan}}</a>人
                </div>
                <div class="rows line">
                    女性<br />
                    <a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;jhyl&quot;,&quot;xb&quot;:&quot;2&quot;}">{{jhyl.nv}}</a>人
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2 col-sm-12 col-xs-12">
    <div class="board">
        <div class="panel panel-primary">
            <h3 class="panel-title" style="background-color:#56BD4E;">强制医疗新收数</h3>
            <div class="number">
                <h3><a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;qzyl&quot;}">{{qzyl.zs}}</a></h3>
            </div>
            <div id="fixation"></div>
            <div class="indicateNum">
                <div class="rows">
                    男性<br />
                    <a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;qzyl&quot;,&quot;xb&quot;:&quot;1&quot;}">{{qzyl.nan}}</a>人
                </div>
                <div class="rows line">
                    女性<br />
                    <a href="#" class="jsdtlist" url="/mock/test" param="{&quot;jslx&quot;:&quot;qzyl&quot;,&quot;xb&quot;:&quot;2&quot;}">{{qzyl.nv}}</a>人
                </div>
            </div>
        </div>
    </div>
</div>