<!--
模块名称： 相关报表
开始时间： 2020-2-25
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->
<body class="easyui-layout" data-option="fit:true">
<!--页面主体布局-->
<div class="section-container xgbb-container">
    <div class="section-item section-item-one section-item-padding">
        <div class="section-header">
            <div class="section-title">简项查询</div>
        </div>
        <div class="section-item-content border-top">
            <!-- <form id="search" class="search-form"></form> -->
            <form id="fm" name="aqjcfm" method="post" style="padding: 0 18px 0 18px;;display:flex;" class="awdform">
                <table class="container-formtable xgbb-search">
                    <tr>
                        <td>起始年月<font style="color:red;">*</font>：</td>
                        <td style="margin-right:50px;"><input class="easyui-datebox" id="qsny" missingMessage="该输入项为必填项" style="min-width:168px" required> </td>
                        <td>终止年月<font style="color:red;">*</font>：</td>
                        <td ><input class="easyui-datebox" id="zzny" missingMessage="该输入项为必填项" style="min-width:168px" required> </td>
                        <td>
                            <button type="button" id="print"><span class="iconfont icon-jiahao"></span>打印</button>
                        </td>
                    </tr>
                </table>
            </form>
            <form id="xgbb_form">
                <div class="formRadio">
                    <input type="radio" id="districtAndCase" name="xgbb" value="kss_dqyabfx">
                    <label for="districtAndCase" name="title">地区与案别分析</label>
                  </div>
                  <div class="formRadio">
                    <input type="radio" id="gender" name="xgbb" value="kss_abcxbtj">
                    <label for="gender" name="title">性别分析</label>
                  </div>
                  <div class="formRadio">
                    <input type="radio" id="caseAndProfession" name="xgbb" value="kss_abcajandlb">
                    <label for="caseAndProfession" name="title">案别与职业分析</label>
                  </div>
                  <div class="formRadio">
                    <input type="radio" id="ageAndCase" name="xgbb" value="kss_abcnlandab">
                    <label for="ageAndCase" name="title">年龄与案别分析</label>
                  </div>
                  <div class="formRadio">
                    <input type="radio" id="detention" name="xgbb" value="kss_abccjsy">
                    <label for="detention" name="title">超期羁押分析</label>
                  </div>
                  <div class="formRadio">
                    <input type="radio" id="genderAndRegional" name="xgbb" value="kss_abcxbanddq">
                    <label for="genderAndRegional" name="title">性别与地区分析</label>
                  </div>
             </form>
        </div>
    </div>
</div> 
<!--页面主体布局-->
<script src="/apps/kss/static/lib/require.js" data-main="/apps/kss/static/js/require.config" id="current-page" current-page="pages/_xgbb/index"></script>

<script src="/apps/kss/static/lib/loading.js"></script>
</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->