<!--
模块名称： 规范帮助
开始时间： 2020-3-11
-->
<!--
模块名称： 请假回所-规范帮助
开始时间： 2020-3-11
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-options="fit:true" style="overflow:scroll;">
    <!--页面主体布局-->
    <div class="section-container">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-title">
                <h2 class='align-center gfsm-title'>谈话教育</h2>
            </div>
            <div class="standard-content font-22">
                <dl>
                    <dd>为规范治安拘留所新收治的被拘留人员管理工作，维护良好的监管秩序，维护在拘人的合法权益，确保监管场所安全，特制定本谈话制度。</dd>
                    <dd>一、新收治的被拘留人员入所后24小时内，责任管教民警必须对其进行第一次谈话，稳定其入所后的烦躁、不安、恐惧等不良情绪。</dd>
                    <dd>二、谈话教育的主要内容有：
                        <dl>
                            <dd>（一）告知其在所期间应享有的权利和应尽的义务。</dd>
                            <dd>（二）掌握被拘留人员的基本情况、主要违法事实、家庭成员、社会关系、联系电话等有关情况。</dd>
                            <dd>（三）对检举揭发的违法犯罪线索认真记录并及时通知相关部门。</dd>
                        </dl>
                    </dd>
                    <dd>三、管教民警根据被拘留人的性格特点、违法性质、心理状况、拘留表现等，有针对性地进行个别谈心教育、心理咨询与矫治，及时掌握被拘留人思想动态。每名被拘留人在拘留期间的个别谈话不少于2次。</dd>

                </dl>
            </div>
        </div>
    </div>
    <!--页面主体布局-->
    <script src="/apps/jls/static/lib/require.js" data-main="/apps/jls/static/js/require.config" id="current-page" current-page="pages/qjhs/ywlc"></script>

<script src="/apps/jls/static/lib/loading.js"></script>

</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->