<!-- 布局模板：左右两栏-->
<div class="section-container section-container-row">
    <div class="section-item">
        <div id="tree">
            <div class="tree-Headline">监区树<span class="iconfont icon-liebiaoxiangzuo"></span></div>
            <ul class="easyui-tree" id="jqtree"></ul>
        </div>
    </div>
    <div class="section-item section-item-padding">
        <div class="section-header">
            <div class="section-title">简项查询</div>
            <div class="section-controls single-colors" id="tools">
            </div>
            <div class="section-corner" id="links">
            </div>
        </div> 
        <div class="section-item-content border-top">
            <form id="search" class="search-form"></form>
            <table id="table" ></table>
        </div>
    </div>
</div>