<!-- 布局模板：上下两栏 -->
<div class="section-container swtz-container">
    <div class="section-item section-item-one section-item-padding ">
        <div class="section-header">
            <div class="section-title">简项查询</div>
            <div class="section-controls single-colors" id="tools"></div>
            <div class="section-corner" id="links"></div>
        </div>
        <div class="section-item-content border-top" style="height: 527px;">
            <form id="search" class="search-form"></form>
            <table id="table" class="padding-18"></table>
        </div>
    </div>
    <!-- <div class="section-item section-item-padding" style="overflow: hidden;">
        <div class="section-item-content swtz-secondTable">
            <div class="swtz-record">
                <ul class="tab" style="margin-left: 16px;">
                    <li class="tab-item">照片维护</li>
                    <li class="tab-item">手环管理</li>
                </ul>
                <div class="content products">
                    <div class="mainCont selected">
                        <table id="zpwhTable" class="grid"></table>
                    </div>
                    <div class="mainCont" id="shgl">
                        <table style="overflow: hidden;" id="shglTable" class="grid"></table>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>