<div class="section-container" >
    <div class="section-item section-item-one section-item-padding">
        <div class="standard-title">
            <h2 class='align-center gfsm-title' >收押</h2>
        </div>
        <div class="standard-content font-22">
            <dl>
                <dt>一、查验法律文书</dt>
                    <dd>（一）依法被拘留、逮捕的犯罪嫌疑人、被告人，凭《拘留证》、《逮捕证》收押。</dd>
                    <dd>（二）在侦查阶段，跨县级以上行政区域异地羁押的，凭《拘留证》、《逮捕证》以及两地看守所共同的上一级公安监管部门的审批手续收押。</dd>
                    <dd>（三）改变管辖的，凭办案机关改变管辖的法律文书和指定管辖决定书收押。</dd>
                    <dd>（四）县级以上公安机关、国家安全机关、监狱、人民法院、人民检察院执行追捕、押解任务需要临时寄押的，凭《通缉令》或者县级以上送押机关的公函，并经寄押地县级以上公安机关批准后收押。
                        <!-- <dl>
                            <dd>1、患有精神疾病或者急性传染病；</dd>
                            <dd>2、具有《保外就医疾病伤残范围》所列疾病，在羁押中可能发生生命危险或者生活不能自理的，以及70岁以上的老年人。其中，因涉黑、涉恶、涉及暴力犯罪等不羁押对社会有危险性而必须羁押的，应当由看守所所属公安机关主要领导书面批准；</dd>
                            <dd>3、怀孕或者哺乳自己婴儿的妇女。</dd>
                        </dl> -->
                    </dd>
                    <dd>（五）抓获网上在逃人员需要临时寄押的，凭《全国在逃人员信息系统》中的《在逃人员登记信息表》和电子法律文书的打印件，并经寄押地县级以上公安机关批准后收押。</dd>
                    <dd>（六）判决前未被羁押，一审判决被判处实刑的被告人需要收押的，凭一审判决书和《逮捕证》收押。</dd>
                    <dd>（七）暂予监外执行条件消失、刑期未执行完毕、需要收监执行的罪犯，凭执行机关的《收监执行通知书》收押。</dd>
                    <dd>（八）人民法院裁定撤销假释、缓刑予以收监执行的罪犯，凭人民法院撤销假释、缓刑的裁定书和原判决书收押。</dd>
                    <dd>（九）再审案件的原审被告人，凭人民检察院刑事抗诉书或者人民法院再审决定书收押；上级人民法院提审的案件异地开庭，需要临时羁押在异地看守所的罪犯，异地看守所凭刑事再审的诉讼文书、上一级人民法院决定提审案件的手续收押。</dd>
                    <dd>（十）判决前已经羁押的罪犯留所服刑的，凭人民检察院起诉书副本和人民法院判决书、裁定书、执行通知书、结案登记表收押;判决前未被羁押，判决后需要收监执行刑罚的罪犯，凭人民法院生效判决书或者裁定书收押。</dd>
                    <dd>已交付执行刑罚的罪犯，因发现新罪需要解回看守所羁押的，凭《拘留证》、《逮捕证》收押；因其他案件需要解回配合侦查的，凭办案机关的公函收押。没有上述凭证，或者凭证印章不清、凭证的记载与实际情况不符的，不予收押。</dd>
                <dt>二、核对身份</dt>
                     <dd>（一）看守所新收押人员必须由医生进行健康检查。</dd>
                     <dd>（二）健康检查的项目为：血压、血常规、心电图、B超、胸片等；问诊的项目为：目前的身体状况、以往病史、药物过敏史、家族病史等，对女性人员还需询问有无怀孕等情况，并进行妊娠检查。健康检查结果不能及时作出的，看守所可以暂时收押，健康检查结果出来后不符合收押条件的，看守所应当及时提请案件主管机关变更强制措施。</dd>
                     <dd>（三）对被收押人员的体表检查应当裸身进行，发现犯罪嫌疑人、被告人和罪犯有外伤的（包括陈旧性外伤），应当如实记录，并拍照固定。</dd>
                     <dd> 对女性被收押人员的体表检查，由女性民警进行。</dd>
                     
            </dl>
        </div>
    </div>
</div>