<!-- 布局模板：田字格布局-->
<div class="section-container pljstz-content">
    <div class="section-item section-item-padding" style="height:50%;">
        <div class="section-container section-container-row">
            <div class="section-item section-item-padding">
                <div class="section-container ">
                    <div class="section-item" id="jstz-pltz">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-item section-item-padding" style="height:50%;">
        <div class="section-container section-container-row">
            <div class="section-item " style="width:50%;">
                <div class="section-container">
                    <div class="section-item title">监室人员</div>
                    <div class="section-item-padding" id="jsry">
                    

                        
                                <!-- <div class="jsry-tp">
                                    <div class="jsry-img">
                                        <img src="../../../static/images/Person.png" alt="">
                                    </div>
                                    <div style="width:80px;">名字：你好</div>
                                </div> -->
                
                                

                    </div>
                </div>
            </div>
            <div class="section-item section-item-padding border-left"  style="width:50%;">
                <div class="section-container ">
                    <div class="section-item title">人员详情</div>
                    <div class="section-item-padding">
                        
                        
                        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;display:flex;" class="awdform">
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">姓名：</td>
                                    <td ><input class="easyui-textbox" style="min-width:150px;"> </td>
                                    <td class="formtd">性别：</td>
                                    <td ><input class="easyui-textbox" style="min-width:150px;"> </td>
                                    <td rowspan='5' colspan="1"><img src="../../../static/images/moren.jpg" alt=""></td>
                                </tr>
                                <tr>
                                    <td class="formtd">别名：</td>
                                    <td ><input class="easyui-textbox" style="min-width:150px;"> </td>
                                    <td class="formtd">出生日期：</td>
                                    <td ><input class="easyui-textbox" style="min-width:150px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">证件类型：</td>
                                    <td ><input class="easyui-textbox" style="min-width:150px;"> </td>
                                    <td class="formtd">民族：</td>
                                    <td ><input class="easyui-textbox" style="min-width:150px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">政治面貌</td>
                                    <td ><input class="easyui-textbox" style="min-width:150px;"> </td>
                                    <td class="formtd">职业：</td>
                                    <td ><input class="easyui-textbox" style="min-width:150px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">婚否：</td>
                                    <td ><input class="easyui-textbox" style="min-width:150px;"> </td>
                                    <td class="formtd">文化程度：</td>
                                    <td ><input class="easyui-textbox" style="min-width:150px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">户籍地：</td>
                                    <td colspan="5"><input class="easyui-textbox" style="width:100%;"> </td>
                                </tr>
                            </table>
                            
                        </form>

                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>