<!-- 布局模板：上下两栏 -->
<!-- <div class="section-container">
    <div class="section-item ">
        <div class="section-header">
            <div class="section-title" id="title">简项查询</div>
            <div class="section-controls single-colors" id="tools"></div>
            <div class="section-corner" id="links"></div>
        </div>
        <div class="section-item-content border-top">
            <form id="search" class="search-form"></form>
            <table id="table" class="padding-18"></table>
        </div>
    </div>
   <div class="section-item section-item-padding " style="margin-top:1.04%">
       <div class="section-header">
           <div class="section-title">
               <div class="section-title" id="subtitle"></div>
           </div>
       </div>
       <div class="section-item-content  border-top">
           <table id="subtable" class="padding-18"></table>
       </div>
   </div>
</div> -->
<div class="section-container">
    <div class="section-item section-item-one section-item-padding">
        <div class="section-header">
            <div class="section-title">简项查询</div>
            <div class="section-controls single-colors" id="tools">
            </div>
            <div class="section-corner" id="links">
            </div>
        </div> 
        <div class="section-item-content border-top">
            <form id="search" class="search-form"></form>
            <table id="table" ></table>
        </div>
    </div>
</div>