<div class="section-container ywdt">
    <div class="section-item align-center section-title">
      <h1> 出所管理--业务动态</h1>
    </div>
    <div class="section-item section-item-title  section-item-row"><span class="iconfont icon-taizhang"></span>查询信息</div>
    <div class="section-item section-item-row">
        <div class="section-item-content align-right section-item-content-title">请选择时间段:	</div>
        <div class="section-item-content flex-grow-2">
         <input class="easyui-datetimebox"><span class="wz">至</span><input class="easyui-datetimebox" style="width：48%"/>
        </div>
        <div class="section-item-content"><input type="button"  value="点击查询"/></div>
    </div>
    <div class="section-item section-item-title section-item-row"> <span class="iconfont icon-taizhang"></span>出所原因</div>
    <div class="section-item section-item-row">
        <div class="section-item-content section-item-content-title align-center">刑满释放</div>
        <div class="section-item-content align-center">2</div>
    </div>
</div>