<!-- 新增和编辑数据 -->
<div class="dig-wrapper" id="jcddWrapper">
    <div class="form2-column" title="检查督导">
        <form id="jcddForm" class="easyui-form" method="post" data-options="novalidate:true">
            <div class="form-column2">
                <div class="form-column-left">
                    <input class="easyui-textbox" name="name" style="width:100%" data-options="label:'申请单号:',required:true">
                </div>
                <div class="form-column-left fm-left">
                    <select class="easyui-combobox" name="state" data-options="label:'状态:',required:true" labelPosition="top" style="width:100%;">
                        <option value="AL">新增</option>
                        <option value="AK">已提交</option>
                        <option value="AZ">申请中</option>
                        <option value="AR">已入库</option>
                    </select>
                </div>
            </div>
            <div class="form-column2">
                <div class="form-column-left">
                    <input class="easyui-textbox" name="wznumber" style="width:100%" data-options="label:'物料编号:',required:true">
                </div>
                <div class="form-column-left fm-left">
                    <input class="easyui-textbox" name="subject" style="width:100%" data-options="label:'物料名称:',required:true">
                </div>
            </div>
            <div class="form-column2">
                <div class="form-column-left">
                    <select class="easyui-combobox" name="state" data-options="label:'物料类型:',required:true" labelPosition="top" style="width:100%;">
                        <option value="AL">原材料</option>
                        <option value="AK">辅料</option>
                        <option value="AZ">产品</option>
                        <option value="AR">深加工原料</option>
                    </select>
                </div>
                <div class="form-column-left fm-left">
                    <select class="easyui-combobox" name="state" data-options="label:'入库类型:',required:true" labelPosition="top" style="width:100%;">
                        <option value="AL">原材料入库</option>
                        <option value="AK">辅料入库</option>
                        <option value="AZ">产品入库</option>
                        <option value="AR">深加工原料入库</option>
                    </select>
                </div>
            </div>
            <div class="form-column2">
                <div class="form-column-left">
                    <input class="easyui-textbox" name="sqkf" style="width:100%" data-options="label:'申请库房:',required:true">
                </div>
                <div class="form-column-left fm-left">
                    <input class="easyui-textbox" name="subject" style="width:100%" data-options="label:'申请数量:',required:true,validType:'number'">
                </div>
            </div>
            <div class="form-column2">
                <div class="form-column-left">
                    <input class="easyui-textbox" name="sqkf" style="width:100%" data-options="label:'单位:',required:true">
                </div>
                <div class="form-column-left fm-left">
                    <input class="easyui-textbox" id="storage-time" name="subject" style="width:100%" data-options="label:'存储期限:',required:true">
                </div>
            </div>
            <div class="form-column1">
                <div class="form-column-left">
                    <input class="easyui-textbox" name="message" style="width:100%;height:60px" data-options="label:'备注:',multiline:true">
                </div>
            </div>
            <div class="form-btnBar pl75">
                <input type="submit" name="" value="保存" class="easyui-linkbutton btnPrimary" onclick="submitForm()" style="width:80px" />
                <input type="submit" name="" value="重置" class="easyui-linkbutton btnDefault" onclick="clearForm()" style="width:80px" />
            </div>
        </form>
    </div>
</div>
