<!-- partial:../../partials/_easyui_head.html -->
<!-- partial -->
<body scroll="no" class="body-pd10 ">
    <div class="dataView-container">
        <div class="table-container">
            <div class="tabs-wrapper">
                <div id="tooles">

                </div>
                <table id="test_table"></table>
            </div>
        </div>
    </div>


    <!-- partial:../../partials/form/_test_form.html -->
    <!-- partial -->
    <!-- partial:../../partials/laywin.html -->
    <!-- partial -->

    <script src="/apps/swj/static/lib/require.js" data-main="page\jls\ywcx\jls.ywcx.rscx.js"></script>
    <script src="/apps/swj/static/js/require.config.js"></script>


</body>
<!-- partial:../../partials/_easyui_foot.html -->
<!-- partial -->
