<!--
模块名称： 规范帮助
开始时间： 2020-2-29
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-option="fit:true" style="overflow:scroll;">
    <!--页面主体布局-->
    <div class="section-container">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-title">
                <h2 class='align-center gfsm-title'>会见、通信、探视</h2>
            </div>
            <div class="standard-content font-22">
                <dl>
                    <dt>一、犯罪嫌疑人、被告人与近亲属会见、通信、探视</dt>
                    <dd>(一) 会见
                        <dl>
                            <dd>1．犯罪嫌疑人、被告人的近亲属或者外国驻华使、领馆人员要求会见本人或者本国籍犯罪嫌疑人、被告人的，看守所应当告知其向办案机关提出申请。看守所根据办案机关的书面通知作出会见安排。本人拒绝会见的，须书面声明，看守所不予安排。
                            </dd>
                            <dd>2．经批准允许犯罪嫌疑人、被告人与其近亲属会见的，会见时应当有办案人员和看守所民警在场。会见时违反相关规定的，看守所应当责令中止会见。外国籍、少数民族和聋、哑、盲在押人员会见时，办案机关可以聘请翻译人员在场。
                            </dd>
                            <dd> 3．会见应当在看守所会见室进行。</dd>
                        </dl>
                    </dd>

                    <dd>(二) 通信
                        <dl>
                            <dd>
                                1．犯罪嫌疑人、被告人与其近亲属通信的，交办案机关处理；办案机关书面委托看守所检查的，看守所可以进行检查，发现可能有碍侦查、起诉、审判的，应当扣留，并转送办案机关。
                            </dd>

                            <dd> 2．犯罪嫌疑人、被告人写给公安机关和其他司法机关的信件不受检查。</dd>
                        </dl>
                    </dd>
                    <dd>(三) 探视
                        <dl>
                            <dd>
                                1．犯罪嫌疑人、被告人在其配偶、父母或者子女病危时，由当地公安派出所出具证明，经办案机关同意，并经公安机关批准，在办案人员严格监护的条件下，可以临时离所回家探视，并于当天返回。当天不能返回的，不能探视。

                            </dd>
                        </dl>
                    </dd>
                    <dt>二、犯罪嫌疑人、被告人与辩护律师、辩护人的会见、通信</dt>
                    <dd>(一)在侦查阶段，办案机关安排犯罪嫌疑人与聘请或者委托的律师会见的，看守所应当查验案件主管机关安排或者准予会见的法律文书、律师执业证、本人身份证明、律师事务所介绍信、聘请或者委托书。有翻译人员的，应当查验准许翻译人员参加会见的证明。
                    </dd>
                    <dd>(二)在审查起诉、审判阶段，犯罪嫌疑人、被告人可以与委托的辩护人或者由人民法院指定的辩护人会见、通信；辩护律师或者其他辩护人会见犯罪嫌疑人、被告人，看守所应当查验律师执业证、本人身份证明、律师事务所介绍信、委托书和人民检察院、人民法院允许其他辩护人会见的证明。
                    </dd>
                    <dd>(三) 律师和经人民检察院、人民法院许可的其他辩护人会见在押的犯罪嫌疑人、被告人时，必须在看守所律师会见室进行，并遵守看守所的有关规定。会见时，看守所可以进行安全戒护，但不得监听</dd>
                    <dt>三.留所服刑罪犯与其亲属、监护人、律师的会见、通信、探视、通话</dt>
                    <dd>(一) 会见
                        <dl>
                            <dd>1．罪犯与其亲属、监护人会见，每月不超过2 次，每次不超过1小时，每次前来会见的人员不超过3人。因特殊情况需应当延长会见时间或者增加会见人数的，须经看守所领导批准。</dd>
                            <dd>2．罪犯与受委托的律师会见的，由律师向看守所提出申请，看守所应当查验授权委托书、律师事务所介绍信、律师执业证和本人身份证，并在48小时内予以安排。</dd>
                            <dd>3．依据我国参加的国际公约和缔结的领事条约、公约的有关规定，外国驻华使（领）馆官员要求探视其本国籍罪犯，或者外国籍罪犯亲属、
                                监护人要求会见时，看守所应当告知其向省级公安机关提出书面申请，看守所根据省级公安机关的书面通知予以安排。外国籍罪犯亲属或者监护人再次要求会见的，看守所可以直接安排。</dd>
                            <dd>外国籍罪犯本人拒绝其所属国驻华使（领）馆官员或者其亲属会见的，看守所不予安排，并要求罪犯出具由其本人签名的书面声明。</dd>
                            <dd>4．罪犯会见应当在看守所会见室进行，并遵守看守所有关规定，民警应当在场。对违反规定的，看守所应当中止会见。</dd>
                        </dl>
                    </dd>
                    <dd>(二) 通信
                        <dl>
                            <dd>1．罪犯可以与其亲友或者监护人通信。看守所应当对罪犯的来往信件进行检查，发现有碍罪犯改造内容的信件可以扣留。</dd>
                            <dd>2．罪犯写给看守所的上级机关和司法机关的信件，不受检查。</dd>
                        </dl>
                    </dd>
                    <dd>(三) 少数民族罪犯可以使用其本民族语言文字会见、通信；外国籍罪犯可以使用其本国语言文字会见、通信。</dd>
                    <dd>(四) 探视
                        <dl>
                            <dd> 1．被判处拘役的罪犯每月可以回家1至2日，由罪犯本人提出申请，管教民警签署意见，经看守所所长审核后，报所属公安机关批准。</dd>
                            <dd>对于准许回家的拘役罪犯，看守所应当发给其《拘役罪犯回家/探亲证明书》，并告知其应当遵守的规定。</dd>
                            <dd>2．被判处拘役的外国籍罪犯提出探亲申请的，看守所应当报地市级以上公安机关审核。</dd>
                            <dd>3．罪犯申请离所探亲的，应当有家属担保。经看守所所务会研究同意后，报所属公安机关批准。</dd>
                            <dd>对离所探亲的罪犯，看守所应当发给《罪犯离所探亲证明书》，并告知其在抵家当日到当地公安派出所报到。</dd>
                        </dl>
                    </dd>
                    <dd>(五) 通话
                        <dl>
                            <dd>1．看守所可以在罪犯监区内安装固定电话，用于罪犯与外界的通话。</dd>
                            <dd>2．留所服刑罪犯和外国籍罪犯申请与其近亲属、监护人通话或者其所属国驻华使（领）馆官员通话的，由看守所领导审批后进行。</dd>
                            <dd> 3．罪犯通话时，民警应当在场监控。</dd>
                            <dd>4．罪犯每月通话原则上不超过2次，通话费用由本人承担。</dd>
                        </dl>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <!--页面主体布局-->
    <script src="/apps/kss/static/lib/require.js" data-main="/apps/kss/static/js/require.config" id="current-page" current-page="pages/lshj/gfbz"></script>

    <script src="/apps/kss/static/lib/loading.js"></script>
</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->