<link rel="stylesheet" href="/apps/platform/static/css/allindex.css">
<link rel="stylesheet" href="/apps/platform/static/css/iconfont/iconfont.css">
<div id="bjjsMain">
    <div class="leftJs">
        <h3>选择所在角色：</h3>
        <div class="leftContent">
            <div id="treeCheck" class="demo-tree-more"></div>
        </div>
    </div>
    <div class="centerJs iconfont" style="font-size: 50px;">&#xe7c5;</div>
    <div class="rightJs">
        <h3>成员将属于以下角色：</h3>
        <div class="rightContent">
            <ul id="resetRole">
                
            </ul>
        </div>
    </div>
</div>