<link rel="stylesheet" href="/apps/platform/static/css/_form.css">
<form class="layui-form" action="" id="fm">
    <h2>请输入流程时间开启时间间隔(分钟)</h2>
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <textarea class="layui-textarea" id="numfm" name="value" field="timelimit"></textarea>
        </div>
    </div>
    <div class="layui-form-item" style="display: none">
        <label class="layui-form-label"></label>
        <div class="layui-input-block">
            <input type="text" name="id" value="{{id}}" class="layui-input">
        </div>
    </div>
</form>