<link rel="stylesheet" href="/apps/platform/static/css/_form.css">
<form action="" method="" id="fm" class="layui-form">
    <h2>维护公告</h2>
	<input type="text"  name="id"  value="{{id}}" hidden="hidden">
    <div class="layui-form-item">
        <label class="layui-form-label">监所类型：<font color="red">*</font></label>
        <div class="layui-input-block">
            <select name="jslx" lay-filter='jslx' value="{{jslx}}" class="awdcombox" field="DM" lay-verify="required">
                        </select>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label">公告标题：<font color="red">*</font></label>
        <div class="layui-input-block">
            <input type="text" name="title" value="{{title}}" lay-verify="required" lay-reqtext="标题是必填项，岂能为空？" placeholder="请输入"
                autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">公告内容：<font color="red">*</font></label>
        <div class="layui-input-block">
            <textarea id="content" name="content" lay-verify="required"  style="display: none;">
             {{content}}
            </textarea>
        </div>
    </div>
    <!-- <div class="layui-form-item">
        <label class="layui-form-label">插件下载地址：</label>
        <div class="layui-input-block">
            <input type="text" name="url" value="{{url}}"  placeholder="请输入"
                autocomplete="off" class="layui-input">
        </div>
    </div> -->
</form>