<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie6"><![endif]-->
<!--[if IE 7]><html class="ie7"><![endif]-->
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><html><![endif]-->
<!--[if !IE]>-->
<html>
<!--<![endif]-->

<head>
    <meta charset="UTF-8" />
    <title>北京公安监察综合业务平台</title>
    <link rel="stylesheet" href="../../static/lib/themes/bootstrap/easyui.css">
    <link rel="stylesheet" href="../../static/css/xtsz.css" />
    <link rel="stylesheet" href="../../static/css/iconfont/iconfont.css">
    <link rel="stylesheet" href="../../static/lib/layui/css/layui.css">
</head>

<body>

    <div class="layui-container" style="float:left;width:100%;height:100%;">
        <div class="layui-row">
            <div class="layui-col-xs2 layui-col-md2 layui-col-sm2">
                <div class="menu-left">
                    <h1>选项</h1>
                    <dl class="list_dl" id="first">
                        <dd class="list_dd">
                            <ul id="menus">
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <div class="layui-col-xs10 layui-col-md10 layui-col-sm10">
                <div id="Page_Body" style="width: 100%;height:600px;"></div>
            </div>
        </div>
    </div>

            <!-- <div id="Page_Body" style="width:100%;height:100%;">测试</div> -->
    <!-- <div data-options="region:'west',title:''" id='xtszmainContent'>
        <div class="menu-left">
            <h1>选项</h1>
            <dl class="list_dl" id="first">
                <dd class="list_dd">
                    <ul id="menus">
                    </ul>
                </dd>
            </dl>
        </div>
    </div>
    <div data-options="region:'center',title:''" style="border:none;width:80%;">
        <div id="Page_Body" style="width: 100%;height:100%;"></div>
    </div> -->
    <script src="/apps/platform/static/lib/require.js" data-main="\pages\xtsz.js"></script>
    <script src="/apps/platform/static/js/require.config.js"></script>
</body>

</html>