<div class="legend">
    <div class="legend-title"><strong>图示说明</strong></div>
    <div class="legend-content">
        <div class="legend-content-item">
            <span class="lump one-level"></span>重大一级
        </div>
        <div class="legend-content-item">
            <span class="lump two-level"></span>重大二级
        </div>
        <div class="legend-content-item">
            <span class="lump three-level"></span>重大三级
        </div>
        <div class="legend-content-item">
            <span class="lump not-evaluated"></span>未评估
        </div>
    </div>
</div>