<div style="height:100%;">
    <div class="section-item align-center section-title">
        <h1>耳目管理--业务动态</h1>
    </div>
    <div style="height:90%">
        <div class="emglxx"><span class="iconfont icon-taizhang"></span>查询信息</div>
        <div id="bjem"></div>
        <div class="section-item section-item-row emdt" style="height:90%">
            <div id="emglTitle" class="emglScroll">
                <div id="emglTit"></div>
                <ul id="emglCon">
                    <li class="show"></li>
                </ul>
            </div>
        </div>
    </div>
</div>


