<table class="container-formtable">
    <tr>
        <td class="formtd" style="min-width:120px;">姓&emsp;&emsp;&emsp;名：</td>
        <td><input class="easyui-textbox"  value="{{xm}}" style="min-width:220px;" readonly> </td>
        <td class="formtd" style="min-width:120px;">性&emsp;&emsp;别：</td>
        <td><input id="xb" class="awdCombox"  value="{{xbString}}" style="min-width:220px;" readonly> </td>
        <td rowspan="4" colspan="2" style="width:100%;height:100%;">
            <div style="width:100%;height:100%;">
                <img style="width:150px;height:200px;margin-left:15%;" src={{image}} />
            </div>
        </td>
    </tr>
    <tr>
        <td class="formtd" style="min-width:120px;">入&ensp;所&ensp;日期：</td>
        <td><input class="easyui-datebox" value="{{rsrq}}" style="min-width:220px;" readonly> </td>
        <td class="formtd" style="min-width:120px;">监&ensp;室&ensp;号：</td>
        <td><input class="easyui-textbox" value="{{jsh}}" style="min-width:220px;" readonly> </td>
    </tr>
    <tr>
        <td class="formtd" style="min-width:120px;">所&ensp;内&ensp;编号：</td>
        <td><input class="easyui-textbox" value="{{snbh}}" style="min-width:220px;" readonly> </td>
        <td class="formtd" style="min-width:120px;">关押期限：</td>
        <td><input class="easyui-datebox" value="{{gyqx}}" style="min-width:220px;" readonly> </td>
    </tr>
    <tr>
        <td class="formtd" style="min-width:120px;" style="min-width:100px;">户籍所在地：</td>
        <td colspan="3"><input class="easyui-textbox" value="{{hjdString}}" style="width:100%;" readonly> </td>
    </tr>
</table>