<ul>
    <li>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>监区设施：<font>{{jqss}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>监区大门：<font>{{jqdm}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>监区警报器：<font>{{jqbjq}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>监区防火设备：<font>{{jqfhsb}}</font></span></div>
    </li>
    <li>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>警备枪械：<font>{{jbqx}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>警备电击器：<font>{{jbdjq}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>警备钥匙：<font>{{jbyc}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>警备警棍：<font>{{jbjg}}</font></span></div>
    </li>
    <li>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>文员电脑：<font>{{wydl}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>文员钥匙：<font>{{wyyc}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>文员工牌：<font>{{wygp}}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>文员工桌：<font>{{wygz}}</font></span></div>
    </li>
    <li>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>食堂设施：<font>{{stss}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>澡堂设施：<font>{{ztss}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>户外设施：<font>{{hwss</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>休息室设施：<font>{{xxsss}}</font></span></div>
    </li>
    <li>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>犯人衣服：<font>{{fryf}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>犯人工牌：<font>{{frgp}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>员工衣服：<font>{{ygyf}}</font></span></div>
        <div>
            <icon class="iconfont icon-taizhang"></icon><span>员工钥匙：<font>{{ygyc}}</font></span></div>
    </li>
</ul>