{{if searchItem}}
<div class="section-item section-item-title  section-item-row"><span class="iconfont icon-taizhang"></span>查询信息</div>
<div class="section-item section-item-row">
    <div class="section-item-content align-right section-item-content-title">请选择时间段: </div>
    <div class="section-item-content flex-grow-2">
        <input class="easyui-datebox starttime" value="new Date()" /><span class="wz">至</span><input class="easyui-datebox endtime" value="new Date()" />
    </div>
    <div class="section-item-content"><input type="button" class="ywdt-btn" value="点击查询" /></div>
</div>
{{if searchItem.total}}
<div class="section-item section-item-row">
    {{each searchItem.total}}
    <div class="section-item-content align-{{$value.justfly}} totals">
        <div class="total-name">{{$value.name}}:</div>
        <div class="total-data" data-filed='{{$value.filed}}'>{{$value.data}}</div>
    </div>
    {{/each}}
</div>
{{/if}} {{/if}} {{each formItems}}
<div class="section-item section-item-title section-item-row">
    <div class="section-item-content"><span class="iconfont {{$value.itemTitle.icon}}"></span>{{$value.itemTitle.name}}</div>
    {{if $value.itemTitle.searchBtn == 'defaultBtn'}}
    <div class="section-item-content"><input type="button" class="defaultBtn" value="点击查询" /></div>
    {{else}}
    <div class="section-item-content"><input type="button" class="echartBtn" data-filed="{{$value.itemTitle.searchBtn}}" value="查看统计" /></div>
    {{/if }}
</div>
{{each $value.itemLists}}
<div class="section-item section-item-row">
    <div class="section-item-content section-item-content-title align-center">{{$value.name}}</div>
    <div class="section-item-content align-center" data-filed='{{$value.filed}}'>0</div>
</div>
{{/each}} {{/each}}