<!--
模块名称： 首頁
开始时间： 2020-2-25
-->

<!-- partial:./partials/_head_start.html -->
<!-- partial -->
<link rel="stylesheet" type="text/css" href="../static/css/homePage.css">
<!-- partial:./partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-options="fit:true">
    <div class="section-container home-page">
        <div class="section-item" style="height:75%">
            <div class="section-container section-container-row">
                <div class="section-item section-left bg" style="margin-right:1.04%;width:65%">
                    <div class="section-item-content">
                        <div class="section-title">消息通知
                            <div class="scorll-bar marquee">监所晚餐时间更改为下午5点30分</div>
                        </div>
                        <div class="section-item-content-wrap notify">
                            <ul>
                                <li><span class="iconfont icon-xiaolaba"></span><a class="aw" href="#">4月份领导方针相关文件已出台</a><span class="time">2020-03-13</span></li>
                                <li><span class="iconfont icon-xiaolaba"></span><a class="aw" href="#">暂定东二监区熄灯时间为23点30分</a><span class="time">2020-3-20</span></li>
                                <li><span class="iconfont icon-xiaolaba"></span><a class="aw" href="#">所领导拟定5月份出台新版犯人作息表</a><span class="time">2020-4-03</span></li>
                                <li><span class="iconfont icon-xiaolaba"></span><a class="aw" href="#">积极广泛寻求普及监狱规范制度要求意见</a><span class="time">2020-4-19</span></li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-item-content">
                        <div class="section-title">交班人员</div>
                        <div class="section-item-content-wrap jjbry">
                        </div>
                    </div>
                    <div class="section-item-content">
                        <div class="section-item-content-wrap" style="margin-right:1.6%">
                            <div class="section-title">待办事项</div>
                            <div class="section-item-list dbsx"></div>
                        </div>
                        <div class="section-item-content-wrap">
                            <div class="section-title">风险人员</div>
                            <div class="section-item-list afbj"></div>
                        </div>
                    </div>
                </div>
                <div class="section-item section-right bg section-item-padding ">
                    <div class="section-item-content">
                        <div class="section-title">通知通告</div>
                         <div class="section-item-content-wrap dbsx">
                            <ul>
                                <li><span class="iconfont icon-xiaolaba"></span><a class="aq" href="#">4月份领导方针相关文件已出台</a></li>
                                <li><span class="iconfont icon-xiaolaba"></span><a class="aq" href="#">暂定东二监区熄灯时间为23点30分</a></li>
                                <li><span class="iconfont icon-xiaolaba"></span><a class="aq" href="#">所领导拟定5月份出台新版犯人作息表</a></li>
                                <li><span class="iconfont icon-xiaolaba"></span><a class="aq" href="#">积极广泛寻求普及监狱规范制度要求意见</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="section-item-content">
                        <div class="section-title">本月未完成工作</div>
                        <div class="LineS_box" style="margin-top:3%">
                            <div class="Lines_font">
                                <font>械具解除</font>
                            </div>
                            <div class="Lines_content">
                                <div class="container">
                                    <div class="skills skill_color8">
                                        <font>90%</font>
                                    </div>
                                </div>
                            </div>
                            <div class="Linse_num3" style="width:13%;text-align: center;">
                                <font class="num_text">7</font>
                                <font>条</font>
                            </div>
                        </div>
                        <div class="LineS_box" style="margin-top:3%">
                            <div class="Lines_font">
                                <font>单独关押</font>
                            </div>
                            <div class="Lines_content">
                                <div class="container">
                                    <div class="skills skill_color9">
                                        <font>90%</font>
                                    </div>
                                </div>
                            </div>
                            <div class="Linse_num3" style="width:13%;text-align: center;">
                                <font class="num_text">12</font>
                                <font>条</font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-item section-item-padding" style="margin-top:1.04%;">
            <div class="section-title">其他应用</div>
            <div class="wrap-item" style="height:100%">
                <div class="item-content" style="padding:5px 0;height:100%">
                    <div class="icon_box" role="21">
                        <div class="icon_content"><span class="iconfont icon-xingshizhifa"></span></div>
                        <font>收押岗位</font>
                    </div>
                    <div class="icon_box" role="23">
                        <div class="icon_content"><span class="iconfont icon-guanjiaogangwei"></span></div>
                        <font>管教管理</font>
                    </div>
                    <div class="icon_box" role="27">
                        <div class="icon_content"><span class="iconfont icon-caiwuguanli"></span></div>
                        <font>财务岗位</font>
                    </div>
                    <div class="icon_box" role="24">
                        <div class="icon_content"><span class="iconfont icon-yiwurenyuan"></span></div>
                        <font>医务岗位</font>
                    </div>
                    <div class="icon_box" role="26">
                        <div class="icon_content"><span class="iconfont icon-xunkong"></span></div>
                        <font>巡控</font>
                    </div>
                    <div class="icon_box" role="28">
                        <div class="icon_content"><span class="iconfont icon-suolingdao"></span></div>
                        <font>所领导</font>
                    </div>
                    <div class="icon_box" role="22">
                        <div class="icon_content"><span class="iconfont icon-qitafuwu"></span></div>
                        <font>综合岗位</font>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/apps/jls/static/lib/require.js" data-main="dashboard.js"></script>
    <script src="/apps/jls/static/js/require.config.js"></script>
</body>
<!-- partial:./partials/_foot.html -->
<!-- partial -->