<!--
模块名称： 首頁
开始时间： 2020-2-25
-->

<!-- partial:./partials/_head_start.html -->
<!-- partial -->
<link rel="stylesheet" type="text/css" href="../static/css/homePage.css">
<!-- partial:./partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-options="fit:true">
    <div class="layui-fluid">
        <div class="layui-row h40 layui-col-space10 ">
            <div class="layui-col-md4">
                <div class="wrap-item">
                    <div class="item-title">监区设施
                        <div id="More_Title" style="float:right;font-size:1.2rem;font-family: cursive;color:cornflowerblue;cursor: pointer;">更多动态>>></div>
                    </div>
                    <div class="item-content Base_box">
                        <div class="LineS_box">
                            <div class="Lines_font" style="width:30%;">
                                <icon class="iconfont icon-gerenxinxi"></icon>
                                <font>在押人数</font>
                            </div>
                            <div class="Lines_content" style="width:60%;margin-top:4px">
                                <div class="container">
                                    <div class="skills skill_color">
                                        <font>90%</font>
                                    </div>
                                </div>
                            </div>
                            <div class="Linse_num" style="width:13%;text-align: center;">
                                <font class="num_text">174</font>
                                <font>人</font>
                            </div>
                        </div>
                        <div class="LineS_box">
                            <div style="width:50%;margin-left:6px;">
                                <div class="LineS_box">
                                    <div class="Lines_font" style="width:40%;">
                                        <icon class="iconfont icon-gerenxinxi"></icon>
                                        <font style="margin-left:5px;">男性</font>
                                    </div>
                                    <div class="Lines_content" style="width:30%;">
                                        <div class="container" style="height:10px;margin-top:15%;">
                                            <div class="skills skill_color">
                                                <font>90%</font>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Linse_num" style="width:30%;text-align: center;">
                                        <font class="num_text">174</font>
                                        <font>人</font>
                                    </div>
                                </div>
                            </div>
                            <div style="width:50%;margin-left:6px;">
                                <div class="LineS_box" style="margin-top:10px;">
                                    <div class="Lines_font" style="width:40%;">
                                        <icon class="iconfont icon-gerenxinxi" style="background-color:red;"></icon>
                                        <font style="margin-left:5px;">女性</font>
                                    </div>
                                    <div class="Lines_content" style="width:30%;">
                                        <div class="container" style="height:10px;margin-top:15%;">
                                            <div class="skills skill_color" style="width:20%;">
                                                <font>90%</font>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="Linse_num" style="width:30%;text-align: center;">
                                        <font class="num_text">101</font>
                                        <font>人</font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="LineS_box" style="margin-top:10px">
                            <div style="width:50%">
                                <div class="LineS_box">
                                    <div class="Lines_font" style="width:60%;">
                                        <icon class="iconfont icon-gerenxinxi" style="margin-left:10px;"></icon>
                                        <font style="margin-left:5px;">今日出所：</font>
                                    </div>
                                    <div class="Linse_num" style="width:20%;">
                                        <font class="num_text">17</font>
                                        <font>人</font>
                                    </div>
                                </div>
                            </div>
                            <div style="width:50%">
                                <div class="LineS_box" style="margin-top:10px;">
                                    <div class="Lines_font" style="width:60%;">
                                        <icon class="iconfont icon-gerenxinxi" style="margin-left:10px;"></icon>
                                        <font style="margin-left:5px;">今日入所：</font>
                                    </div>
                                    <div class="Linse_num" style="width:20%;">
                                        <font class="num_text">8</font>
                                        <font>人</font>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="base_card" style="margin-left:3px;">
                            <aside class="yw_player-card">
                                <section>
                                    <h2>一级风险</h2>
                                    <ul class="yw_list yw_horizontal" style="min-height:90px;">
                                        <li style="border-bottom-right-radius:0;;border-bottom-left-radius:0;background: linear-gradient(to top right, #f1b955, #f7bc51, #fdd06a)">21</li>
                                    </ul>
                                </section>
                            </aside>
                        </div>
                        <div class="base_card">
                            <aside class="yw_player-card">
                                <section>
                                    <h2>二级风险</h2>
                                    <ul class="yw_list yw_horizontal" style="min-height:90px;">
                                        <li style="border-bottom-right-radius:0;;border-bottom-left-radius:0;background: linear-gradient(to top right, #e25722, #f76c4d, #f55a1f)">17</li>
                                    </ul>
                                </section>
                            </aside>
                        </div>
                        <div class="base_card">
                            <aside class="yw_player-card">
                                <section>
                                    <h2>三级风险</h2>
                                    <ul class="yw_list yw_horizontal" style="min-height:90px;">
                                        <li style="border-bottom-right-radius:0;;border-bottom-left-radius:0;background: linear-gradient(to top right, #ff5241, #da3611, #b90404)">5</li>
                                    </ul>
                                </section>
                            </aside>
                        </div>

                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="wrap-item">
                    <div class="item-title">民警当日绩效考核数</div>
                    <div class="item-content">
                        <div class='drjx'></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="wrap-item">
                    <div class="item-title">各类所里报警及处置情况</div>
                    <div class="item-content ">
                        <div class='czqk'></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row h40 layui-col-space10">
            <div class="layui-col-md4">
                <div class="section-item wrap-item">
                    <div class="section-title">通知公告
                        <div class="scorll-bar marquee">集合点名时间更改为晚上6点30分</div>
                    </div>
                    <div class="item-content Message_box">
                        <div class="LineS_box">
                            <icon class="iconfont icon-xiaolaba"></icon>
                            <font>新版规章制度已出台</font>
                            <span class="time_line">今天</span>
                            <span class="unread">未读</span>
                        </div>
                        <div class="LineS_box">
                            <icon class="iconfont icon-xiaolaba"></icon>
                            <font>犯人意愿申请流程审批已通过</font>
                            <span class="time_line">3-20</span>
                            <span class="unread">未读</span>
                        </div>
                        <div class="LineS_box">
                            <icon class="iconfont icon-xiaolaba"></icon>
                            <font>采购清洁工具合同已审批</font>
                            <span class="time_line">3-13</span>
                            <span class="read">已读</span>
                        </div>
                        <div class="LineS_box">
                            <icon class="iconfont icon-xiaolaba"></icon>
                            <font>轮班制规章制度寻求意见中</font>
                            <span class="time_line">2-25</span>
                            <span class="read">已读</span>
                        </div>
                        <div class="LineS_box">
                            <icon class="iconfont icon-xiaolaba"></icon>
                            <font>东一监区新增30名犯人</font>
                            <span class="time_line">2-17</span>
                            <span class="read">已读</span>
                        </div>
                        <div class="LineS_box">
                            <icon class="iconfont icon-xiaolaba"></icon>
                            <font>监所配备钥匙指南</font>
                            <span class="time_line">2-11</span>
                            <span class="read">已读</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="wrap-item">
                    <div class="item-title">代办事项</div>
                    <div class="item-content">
                        <div class='ldsp'></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="wrap-item">
                    <div class="item-title">所长查询区</div>
                    <div class="item-content">
                        <div class="LineS_box" style="margin-top:5%;display: inline-flex;">
                            <div class="Lines_font">
                                <font>收押入所</font>
                            </div>
                            <div class="Lines_content">
                                <div class="container">
                                    <div class="skills skill_color">
                                        <font>90%</font>
                                    </div>
                                </div>
                            </div>
                            <div class="Linse_num" style="width:13%;text-align: center;">
                                <font class="num_text">20</font>
                                <font>条</font>
                            </div>
                        </div>
                        <div class="LineS_box" style="margin-top:5%;display: inline-flex;">
                            <div class="Lines_font">
                                <font>出所管理</font>
                            </div>
                            <div class="Lines_content">
                                <div class="container">
                                    <div class="skills skill_color5">
                                        <font>90%</font>
                                    </div>
                                </div>
                            </div>
                            <div class="Linse_num" style="width:13%;text-align: center;">
                                <font class="num_text">35</font>
                                <font>条</font>
                            </div>
                        </div>
                        <div class="LineS_box" style="margin-top:5%;display: inline-flex;">
                            <div class="Lines_font">
                                <font>律师会见</font>
                            </div>
                            <div class="Lines_content">
                                <div class="container">
                                    <div class="skills skill_color8">
                                        <font>90%</font>
                                    </div>
                                </div>
                            </div>
                            <div class="Linse_num" style="width:13%;text-align: center;">
                                <font class="num_text">17</font>
                                <font>条</font>
                            </div>
                        </div>
                        <div class="LineS_box" style="margin-top:5%;display: inline-flex;">
                            <div class="Lines_font">
                                <font>家属会见</font>
                            </div>
                            <div class="Lines_content">
                                <div class="container">
                                    <div class="skills" style="width:75%;background: linear-gradient(to right, #512ede, #8f58e6, #a376d4)">
                                        <font>90%</font>
                                    </div>
                                </div>
                            </div>
                            <div class="Linse_num" style="width:13%;text-align: center;">
                                <font class="num_text">25</font>
                                <font>条</font>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row h20 layui-col-space10">
            <div class="layui-col-md12" style="padding-bottom:0">
                <div class="wrap-item">
                    <div class="item-title">其他应用</div>
                    <div class="item-content">
                        <div class="icon_box" role="21">
                            <div class="icon_content"><span class="iconfont icon-xingshizhifa"></span></div>
                            <font>收押岗位</font>
                        </div>
                        <div class="icon_box" role="23">
                            <div class="icon_content"><span class="iconfont icon-guanjiaogangwei"></span></div>
                            <font>管教管理</font>
                        </div>
                        <div class="icon_box" role="27">
                            <div class="icon_content"><span class="iconfont icon-caiwuguanli"></span></div>
                            <font>财务岗位</font>
                        </div>
                        <div class="icon_box" role="24">
                            <div class="icon_content"><span class="iconfont icon-yiwurenyuan"></span></div>
                            <font>医务岗位</font>
                        </div>
                        <div class="icon_box" role="26">
                            <div class="icon_content"><span class="iconfont icon-xunkong"></span></div>
                            <font>巡控</font>
                        </div>
                        <div class="icon_box" role="28">
                            <div class="icon_content"><span class="iconfont icon-suolingdao"></span></div>
                            <font>所领导</font>
                        </div>
                        <div class="icon_box" role="22">
                            <div class="icon_content"><span class="iconfont icon-qitafuwu"></span></div>
                            <font>综合岗位</font>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/apps/jls/static/lib/require.js" data-main="dashboard_sld.js"></script>
    <script src="/apps/jls/static/js/require.config.js"></script>
    <script src="/apps/jls/static/lib/loading.js"></script>
</body>
<!-- partial:./partials/_foot.html -->
<!-- partial -->