{{each menugroups as menus i}}
<li class="sub-menus">
    <a class="t iconfont {{menus.img}}"></a>
    <span class="menu-title font-16">{{menus.title}}</span>
    <div class="txt dper-por">
        <ul class="scroll-wrapper font-20 ">
            {{each menus.list as menu j}}
            <li>
                <a class="nav-info" data-name="{{menu.title}}" data-url="{{menu.url}}" href="#" data-uk-tooltip title="{{menu.title}}">{{menu.title}}</a>
            </li>
            {{/each}}
        </ul>
    </div>
</li>
{{/each}}