@import "base.scss";
@import "utils-class/swiper.min.css";
html, body {
  width: 100%;
  height: 100%;
}
$width: 1920;
$height: 1080;
$w:1870;
$h:980;
@font-face {
  font-family: "Acens";
  src: url("./../assets/font/Acens.ttf");
}
@font-face {
  font-family: "Akzidenz";
  src: url("./../assets/font/Akzidenz.otf");
}


.peo{
  background-image: url('../images/tit-right.png');
}
.top1{
  background-image: url('../images/top1.png');
}
.top2{
  background-image: url('../images/top2.png');
}
.cent1{
  background-image: url('../images/cent1.png');
}
.cent2{
  background-image: url('../images/cent2.png');
}
.cent3{
  background-image: url('../images/cent3.png');
}
.cent4{
  background-image: url('../images/rusuodengji.png');
}
.cent5{
  background-image: url('../images/gaozhi.png');
}
.bot1{
  background-image: url('../images/bot1.png');
}
.bot2{
  background-image: url('../images/suolingdaoyijian.png');
}
.bot3{
  background-image: url('../images/bot3.png');
}
.liu1{
  background-image: url('../images/liu1.png');
}
.liu2{
  background-image: url('../images/liu2.png');
}
.liu3{
  background-image: url('../images/liu3.png');
}
.liu4{
  background-image: url('../images/liu4.png');
}
.liu5{
  background-image: url('../images/liu5.png');
}
.liu6{
  background-image: url('../images/liu6.png');
}
.bottom-kuang{
  background-image: url('../images/bottom-kuang.png');
}
.img1{
  background-image: url('../images/left1.png');
}
.img2{
  background-image: url('../images/left2.png');
}
.img3{
  background-image: url('../images/left3.png');
}
.img4{
  background-image: url('../images/left4.png');
}
.i2{
  background-image: url('../images/ioc_l.png');
}
.right-t1{
  background-image: url('../images/right-t1.png');
}
.right-t2{
  background-image: url('../images/right-t2.png');
}
.today{
  background-image: url('../images/today.png');
}
.ztai1{
  background-image: url('../images/ztai1.png');
}
.ztai2{
  background-image: url('../images/ztai2.png');
}


.container{
  /*头部右侧*/
  .tit-right{
    width: cptSize(360,$width);
    height: cptSize(80,$height);
    right: cptSize(10,360);
    .tit-right-cent{
      height: cptSize(22,80);
      .peo{
        width: cptSize(20,360);
        height: cptSize(20,22);
      }
      .tit-right-span{
        width: cptSize(340,360);
        color: white;
        cursor: pointer;
      }
    }
  }
  /*主体*/
  .body{
      width: cptSize($w, $width);
    height: cptSize($h, $height);
    top: cptSize(20, $height);
    left: cptSize(-120, $width);
    /*左边*/
    .left{
      width: cptSize(224, $w);
      overflow-y: auto;
      &::-webkit-scrollbar{display: none};/*隐藏滚动条 仅限于谷歌浏览器*/
      .left_nav{
        border:1px solid #e6e6e6;
        overflow:hidden;
        ul{margin-top:-1px;}
        li{
          border-top:1px dashed #e7e7e7;
          cursor: pointer;
          .t{
            height:50px;
            line-height:50px;
            padding:0 0 0 18px;
            position:relative;
            a{
              color:#000
            }
            &:hover a{
              color:#ff5825
            }
            .img1{
              width: cptSize(38, 224);
              height:cptSize(38, 50);
              left: cptSize(5, 224);
            }
            .img2{
              width: cptSize(38, 224);
              height:cptSize(38, 50);
              left: cptSize(5, 224);
            }
            .img3{
              width: cptSize(38, 224);
              height:cptSize(38, 50);
              left: cptSize(5, 224);
            }
            .img4{
              width: cptSize(38, 224);
              height:cptSize(38, 50);
              left: cptSize(5, 224);
            }
            .i2{
              width: cptSize(20, 224);
              height:cptSize(10, 50);
              right: cptSize(5, 224);
            }
          }
          .txt{
            background: #f3f6fb;
            display:none;
            .xian{
              width: 1px;
              height: 88%;
              background: #0eb2ff;
              left: 10%;
              z-index: 2;
            }
            .xian1{
              width: 1px;
              height: 76%;
              background: #0eb2ff;
              left: 10%;
              z-index: 2;
            }
            p{
              line-height:30px;
              height:30px;
              padding:30px 0;
              overflow:hidden;
              &.active {
                background: #297aff;
                a{
                  color: white;
                }
              }
              &:hover{
                background: #297aff;
              }
              &:hover a{
                color: white;
              }
              a{
                color: #4e8dff;
                width: 90%;
                text-align: left;
                left: 55%;
              }
            }
          }
        }
      }
    }
    /*右边*/
    .right{
      width: cptSize(1627, $w);
      .right-top{
        height: cptSize(61, $h);
        .right-top-left{
          width: cptSize(30, 1627);
          height: cptSize(22, 61);
          cursor: pointer;
          &:hover{
            opacity: .5;
          }
          .right-t1{
            width: cptSize(7, 30);
            height: cptSize(9, 22);

          }
          .right-t2{
            width: cptSize(23, 30);
            height: cptSize(18, 22);
          }
        }
        .right-top-right{
          width: cptSize(1567, 1627);
          margin-left:cptSize(60, 1627);
          padding-top: cptSize(11, 1627);
          padding-bottom: cptSize(11, 1627);
          .r-nav-child {
            .inside-box {
              width: 90%;
              border-radius: 50px;
              color: black;
              background: #f5f5f5;
              cursor: pointer;
              &:hover{
                background: #0069f6;
                color: white;
              }
              .close{
                right:8%;
                &:hover{
                 opacity: 0.5;
                }
              }
            }
            &.active {
              .inside-box {
                background: #0069f6;
                color: white;
                box-shadow: 5px 2px 6px #afb4ba;
              }
            }
          }
        }
      }
      .right-bottom{
        height: cptSize(903, $h);
        .bottom-box{
          width: cptSize(1470, 1627);
          height: cptSize(758, 903);
          top: cptSize(60, 903);
          left: cptSize(85, 1627);
          .img-click{
            &:hover{
              opacity: 0.5;
            }
          }
          .bottom-box-top{
            height: cptSize(164, 758);
            .img-box{
              width: cptSize(140, 1470);

              .top1{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(138, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
            .img-box1{
              width: cptSize(140, 1470);
              .top2{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(138, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
          }
          .bottom-box-cent{
            height: cptSize(164, 758);
            top: cptSize(296, 758);
            .img-box{
              width: cptSize(140, 1470);
              .cent1{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(138, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
            .img-box1{
              width: cptSize(140, 1470);
              left: cptSize(334, 1470);
              .cent2{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(138, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
            .img-box2{
              width: cptSize(140, 1470);
              .cent3{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(138, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
            .img-box3{
              width: cptSize(140, 1470);
              right: cptSize(350, 1470);
              .cent4{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(138, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
            .img-box4{
              width: cptSize(140, 1470);
              .cent5{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(138, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
          }
          .bottom-box-bottom{
            height: cptSize(164, 758);
            .img-box{
              width: cptSize(140, 1470);
              .bot1{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(138, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
            .img-box1{
              width: cptSize(140, 1470);
              left: cptSize(334, 1470);
              .bot2{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(138, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
            .img-box2{
              width: cptSize(140, 1470);
              .bot3{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(138, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
          }
          .liu1{
            width: cptSize(186, 1627);
            height: cptSize(370, 903);
            left: cptSize(170, 1627);
            bottom: cptSize(120, 903);
            z-index: 5;
          }
          .liu2{
            width: cptSize(30, 1627);
            height: cptSize(120, 903);
            left: cptSize(432, 1627);
            bottom: cptSize(220, 903);
            z-index: 5;
          }
          .liu3{
            width: cptSize(237, 1627);
            height: cptSize(710, 903);
            left: cptSize(510, 1627);
            bottom: cptSize(130, 903);
            z-index: 5;
          }
          .liu4{
            width: cptSize(226, 1627);
            height: cptSize(22, 903);
            left: cptSize(520, 1627);
            bottom: cptSize(120, 903);
            z-index: 5;
          }
          .liu5{
            width: cptSize(200, 1627);
            height: cptSize(380, 903);
            right: cptSize(540, 1627);
            top: cptSize(66, 903);
            z-index: 5;
          }
          .liu6{
            width: cptSize(226, 1627);
            height: cptSize(30, 903);
            right: cptSize(160, 1627);
            top: cptSize(416, 903);
            z-index: 5;
          }
        }
        .bottom-box1{
          width: cptSize(1470, 1627);
          height: cptSize(758, 903);
          top: cptSize(60, 903);
          left: cptSize(85, 1627);
          .img-click{
            &:hover{
              opacity: 0.5;
            }
          }
          .bottom-box-top{
            height: cptSize(164, 758);
            .img-box{
              width: cptSize(140, 1470);
              left:10%;
              .today{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(138, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
            .img-box1{
              width: cptSize(140, 1470);
              right:12%;
              .top2{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(260, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
          }
          .bottom-box-cent{
            height: cptSize(164, 758);
            top: cptSize(296, 758);
            .img-box{
              width: cptSize(140, 1470);
              left:10%;
              .cent4{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(138, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
            .img-box1{
              width: cptSize(140, 1470);
              left: 33%;
              .bot2{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(180, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
            .img-box2{
              width: cptSize(140, 1470);
              left: 55%;
              .cent3{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(180, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
            .img-box3{
              width: cptSize(140, 1470);
              right:12%;
              .cent5{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(140, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
          }
          .bottom-box-bottom{
            height: cptSize(164, 758);
            .img-box{
              width: cptSize(140, 1470);
              right:12%;
              .cent5{
                width: cptSize(106, 140);
                height: cptSize(106, 164);
              }
              .bottom-kuang{
                width: cptSize(138, 140);
                height: cptSize(50, 164);
                span{
                  color: #0069f6;
                }
              }
            }
          }
          .liu1{
            width: cptSize(186, 1627);
            height: cptSize(23, 903);
            left: 26.448679%;
            top: 46.289037%;
            z-index: 5;
          }
          .liu2{
            width: cptSize(186, 1627);
            height: cptSize(23, 903);
            left: 48.448679%;
            top: 46.289037%;
            z-index: 5;
          }
          .liu3{
            width: cptSize(186, 1627);
            height: cptSize(23, 903);
            left: 71.448679%;
            top: 46.289037%;
            z-index: 5;
          }
          .liu4{
            width: cptSize(186, 1627);
            height: cptSize(23, 903);
            left: 71.448679%;
            top: 46.289037%;
            z-index: 5;
          }
        }
      }
    }
  }
}
/*右击事件*/
.right-youji{
  width: 100px;
  height: 120px;
  box-shadow: #999 0.1em 0.1em 0.2em;
  background: white;
  display: none;
  z-index: 10;
  ul li{
    padding: 5px 0;
    cursor:pointer;
    text-align: center;
    &:hover{
      background: #cccccc;
    }
  }
}
