<!--
模块名称： 请假回所-规范帮助
开始时间： 2020-3-11
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-options="fit:true" style="overflow:scroll;">
    <!--页面主体布局-->
    <div class="section-container">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-title">
                <h2 class='align-center gfsm-title'>请假回所</h2>
            </div>
            <div class="standard-content font-22">
                <dl>
                    <dd>假期终止</dd>
                    <dd>被拘留人请假出所后按期返回的，拘留决定机关应当将保证金及时退还交纳人，超过规定期限回所或者出所不归的，保证金全部没收并上缴国库，拘留决定继续执行。
                    </dd>
                    <dd>被拘留人请假不归的，应当由拘留决定机关负责追回。按期回所的，值班民警应当对其进行入所安全检查。</dd>
                </dl>
            </div>
        </div>
    </div>
    <!--页面主体布局-->
    <script src="/apps/jls/static/lib/require.js" data-main="/apps/jls/static/js/require.config" id="current-page" current-page="pages/qjhs/ywlc"></script>

<script src="/apps/jls/static/lib/loading.js"></script>

</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->