<!-- partial:../../partials/_easyui_head.html -->
<!-- partial -->

<body>
    <div id="page-51vui-View" scroll="no" class="body-pd10 ">
        <div class="rows" style="margin-bottom: 0.8%; overflow: hidden;">
            <div class="panel-box" style="height:360px;">
                <div class="panel panel-default">
                    <div class="panel-heading titlejia"><i class="fa fa-bar-chart fa-lg"
                            style="padding-right: 5px;"></i>各所数据及时性</div>
                    <div class="panel-body">
                        <div id="Canvas3" style="height:340px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rows" style="margin-bottom: 0.8%; overflow: hidden;">
            <div class="panel-box" style="height:410px;">
                <div class="panel panel-default">
                    <div class="panel-heading titlejia"><i class="fa fa-area-chart fa-lg"
                            style="padding-right: 5px;"></i>数据及时性详细</div>
                    <div class="panel-body" style="height:365px; width: 100%;">
                        <div id="test_table"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- partial:../../partials/laywin.html -->
    <!-- partial -->

    <script src="/apps/swj/static/lib/require.js" data-main="page\main\ywfx\main.ywfx.sjjsx.js"></script>
    <script src="/apps/swj/static/js/require.config.js"></script>

</body>
<!-- partial:../../partials/_easyui_foot.html -->
<!-- partial -->