<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
            <div class="section-content">
                <div class="section-item section-item-one section-item-padding">
                    <div class="standard-content font-20">
                        <div class="htmleaf-container">
                            <div class="container">
                                <div id="timeline">
                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-jibenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>基本信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">人员编号：</td>
                                                    <td><input class="easyui-textbox" name="snbh" value="{{snbh}}"
                                                            readonly style="min-width:280px;"> </td>
                                                    <td class="formtd">姓&emsp;&emsp;名：</td>
                                                    <td><input class="easyui-textbox" name="xm" value="{{xm}}" readonly
                                                            style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">监&ensp;室&ensp;号：</td>
                                                    <td><input class="easyui-textbox" name="jsh" value="{{jsh}}"
                                                            readonly style="min-width:280px;"> </td>
                                                    <td class="formtd">币&emsp;&emsp;种：</td>
                                                    <td><input class="easyui-textbox"  readonly id="currency"
                                                            style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">账户余额：</td>
                                                    <td><input class="easyui-textbox" name="xfqje" readonly id="xfqje"
                                                            style="min-width:280px;"> </td>
                                                    <td class="formtd">退还金额：</td>
                                                    <td><input class="easyui-textbox" name="xfje" readonly id="xfje"
                                                            style="min-width:280px;"> </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-jibenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>业务信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">退还日期：</td>
                                                    <td><input id="blrq" class="easyui-datetimebox" name="blsj"
                                                            value="{{blrq}}" style="min-width:280px;"> </td>
                                                    <td class="formtd">办&ensp;理&ensp;人：<font class="redicon">*</font></td>
                                                    <td><input id="blr" class="easyui-textbox" name="blr"
                                                            value="{{blr}}" required style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">摘&emsp;&emsp;要：</td>
                                                    <td colspan="3"><input class="easyui-textbox" name="zy" id="allzy"
                                                            data-options="multiline:true" style="width:100%;"> </td>
                                                </tr>
                                                <tr style="display: none;">
                                                    <td>
                                                        <input name="rybh" value="{{rybh}}">
                                                    </td>
                                                </tr>
                                                <tr style="display: none;">
                                                    <td>
                                                        <input name="xfhye" value="0.00">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</body>