<link rel="stylesheet" href="/apps/kss/static/lib/layui/css/layui.css">
<form action="" class="layui-form" id="jjbfm">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">姓&emsp;&emsp;名：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{xm}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">民&emsp;&emsp;族：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{mzString}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">国&emsp;&emsp;籍：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{gjString}}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">性&emsp;&emsp;别：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{xbString}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">政治面貌：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{zzmmString}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">婚姻状况：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{hyzkString}}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">户&ensp;籍&ensp;地：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{hjdString}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">现&ensp;住&ensp;址：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{xzdString}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">文化程度：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{whcdString}}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">工作单位：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{gzdw}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">入所性质：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{rsxzString}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">转入单位：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{zrdw}}">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">羁押日期：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{jyrq}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">关押期限：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{gyqx}}">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">办案单位：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" value="{{badw}}">
            </div>
        </div>
    </div>
</form>