
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>基本信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">监&emsp;&emsp;&ensp;室&nbsp;&ensp;&emsp;&emsp;号：</td>
                                    <td><input class="easyui-combobox" name="jsh" value="{{jsh}}" style="min-width:280px;" readonly></td>
                                    <td class="formtd">姓&emsp;&emsp;名：</td>
                                    <td><input class="easyui-textbox" name="xm" value="{{xm}}" style="min-width:280px;" readonly></td>
                                   
                                </tr>
                                <tr>
                                    <td class="formtd">别&emsp;&emsp;&emsp;&nbsp;&emsp;&emsp;&emsp;名：</td>
                                    <td><input class="easyui-textbox" value="{{bm}}" style="min-width:280px;" readonly></td>
                                    <td class="formtd">性&emsp;&emsp;别：</td>
                                    <td ><input class="awdCombox" value="{{xb}}" text="{{xbString}}" style="min-width:280px;" readonly></td>
                                </tr>
                                <tr>
                                    <td class="formtd">出&emsp;生&emsp;&nbsp;&emsp;日&emsp;期：</td>
                                    <td ><input class="easyui-datetimebox" value="{{csrq}}" style="min-width:280px;" readonly> </td>
                                    <td class="formtd">入所日期：</td>
                                    <td ><input class="easyui-datetimebox" value="{{rsrq}}" style="min-width:280px;" readonly> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">办&emsp;案&emsp;&nbsp;&emsp;环&emsp;节：</td>
                                    <td ><input class="awdCombox" value="{{bahj}}" text="{{bahjString}}" style="min-width:280px;" readonly> </td>
                                    <td class="formtd">涉嫌罪名：</td>
                                    <td ><input class="awdCombox" value="{{ay}}" text="{{ayString}}" style="min-width:280px;" readonly> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">户&ensp;籍&emsp;地&nbsp;&emsp;详&ensp;址：</td>
                                    <td ><input class="easyui-textbox" value="{{hjdxz}}" style="min-width:280px;" readonly> </td>
                                    <td class="formtd">档案编号：</td>
                                    <td ><input class="easyui-textbox" value="{{dah}}" style="min-width:280px;" readonly> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">承&ensp;&emsp;&emsp;办&nbsp;&ensp;&emsp;&emsp;人：</td>
                                    <td ><input class="easyui-textbox" value="{{ldpsxx.emdj_jbr}}" style="min-width:280px;" readonly> </td>
                                    <td class="formtd">承办日期：</td>
                                    <td ><input class="easyui-datetimebox" value="{{ldpsxx.emdj_szrq}}" style="min-width:280px;" readonly> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">布&thinsp;建&thinsp;理&thinsp;&nbsp;由&thinsp;及&thinsp;任&thinsp;务：</td>
                                    <td colspan="3">
                                        <input class="awdCombox" value="{{ldpsxx.emdj_ly}}" text="{{ldpsxx.emdj_lyString}}" data-options="multiline:true" style="min-height: 80px;width: 100%;" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formtd">承&emsp;办&emsp;&nbsp;&emsp;意&emsp;见：</td>
                                    <td colspan="3">
                                        <input class="easyui-textbox" value="{{ldpsxx.emdj_bz}}" data-options="multiline:true" style="min-height: 80px;width: 100%;" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td>中队&emsp;/警组&emsp;意见：</td>
                                    <td>
                                        <input type="radio" value="1" checked disabled><font>同意</font>
                                        <input type="radio" value="2"  disabled><font>不同意</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formtd">中队/警组意见内容：<font class="redicon">*</font></td>
                                    <td colspan="3">
                                        <input class="easyui-textbox" value="{{ldpsxx.emdj_zdzyj}}" data-options="multiline:true" style="min-height: 80px;width: 100%;" readonly>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formtd">中队&emsp;领导&emsp;&nbsp;签名：</td>
                                    <td ><input class="easyui-textbox" value="{{ldpsxx.emdj_zdzxm}}" style="min-width:280px;" readonly> </td>
                                    <td class="formtd">签名日期：</td>
                                    <td ><input class="easyui-datetimebox" value="{{ldpsxx.emdj_zdzpssj}}" style="min-width:280px;" readonly> </td>
                                </tr>


                                
                            </table>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-icon">
                             <span class="iconfont icon-yewubaobiao"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>所领导意见</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td>所&ensp;领&ensp;导&ensp;意&ensp;见：<font class="redicon">*</font></td>
                                    <td>
                                        <input type="radio" name="psbz" value="1" checked  ><font>同意</font>
                                        <input type="radio" name="psbz" value="2"  ><font>不同意</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formtd">所领导意见内容：<font class="redicon">*</font></td>
                                    <td colspan="3">
                                        <input class="sldyjnr easyui-textbox" name="ldyj" value="{{ldyj}}" required data-options="multiline:true" style="min-height: 80px;width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formtd">所&ensp;领&ensp;导&ensp;签&ensp;字：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" id="ldxm" name="ldxm" required  style="min-width:280px;"> </td>
                                    <td class="formtd">签名时间：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-datetimebox" id="ldpssj" name="ldpssj" required style="min-width:280px;"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>