
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>基本信息</h2>
                            <table class="container-formtable form-jbxx">
                                <tr>
                                    <td class="formtd">监&ensp;室&ensp;号：</td>
                                    <td style="min-width:280px;">
                                        <input class="awdCombox" value="{{jsh}}" readonly style="min-width:280px;">
                                    </td>
                                    <td class="formtd">姓&emsp;&emsp;&emsp;名：</td>
                                    <td ><input class="easyui-textbox" value="{{xm}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">别&emsp;&emsp;名：</td>
                                    <td ><input class="easyui-textbox" value="{{bm}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">性&emsp;&emsp;&emsp;别：</td>
                                    <td style="min-width:280px;">
                                        <input class="awdCombox" value="{{xb}}" text="{{xbString}}" readonly style="min-width:280px;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formtd">出生日期：</td>
                                    <td ><input class="easyui-datebox" value="{{csrq}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">入&nbsp;所&nbsp;&thinsp;日&nbsp;期：</td>
                                    <td ><input class="easyui-datetimebox" value="{{rsrq}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">办案环节：</td>
                                    <td colspan="1">
                                        <input class="awdCombox" value="{{bahj}}" text="{{bahjString}}"  readonly style="min-width:280px;">
                                    </td>
                                    <td class="formtd">户籍所在地：</td>
                                    <td ><input class="awdCombox" value="{{hjd}}" text="{{hjdString}}" readonly style="min-width:280px;"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                   

                    <div class="timeline-item">
                        <div class="timeline-icon">
                             <span class="iconfont icon-yewubaobiao"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>办理信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">反映情况：
                                        <font class="redicon">*</font></td>
                                    <td colspan="3"><input class="easyui-textbox" name="xxwgqk" value="{{xxwgqk}}" required  data-options="multiline:true" style="min-height: 80px;width: 100%;" required> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">签&emsp;&emsp;名：
                                        <font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" id="fkxmfm" name="fkxm" required style="min-width:280px;" required> </td>
                                    <td class="formtd">签名时间：
                                        <font class="redicon">*</font></td>
                                    <td ><input class="easyui-datetimebox" id="fkxmsj" value="{{fkxmsj}}" name="fkqmsj" required style="min-width:280px;"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>