
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>业务信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">会&emsp;议时&emsp;间：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-datetimebox" name="hysj" value="{{hysj}}" required style="min-width:280px;"> </td>
                                    <td class="formtd">会&nbsp;议&nbsp;地&nbsp;点：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" name="hydd" value="{{hydd}}"  required style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">会&nbsp;议&nbsp;主&nbsp;持&nbsp;人：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox"  name="hyzcr" value="{{hyzcr}}" required style="min-width:280px;"> </td>
                                    <td class="formtd">会议记录人：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" name="hyjlr" value="{{hyjlr}}"  required style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">参加会议人员：<font class="redicon">*</font></td>
                                    <td colspan="6"><input class="easyui-textbox" name="cjhyry"  value="{{cjhyry}}" data-options="multiline:true" required style="width: 100%;height:80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">会&ensp;议&emsp;内&ensp;容：<font class="redicon">*</font></td>
                                    <td colspan="6"><input class="easyui-textbox" name="hynr" value="{{hynr}}" data-options="multiline:true" required style="width: 100%;height:80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">备&emsp;&emsp;&emsp;&emsp;注：</td>
                                    <td colspan="6"><input class="easyui-textbox" name="bz" value="{{bz}}" data-options="multiline:true" style="width: 100%;height:80px;"> </td>
                                </tr>
                                <tr style="display: none;">
                                    <td colspan="3"><input name="id" value="{{id}}"
                                            class="">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    
                    
                    
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>