<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
            <div class="section-content">
                <div class="section-item section-item-one section-item-padding">
                    <div class="standard-content font-20">
                        <div class="htmleaf-container">
                            <div class="container">
                                <div id="timeline">
                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-jibenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>基本信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">职&emsp;工&emsp;姓&emsp;名：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-textbox" name="zgxm" value="{{zgxm}}"  style="min-width:280px;" required> </td>
                                                    <td class="formtd">证&emsp;件&emsp;类&emsp;型：<font class="redicon">*</font></td>
                                                    <td><input id="zjlx" class="awdCombox" name="zjlx" value="{{zjlx}}" code="ZJLX" style="min-width:280px;" required> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">证&emsp;&emsp;件&emsp;&emsp;号：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-textbox" name="zjh" value="{{zjh}}" data-options="validType:'idcard'" style="min-width:280px;" required> </td>
                                                    <td class="formtd">出&emsp;生&emsp;年&emsp;月：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-datebox" name="csny" value="{{csny}}" style="min-width:280px;" required> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">职&emsp;&emsp;&emsp;&emsp;&emsp;业：<font class="redicon">*</font></td>
                                                    <td><input class="awdCombox" name="zy"  code="QTGZRY"  style="min-width:280px;" required> </td>
                                                    <td class="formtd">手&emsp;&emsp;机&emsp;&emsp;号：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-textbox"  name="sjh" value="{{sjh}}" style="min-width:280px;" required data-options="validType:'mphone'"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">医生职业证编号：</td>
                                                    <td><input class="easyui-textbox" name="yszyzbh" value="{{yszyzbh}}" style="min-width:280px;"> </td>
                                                    <td class="formtd">学&emsp;&emsp;&emsp;&emsp;&emsp;历：<font class="redicon">*</font></td>
                                                    <td><input class="awdCombox" name="xl" value="{{xl}}" text="{{xlString}}" code="WHCD" style="min-width:280px;" required> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">民&emsp;&emsp;&emsp;&emsp;&emsp;族：<font class="redicon">*</font></td>
                                                    <td><input id="mz" class="awdCombox" name="mz" value="{{mz}}" code="MZ" style="min-width:280px;" required> </td>
                                                    <td class="formtd">户&ensp;籍&ensp;所&ensp;在&ensp;地：<font class="redicon">*</font></td>
                                                    <td><input class="awdCombox" name="hjszd" value="{{hjszd}}" code="XZQH" style="min-width:280px;" required> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">政&emsp;治&emsp;面&emsp;貌：<font class="redicon">*</font></td>
                                                    <td><input class="awdCombox" name="zzmm" value="{{zzmm}}"  code="ZZMM"  style="min-width:280px;" required> </td>
                                                    <td class="formtd">岗&emsp;&emsp;&emsp;&emsp;&emsp;位：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-textbox" name="gw" value="{{gw}}" style="min-width:280px;" required> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">联&emsp;系&emsp;电&emsp;话：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-textbox" name="lxdh" value="{{lxdh}}" style="min-width:280px;" required data-options="validType:'telephone'"> </td>
                                                    <td class="formtd">医生资格证编号：</td>
                                                    <td><input class="easyui-textbox" name="yszgzbh" value="{{yszgzbh}}" style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">家&emsp;庭&emsp;住&emsp;址：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-textbox" name="jtzz" value="{{jtzz}}" style="min-width:280px;" required> </td>
                                                    <td class="formtd">是&emsp;否&emsp;在&emsp;职：</td>
                                                    <td colspan="3">
                                                        <input type="radio" name="flag" checked value="0" id="">是
                                                        <input type="radio" name="flag" value="1" id="">否
                                                    </td>
                                                </tr>


                                                <tr>
                                                    <td class="formtd">备&emsp;&emsp;&emsp;&emsp;&emsp;注：</td>
                                                    <td colspan="3"><input class="easyui-textbox" name="bz" value="{{bz}}" style="width: 100%;">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</body>