<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
            <div class="section-content">
                <div class="section-item section-item-one section-item-padding">
                    <div class="standard-content font-20">
                        <div class="htmleaf-container">
                            <div class="container">
                                <div id="timeline">

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-jibenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>人员信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">人员编号：</td>
                                                    <td><input class="easyui-textbox" style="min-width:280px;"  value="{{snbh}}" readonly> </td>
                                                    <td class="formtd">姓&emsp;&emsp;名：</td>
                                                    <td><input class="easyui-textbox" style="min-width:280px;"  value="{{xm}}" readonly> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">监&ensp;室&ensp;号：</td>
                                                    <td><input class="awdCombox" style="min-width:280px;" value="{{jsh}}" readonly> </td>
                                                    <td class="formtd">申请原因：</td>
                                                    <td style="min-width:280px;">
                                                        <!-- < id="ccc" class="easyui-combobox" name="depst" value="{{depst}}"
                                                            style="width:100%;" >
                                                            <option value="aa">传授犯罪方法，教唆他人进行违法</option>
                                                            <option>其他</option>
                                                        </select> -->
                                                        <input   value="{{ldpsxx.sqyy}}"  class="awdCombox" style="width: 100%;" readonly/>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">申&ensp;请&ensp;人：</td>
                                                    <td><input class="easyui-textbox" style="min-width:280px;"  value="{{ldpsxx.sqr}}" readonly>
                                                    </td>
                                                    <td class="formtd">申请日期：</td>
                                                    <td><input class="easyui-datetimebox" style="min-width:280px;"  value="{{ldpsxx.sqrq}}" readonly>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">物&emsp;&emsp;品：</td>
                                                    <td colspan="3"><input class="easyui-textbox" style="width:100%;" name="wp"  readonly>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-yewubaobiao"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>业务信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">审&ensp;批&emsp;意&ensp;见：</td>
                                                    <td colspan="3">
                                                       <input type="radio" name="psbz" value="1" checked required>同意
                                                       <input type="radio" name="psbz" value="2" required>&nbsp;不同意
                                                    </td>

                                                </tr>
                                                <tr>
                                                    <td class="formtd">审批意见内容：</td>
                                                    <td colspan="3"><input class="easyui-textbox" id="ldyjnrfm" style="width:100%;height: 80px;" name="ldyj" data-options="multiline:true" >
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">办&emsp;&ensp;理&emsp;&ensp;人：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-textbox" style="min-width:280px;" id="djrfm" name="djr"  required> </td>
                                                    <td class="formtd">办理时间：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-datetimebox" style="min-width:280px;" id="djsjfm" name="djsj"  required> </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</body>
