<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
            <div class="section-content">
                <div class="section-item section-item-one section-item-padding">
                    <div class="standard-content font-20">
                        <div class="htmleaf-container">
                            <div class="container">
                                <div id="timeline">

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-jibenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>人员信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">人员编号：</td>
                                                    <td><input class="easyui-textbox" value="{{snbh}}" name="snbh" readonly style="min-width:280px;"> </td>
                                                    <td class="formtd">姓&emsp;&emsp;名：</td>
                                                    <td><input class="easyui-textbox" value="{{xm}}" name="xm" readonly style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">监&ensp;室&ensp;号：</td>
                                                    <td><input class="easyui-textbox" value="{{jsh}}" name="jsh" readonly style="min-width:280px;"> </td>
                                                    <td class="formtd">申请原因：</td>
                                                    <td><input class="easyui-textbox" value="{{ldpsxx.sqyy}}" name="sqyy"  readonly style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">申&ensp;请&ensp;人：</td>
                                                    <td><input class="easyui-textbox" value="{{ldpsxx.sqr}}" readonly name="sqr" style="min-width:280px;"></td>
                                                    <td class="formtd">申请日期：</td>
                                                    <td><input class="easyui-datetimebox" name="sqsj" value="{{ldpsxx.sqrq}}" readonly style="min-width:280px;"></td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">物&emsp;&emsp;品：</td>
                                                    <td colspan="3"><input class="easyui-textbox" name="wp" readonly style="width:100%;"></td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-yewubaobiao"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>业务信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">审&emsp;批&emsp;意&emsp;见：</td>
                                                    <td colspan="3">
                                                        <input type="radio" name="psbz" value="1" checked>同意
                                                        <input type="radio" name="psbz" value="2">不同意
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">审批意见及内容：</td>
                                                    <td colspan="3"><input class="easyui-textbox" name="ldyj" value="{{ldyj}}" multiline="true" style="width:100%;height: 100px;"></td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">办&emsp;&emsp;理&emsp;&emsp;人：<font class="redicon">*</font></td>
                                                    <td><input id="djr" class="easyui-textbox" name="djr" required  style="min-width:280px;"> </td>
                                                    <td class="formtd">办理时间：<font class="redicon">*</font></td>
                                                    <td><input id="djsj" class="easyui-datetimebox" name="djsj" required style="min-width:280px;"> </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</body>