<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
            <div class="section-content">
                <div class="section-item section-item-one section-item-padding">
                    <div class="standard-content font-20">
                        <div class="htmleaf-container">
                            <div class="container">
                                <div id="timeline">

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-jibenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>基本信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">监&emsp;室&emsp;号：</td>
                                                    <td><input class="easyui-textbox" readonly value="{{jsh}}"
                                                            style="min-width:280px;"> </td>
                                                    <td class="formtd">姓&emsp;&emsp;名：</td>
                                                    <td><input class="easyui-textbox" readonly value="{{xm}}"
                                                            style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">别&emsp;&emsp;&emsp;名：</td>
                                                    <td><input class="easyui-textbox" readonly value="{{bm}}"
                                                            style="min-width:280px;"> </td>
                                                    <td class="formtd">性&emsp;&emsp;别：</td>
                                                    <td><input class="awdCombox" readonly value="{{xb}}" text="{{xbString}}"
                                                            style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">出&thinsp;&thinsp;生&thinsp;日&thinsp;&thinsp;期：</td>
                                                    <td><input class="easyui-datetimebox" readonly value="{{csrq}}"
                                                            style="min-width:280px;"> </td>
                                                    <td class="formtd">入所日期：</td>
                                                    <td><input class="easyui-datetimebox" readonly value="{{rsrq}}"
                                                            style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">办&thinsp;&thinsp;案&thinsp;环&thinsp;&thinsp;节：</td>
                                                    <td><input class="awdCombox" readonly value="{{bahj}}" text="{{bahjString}}"
                                                            style="min-width:280px;"> </td>
                                                    <td class="formtd">涉嫌罪名：</td>
                                                    <td><input class="awdCombox" readonly value="{{ay}}" text="{{ayString}}"
                                                            style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">户籍所在地：</td>
                                                    <td colspan="3"><input class="awdCombox" readonly text="{{hjdString}}"
                                                            value="{{hjd}}" style="width:100%;"> </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-yewubaobiao"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>业务信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">奖&emsp;&ensp;励&emsp;&ensp;类&emsp;&ensp;型：</td>
                                                    <td colspan="3"><input class="awdCombox"
                                                            value="{{ldpsxx.jllx}}" text="{{ldpsxx.jllxString}}" readonly style="width:100%">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">奖&emsp;&ensp;励&emsp;&ensp;内&emsp;&ensp;容：</td>
                                                    <td colspan="3"><input class="easyui-textbox"
                                                            value="{{ldpsxx.jlgl_jtnr}}" readonly
                                                            data-options="multiline:true"
                                                            style="min-width:650px;height: 100px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">奖&ensp;励&ensp;主&ensp;要&ensp;事&ensp;项：</td>
                                                    <td colspan="3"><input class="easyui-textbox"
                                                            value="{{ldpsxx.jlgl_jlzyss}}" readonly
                                                            data-options="multiline:true"
                                                            style="min-width:650px;height: 100px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">中&ensp;队/警&ensp;组&ensp;意&ensp;见：<font class="redicon">*</font></td>
                                                    <td colspan="3">
                                                        <input type="radio" name="zdzpsbz" value="1" disabled>同意
                                                        <input type="radio" name="zdzpsbz" value="2" disabled>不同意
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">中队/警组意见内容：</td>
                                                    <td colspan="3"><input class="easyui-textbox" readonly
                                                            value="{{ldpsxx.jlgl_zdzyj}}" data-options="multiline:true"
                                                            style="min-width:650px;height: 100px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">中&ensp;队&ensp;领&ensp;导&ensp;签&ensp;字：</td>
                                                    <td><input class="easyui-textbox" value="{{ldpsxx.jlgl_zdzxm}}"
                                                            readonly style="min-width:280px;"> </td>
                                                    <td class="formtd">签字时间：</td>
                                                    <td><input class="easyui-datetimebox"
                                                            value="{{ldpsxx.jlgl_zdzpssj}}" readonly
                                                            style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">承&emsp;&emsp;&ensp;&nbsp;办&emsp;&emsp;&ensp;&thinsp;人：</td>
                                                    <td><input class="easyui-textbox" readonly
                                                            value="{{ldpsxx.jlgl_jbr}}" style="min-width:280px;"> </td>
                                                    <td class="formtd">承办时间：</td>
                                                    <td><input class="easyui-datetimebox" value="{{ldpsxx.jlgl_jbsj}}"
                                                            readonly style="min-width:280px;"> </td>
                                                </tr>


                                                <tr>
                                                    <td class="formtd">所&emsp;领&emsp;导&emsp;意&ensp;见：<font class="redicon">*</font></td>
                                                    <td colspan="3">
                                                        <input type="radio" checked name="ldpsbz" value="1">同意
                                                        <input type="radio" name="ldpsbz" value="2">不同意
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">所&thinsp;领&thinsp;导&thinsp;意&thinsp;见&thinsp;内&thinsp;容：<font class="redicon">*</font></td>
                                                    <td colspan="3"><input class="easyui-textbox" required name="ldyj"
                                                            data-options="multiline:true" id="ldyj" value="{{ldyj}}"
                                                            style="min-width:650px;height: 100px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">所&ensp;领&emsp;导&emsp;&nbsp;签&ensp;字：<font class="redicon">*</font></td>
                                                    <td><input id="ldxm" class="easyui-textbox" name="ldxm" required
                                                            style="min-width:280px;"> </td>
                                                    <td class="formtd">签字时间：</td>
                                                    <td><input id="ldpssj" class="easyui-datetimebox" name="ldpssj"
                                                            value="{{ldpssj}}" style="min-width:280px;"> </td>
                                                </tr>
                                                <tr style="display: none;">
                                                    <td colspan="3"><input name="rybh" value="{{rybh}}"
                                                            class="">
                                                    </td>
                                                </tr>
                                                <tr style="display: none;">
                                                    <td colspan="3"><input name="id" value="{{ldpsxx.jlgl_id}}"
                                                            class="">
                                                    </td>
                                                </tr>
                                                <tr style="display: none;">
                                                    <td colspan="3"><input name="taskid" value="{{taskid}}"
                                                            class="">
                                                    </td>
                                                </tr>
                                                <tr style="display: none;">
                                                    <td colspan="3"><input name="ywlcid" value="{{ywlcid}}"
                                                            class="">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</body>
