
<body class="easyui-layout" data-option="fit:true">
        <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
        <div class="section-content">
            <div class="section-item section-item-one section-item-padding">
                <div class="standard-content font-20">
                 <div class="htmleaf-container">
                 <div class="container">
                    <div id="timeline">
                        <div class="timeline-item">
                            <div class="timeline-icon">
                               <span class="iconfont icon-jibenxinxi"></span>
                            </div>
                            <div class="timeline-content right">
                                <h2>个人信息</h2>
                                <table class="container-formtable form-jbxx">
                                    <tr>
                                        <td class="formtd">监&ensp;室&ensp;号：</td>
                                        <td ><input class="easyui-textbox" style="min-width:180px;" readonly value="{{jsh}}"> </td>
                                        <td class="formtd">姓&ensp;&ensp;&ensp;&ensp;名：</td>
                                        <td ><input class="easyui-textbox" style="min-width:180px;" readonly value="{{xm}}"> </td>
                                        <td class="formtd">别&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;名：</td>
                                        <td ><input class="easyui-textbox" style="min-width:180px;" readonly value="{{bm}}"> </td>
                                    </tr>
                                    <tr>
                                        <td class="formtd">性&ensp;&ensp;&ensp;&ensp;别	：</td>
                                        <td ><input class="awdCombox" style="min-width:180px;" readonly value="{{xb}}" text="{{xbString}}"> </td>
                                        <td class="formtd">出生日期	：</td>
                                        <td ><input class="easyui-datebox" style="min-width:180px;" readonly value="{{csrq}}"> </td>
                                        <td class="formtd">入&ensp;所日&ensp;期	：</td>
                                        <td ><input class="easyui-datebox" style="min-width:180px;" readonly value="{{rsrq}}"> </td>
                                    </tr>
                                    <tr>
                                        <td class="formtd">办案环节：</td>
                                        <td ><input class="awdCombox" style="min-width:180px;" readonly value="{{bahj}}" text="{{bahjString}}"> </td>
                                        <td class="formtd">涉嫌罪名	：</td>
                                        <td ><input class="awdCombox" style="min-width:180px;" readonly value="{{ay}}" text="{{ayString}}"> </td>
                                        <td class="formtd">户籍地详址：</td>
                                        <td ><input class="easyui-textbox" style="min-width:180px;" readonly value="{{hjdxz}}"> </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
    
                        <div class="timeline-item">
                            <div class="timeline-icon">
                                 <span class="iconfont icon-anjian"></span>
                            </div>
                            <div class="timeline-content right">
                                <h2>业务信息</h2>
                                <table class="container-formtable">
                                    <tr>
                                        <td class="formtd">检&ensp;查&ensp;&ensp;人&ensp;员：<font class="redicon">*</font></td>
                                        <td ><input id="jcr" class="easyui-textbox" required name="jcr" style="min-width:280px;"> </td>
                                        <td class="formtd">检&ensp;查&ensp;&ensp;时&ensp;间：<font class="redicon">*</font></td>
                                        <td ><input id="jcsj" class="easyui-datetimebox" required name="jcsj" style="min-width:280px;"> </td>
                                    </tr>
                                    <tr>
                                        <td class="formtd">初步检查结果：<font class="redicon">*</font></td>
                                        <td>     
                                            <input type="radio" name="cbjcjg" class="radiocss" checked value="1"><font>正常</font> 
                                            <input type="radio" name="cbjcjg" class="radiocss" value="2"><font>异常</font>
                                        </td>
                                        <td class="formtd">会见结束时间：<font class="redicon">*</font></td>
                                        <td ><input id="jssj" class="easyui-datetimebox" required name="jssj" style="min-width:280px;"> </td>
                                    </tr>
                                    <tr id="ycqk">
                                        <td class="formtd">异常情况说明：</td>
                                        <td colspan="3"><input class="easyui-textbox" name="ycqksm" data-options="multiline:true" style="width: 100%;height:80px;"> </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
    
                        
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
       </div>
    </form>
    </body>
