
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    <!--<div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>基本信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">监室号：</td>
                                    <td><input class="easyui-textbox"  style="min-width:280px;" readonly></td>
                                    <td class="formtd">姓名：</td>
                                    <td><input class="easyui-textbox" style="min-width:280px;" readonly></td>
                                   
                                </tr>
                                <tr>
                                    <td class="formtd">涉嫌罪名：</td>
                                    <td><input class="easyui-textbox" style="min-width:280px;" readonly></td>
                                    <td class="formtd">办案环节	：</td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;" readonly></td>
                                </tr>
                                <tr>
                                    <td class="formtd">调监理由：</td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;" readonly> </td>
                                    <td class="formtd">拟调监室号：</td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;" readonly> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">中队签名：</td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;" readonly> </td>
                                    <td class="formtd">中队签名日期：</td>
                                    <td ><input class="easyui-datetimebox" style="min-width:280px;" readonly> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">所长批示日期：</td>
                                    <td ><input class="easyui-datetimebox" style="min-width:280px;" readonly> </td>
                                </tr>
                            </table>
                        </div>
                    </div>-->
                    <div class="timeline-item">
                        <div class="timeline-icon">
                            <span class="iconfont icon-gerenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>个人信息</h2>
                            <table class="container-formtable Form_Table" border=1 id="Table_ryxx"
                                                style="width:100%;"></table>
                            <!-- <table class="container-formtable" style="width:100%;">
                                <tbody>
                                <tr>
                                    <td style="width:10%;background-color: #297aff; color: #fff;">序号
                                    </td>
                                    <td style="width:15%;background-color: #297aff; color: #fff;">
                                        监室号</td>
                                    <td style="width:15%;background-color: #297aff; color: #fff;">姓名
                                    </td>
                                    <td style="width:20%;background-color: #297aff; color: #fff;">关押期限
                                    </td>
                                    <td style="width:20%;background-color: #297aff; color: #fff;">
                                        办案环节</td>
                                    <td style="width:20%;background-color: #297aff; color: #fff;">
                                        拟出所日期</td>
                                </tr>
                                </tbody>
                                <tbody id="ryxx">
                                </tbody>
                            </table> -->
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-icon">
                             <span class="iconfont icon-yewubaobiao"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>业务信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">调整监室日期：<font class="redicon">*</font></td>
                                    <td colspan="3"><input class="easyui-datetimebox" id="tzsjfm" name="tzsj" value="{{tzsj}}" style="width: 100%;" > </td>
                                </tr>
                                <tr>
                                    <td class="formtd">备&emsp;&emsp;&emsp;&emsp;注：</td>
                                    <td colspan="3">
                                        <input class="easyui-textbox" id="bzfm" value="{{bz}}" name="bz" data-options="multiline:true" style="min-height: 80px;width: 100%;">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formtd">管&emsp;&emsp;&emsp;&emsp;教：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" id="gjxmfm" name="gjxm"  style="min-width:280px;" > </td>
                                    <td class="formtd">登记日期：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-datetimebox" id="djrqfm" name="djsj" value="{{djsj}}" style="min-width:280px;" > </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>