
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">

                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2></h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">检&ensp;查&emsp;内&ensp;容：<font class="redicon">*</font></td>
                                    <td colspan="3"><input class="easyui-textbox" name="jcnr" required  style="min-width:680px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">涉&ensp;及&emsp;民&ensp;警：<font class="redicon">*</font></td>
                                    <td colspan="3"><input class="easyui-textbox" name="sjmj" required  style="min-width:680px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">执法检查情况：<font class="redicon">*</font></td>
                                    <td colspan="3"><input class="easyui-textbox"  name="jcqk" required style="min-width:680px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">操&emsp;&emsp;&emsp;&emsp;作：</td>
                                    <td colspan="3">
                                            <input type="radio" id="nrkhID" name="nrkh" value="1"><font>是否纳入考核</font>
                                            <input type="radio" id="klID" name="kl" value="1" checked ><font>是否刻录</font>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formtd">地&emsp;&emsp;&emsp;&emsp;点：</td>
                                    <td colspan="3"><input class="easyui-textbox" name="dd" style="min-width:680px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">开始刻录时间：<font class="redicon">*</font></td>
                                    <td colspan="3"><input name="kssj" value="{{kssj}}" class="easyui-datetimebox" required style="min-width:680px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">结束刻录时间：<font class="redicon">*</font></td>
                                    <td colspan="3"><input name="jssj" class="easyui-datetimebox" required style="min-width:680px;"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                   
                
                    
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>
