
<body class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
        <div class="section-content zbdj-container">
            <div class="section-item section-item-one section-item-padding">
                <div class="standard-content font-20">               
                    <div class="container">              
                            <div class="zbdj-title"><span style="font-size: 18px;" class="iconfont icon-jibenxinxi"></span>值班信息</div>
                            <table class="zbdjTable" id="Zbdj_Form">
                                <tbody>
                                    <tr style='text-align: center;'>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">日期/岗位</td>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">所领导</td>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">收押</td>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">提审</td>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">巡控早班</td>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">巡控中班</td>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">巡控晚班</td>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">医生早班</td>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">医生中班</td>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">医生晚班</td>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">管教</td>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">总控早班</td>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">总控中班</td>
                                        <td class="formtd" style="border-bottom: 0px solid #ccc;">总控晚班</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;border: 1px solid #3d88f9;border-right: 0;">星期一</td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_1_1" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_1_2" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_1_3" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_1_4" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_1_5" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_1_6" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_1_7" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_1_8" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_1_9" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_1_10" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_1_11" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_1_12" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_1_13" required="required"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;border-bottom: 1px solid #3e88f9;">星期二</td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_2_1" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_2_2" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_2_3" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_2_4" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_2_5" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_2_6" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_2_7" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_2_8" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_2_9" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_2_10" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_2_11" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_2_12" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_2_13" required="required"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;border-bottom: 1px solid #3e88f9;">星期三</td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_3_1" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_3_2" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_3_3" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_3_4" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_3_5" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_3_6" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_3_7" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_3_8" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_3_9" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_3_10" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_3_11" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_3_12" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_3_13" required="required"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;border-bottom: 1px solid #3e88f9;">星期四</td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_4_1" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_4_2" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_4_3" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_4_4" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_4_5" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_4_6" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_4_7" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_4_8" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_4_9" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_4_10" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_4_11" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_4_12" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_4_13" required="required"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;border-bottom: 1px solid #3e88f9;">星期五</td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_5_1" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_5_2" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_5_3" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_5_4" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_5_5" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_5_6" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_5_7" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_5_8" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_5_9" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_5_10" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_5_11" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_5_12" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_5_13" required="required"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center;border-bottom: 1px solid #3e88f9;">星期六</td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_6_1" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_6_2" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_6_3" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_6_4" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_6_5" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_6_6" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_6_7" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_6_8" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_6_9" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_6_10" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_6_11" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_6_12" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_6_13" required="required"></td>
                                    </tr>
                                    <tr>
                                        <td style="text-align:center;">星期日</td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_7_1" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_7_2" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_7_3" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_7_4" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_7_5" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_7_6" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_7_7" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_7_8" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_7_9" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_7_10" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_7_11" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_7_12" required="required"></td>
                                        <td class="zbdjTd"><input class="easyui-combobox" id="nei_right_table_7_13" required="required"></td>
                                    </tr>
                                </tbody>
                                <!-- <tbody id="zbdjTable"> -->
                                    <!-- <tr>
                                        <td>星期一</td>
                                        <td>星期二</td>
                                        <td>星期三</td>
                                        <td>星期四</td>
                                        <td>星期五</td>
                                        <td>星期六</td>
                                        <td>星期日</td>
                                    </tr> -->
                                <!-- </tbody> -->
                                <!-- <tr id="zbdjForm"></tr> -->
                                <!-- <tr>
                                    <td class="formtd">别名	：</td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;"> </td>
                                    <td class="formtd">性别：</td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">出生日期：</td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;"> </td>
                                    <td class="formtd">入所日期：</td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">办案环节	：</td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;"> </td>
                                    <td class="formtd">涉嫌罪名：</td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;"> </td>
                                </tr>
                                    <tr>
                                    <td class="formtd">户籍所在地：</td>
                                    <td colspan="3"><input class="easyui-textbox" style="min-width:675px;"> </td>
                                </tr> -->
                            </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>