<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
            <div class="section-content">
                <div class="section-item section-item-one section-item-padding">
                    <div class="standard-content font-20">
                        <div class="htmleaf-container">
                            <div class="container">
                                <div id="timeline">
                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-jibenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>基本信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">人&emsp;员&emsp;编&emsp;号：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-textbox" value="{{snbh}}"
                                                            style="min-width:280px;" readonly> </td>
                                                    <td class="formtd">姓&emsp;&emsp;名：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-textbox" name="xm" value="{{xm}}"
                                                            style="min-width:280px;" readonly> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">监&emsp;&emsp;室&emsp;&emsp;号：<font class="redicon">*</font></td>
                                                    <td colspan="3"><input class="easyui-textbox" name="jsh"
                                                            value="{{jsh}}" style="width: 100%;" readonly>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">申&emsp;&emsp;请&emsp;&emsp;人：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-textbox" name="txrxm" 
                                                            style="min-width:280px;" required> </td>
                                                    <td class="formtd">申请时间：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-datetimebox" name="djsj" value="{{sqsj}}"
                                                            style="min-width:280px;" required> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">联系理由及事项：<font class="redicon">*</font></td>
                                                    <td colspan="3"><input class="easyui-textbox" name="tsqk"
                                                            data-options="multiline:true"
                                                            style="width: 100%;height: 80px;" required>
                                                    </td>
                                                </tr>
                                                <tr style="display: none;">
                                                    <td>
                                                        <input name="rybh" value="{{rybh}}">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</body>