
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>药品信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">人员编号：<font class="redicon">*</font></td>
                                    <td ><input name="rybh" value="{{rybh}}" readonly code="YPMC" class="awdCombox"  style="min-width:180px;"> </td>
                                    <td class="formtd">姓名：<font class="redicon">*</font></td>
                                    <td ><input name="xm" readonly  value="{{xm}}"  class="easyui-textbox" style="min-width:180px;"> </td>
                                    <td class="formtd">监室号：</td>
                                    <td ><input name="jsh" value="{{jsh}}" readonly  class="easyui-textbox" style="min-width:180px;"> </td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>
                    <div class="timeline-item">
                            <div class="timeline-icon">
                               <span class="iconfont icon-jibenxinxi"></span>
                            </div>
                            <div class="timeline-content right">
                                <h2>进货信息</h2>
                                <table class="container-formtable">
                                    <tr>
                                        <td class="formtd">报告时间：<font class="redicon">*</font></td>
                                        <td ><input name="bgsj" value="{{bgsj}}" required class="easyui-datetimebox" style="min-width:180px;"> </td>
                                        <td class="formtd">处理时间：<font class="redicon"></font></td>
                                        <td ><input name="clsj" value="{{tbrq}}" class="easyui-datetimebox" style="min-width:180px;"> </td>
                                        <td class="formtd">处理人：<font class="redicon">*</font></td>
                                        <td ><input name="clr" value="{{tbr}}" required class="easyui-textbox" style="min-width:180px;"> </td>
                                    </tr>
                                    <tr>
                                        <td class="formtd">报告内容：<font class="redicon">*</font></td>
                                        <td colspan="6"><input name="bgnr" required class="easyui-textbox" multiline='true' style="width: 100%;height:80px;"> </td>
                                        
                                    </tr>
                                    <tr>
                                        <td class="formtd">处理情况：<font class="redicon">*</font></td>
                                        <td colspan="6"><input name="clqk" required class="easyui-textbox" multiline='true' style="width: 100%;height:80px;"> </td>
                                       
                                    </tr>
                                    <tr>
                                        <td class="formtd">备&ensp;&ensp;&ensp;&ensp;注：<font></font></td>
                                        <td colspan="6"><input name="bz" class="easyui-textbox" multiline='true' style="width: 100%;height:80px;"> </td>
                                       
                                    </tr>
                                </table>
                            </div>
                        </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>