
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content ryshgx-container">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">

                    <div class="timeline-item">
                        <div class="timeline-icon">
                            <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>基本信息</h2>
                            <table class="container-formtable form-jbxx">
                                <tr>
                                    <td class="formtd">原监室号：</td>
                                    <td ><input  readonly  class="awdCombox" style="min-width:280px;"> </td>
                                    <td class="formtd">姓名：</td>
                                    <td ><input  readonly class="easyui-textbox" style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">别名：</td>
                                    <td ><input readonly class="easyui-textbox" style="min-width:280px;"> </td>
                                    <td class="formtd">性别：</td>
                                    <td >
                                        <input readonly class="awdCombox" style="min-width:280px;">
                                    </td>
                                </tr> 
                                <tr>
                                    <td class="formtd">出生日期：</td>
                                    <td ><input readonly class="easyui-datetimebox" style="min-width:280px;"> </td>
                                    <td class="formtd">入所日期：</td>
                                    <td ><input readonly class="easyui-datetimebox" style="min-width:280px;"> </td>
                                </tr>
                               
                            </table>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-icon">
                            <span class="iconfont icon-yewubaobiao"></span>
                        </div>
                        <div class="right timeline-content" >
                            <h2>业务信息</h2>
                            <!-- <div class="ryshgx right">
                                <div title="视察代表" class="tabCard" style="padding:20px; ">
                                    <div style="text-align: right; "><a href="# ">添加行</a></div>
                                </div>
                            </div> -->
                            <table class="table-border" >    
                                <tbody>
                                    <tr>
                                        <td colspan="9" align="center">家庭成员名单</td>
                                    </tr>
                                    <tr>
                                       <td style="min-width: 100px;padding:5px;" align="center">姓名</td>
                                       <td style="min-width: 100px;padding:5px;" align="center">性别</td>
                                       <td style="min-width: 100px;padding:5px;" align="center">关系</td>
                                       <td style="min-width: 100px;padding:5px;" align="center">工作单位</td>
                                       <td style="min-width: 100px;padding:5px;" align="center">职业</td>
                                       <td style="min-width: 100px;padding:5px;" align="center">住所</td>
                                       <td style="min-width: 100px;padding:5px;" align="center">联系电话</td>
                                       <td style="min-width: 100px;padding:5px;" align="center">证件号码</td>
                                       <td style="min-width: 100px;padding:5px;" align="center">增删</td>
                                        
                                    </tr>
                                </tbody>
                                <tbody id='jtcyTable'>
                                    <!-- <div style="text-align: right; "><a href="# ">添加行</a></div> -->
                                </tbody> 
                            </table>
                        </div>
                    </div>



                    <div class="timeline-item">
                        <div class="timeline-icon">
                            <span class="iconfont icon-yewubaobiao"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>社会关系</h2>
                            <table class="container-formtable table-border">
                                <tbody>
                                    <tr>
                                        <td style="min-width: 100px;" align="center">序号</td>
                                        <td style="min-width: 100px;" align="center">姓名</td>
                                        <td style="min-width: 100px;" align="center">性别</td>
                                        <td style="min-width: 100px;" align="center">证件号码</td>
                                        <td style="min-width: 100px;" align="center">关系</td>
                                        <td style="min-width: 100px;" align="center">工作单位</td>
                                        <td style="min-width: 100px;" align="center">职业</td>
                                        <td style="min-width: 100px;" align="center">住所</td>
                                        <td style="min-width: 100px;" align="center">联系电话</td>
                                    </tr>
                                </tbody>
                                <tbody id="shgxTable"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>