
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    <div class="timeline-item">
                        <div class="timeline-icon">
                             <span class="iconfont icon-anjian"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>登记信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td>人员编号：</td>
                                    <td ><input class="easyui-textbox" name="gcbh" value="{{rybh}}" style="min-width:280px;" readonly> </td>
                                    <td >姓&ensp;&ensp;名：</td>
                                    <td ><input class="easyui-textbox" name="xm" value="{{params.xm}}" style="min-width:280px;" readonly > </td>
                                </tr>
                                <tr>
                                    <td >登记日期：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-datebox" name="djrq" value="{{djrq}}" style="min-width:280px;" required> </td>
                                    <td >登记人：<font class="redicon">*</font></td>
                                    <td ><input id="djr" class="easyui-textbox"  name="djr" value="{{djr}}" style="min-width:280px;" required> </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-icon">
                             <span class="iconfont icon-gerenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>网办物品信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">封装&ensp;袋&ensp;数量：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;" data-options="validType:'number'"  name="fzdsl" required> </td>
                                    <td class="formtd">封装&ensp;袋&ensp;编号：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;" name="fzdbh" required> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">大件物品数量：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;" data-options="validType:'number'" name="djwpsl" required> </td>
                                    <td class="formtd">大件物品编号：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" style="min-width:280px;" name="djwpbh" required> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">备&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;注：</td>
                                    <td colspan="3"><input class="easyui-textbox" name="bz" data-options="multiline:true" style="width:100%;"> </td>
                                </tr>
                                
                            </table>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-icon">
                             <span class="iconfont icon-yewubaobiao"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>现金接收</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">办理日期：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-datebox" name="blrq" value="{{blrq}}"  style="min-width:280px;" required> </td>
                                    <td class="formtd">金额：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" name="jsje" style="min-width:280px;" required> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">摘&ensp;&ensp;&ensp;&ensp;要：</td>
                                    <td colspan="3"><input class="easyui-textbox" name="zy" data-options="multiline:true" style="width: 100%;"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <div class="timeline-item">
                        <div class="timeline-icon">
                             <span class="iconfont icon-yewubaobiao"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>物品1</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">物品名称：</td>
                                    <td ><input class="awdCombox" name="wpmc1" code="JJWP" style="min-width:280px;" > </td>
                                    <td class="formtd">数量：</td>
                                    <td ><input class="easyui-textbox" name="sl1"  data-options="validType:'number'" style="min-width:280px;" > </td>
                                </tr>
                                <tr>
                                    <td class="formtd">型&ensp;&ensp;&ensp;&ensp;号：</td>
                                    <td ><input class="easyui-textbox" name="xh1"  style="min-width:280px;" > </td>
                                    <td class="formtd">特征：</td>
                                    <td ><input class="easyui-textbox" name="tz1" style="min-width:280px;" > </td>
                                </tr>
                                <tr>
                                    <td class="formtd">备&ensp;&ensp;&ensp;&ensp;注：</td>
                                    <td colspan="3"><input class="easyui-textbox" name="bz" data-options="multiline:true" style="width: 100%;"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
					<div class="timeline-item">
					    <div class="timeline-icon">
					         <span class="iconfont icon-yewubaobiao"></span>
					    </div>
					    <div class="timeline-content right">
					        <h2>物品2</h2>
					        <table class="container-formtable">
					            <tr>
					                <td class="formtd">物品名称：</td>
					                <td ><input class="awdCombox" name="wpmc2" code="JJWP" style="min-width:280px;" > </td>
					                <td class="formtd">数量：</td>
					                <td ><input class="easyui-textbox" name="sl2"  data-options="validType:'number'" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">型&ensp;&ensp;&ensp;&ensp;号：</td>
					                <td ><input class="easyui-textbox" name="xh2"  style="min-width:280px;" > </td>
					                <td class="formtd">特征：</td>
					                <td ><input class="easyui-textbox" name="tz2" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">备&ensp;&ensp;&ensp;&ensp;注：</td>
					                <td colspan="3"><input class="easyui-textbox" name="bz" data-options="multiline:true" style="width: 100%;"> </td>
					            </tr>
					        </table>
					    </div>
					</div>
					<div class="timeline-item">
					    <div class="timeline-icon">
					         <span class="iconfont icon-yewubaobiao"></span>
					    </div>
					    <div class="timeline-content right">
					        <h2>物品3</h2>
					        <table class="container-formtable">
					            <tr>
					                <td class="formtd">物品名称：</td>
					                <td ><input class="awdCombox" name="wpmc3" code="JJWP"  style="min-width:280px;" > </td>
					                <td class="formtd">数量：</td>
					                <td ><input class="easyui-textbox" name="sl3"  data-options="validType:'number'" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">型&ensp;&ensp;&ensp;&ensp;号：</td>
					                <td ><input class="easyui-textbox" name="xh3"  style="min-width:280px;" > </td>
					                <td class="formtd">特征：</td>
					                <td ><input class="easyui-textbox" name="tz3" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">备&ensp;&ensp;&ensp;&ensp;注：</td>
					                <td colspan="3"><input class="easyui-textbox" name="bz" data-options="multiline:true" style="width: 100%;"> </td>
					            </tr>
					        </table>
					    </div>
					</div>
					<div class="timeline-item">
					    <div class="timeline-icon">
					         <span class="iconfont icon-yewubaobiao"></span>
					    </div>
					    <div class="timeline-content right">
					        <h2>物品4</h2>
					        <table class="container-formtable">
					            <tr>
					                <td class="formtd">物品名称：</td>
					                <td ><input class="awdCombox" name="wpmc4" code="JJWP"  style="min-width:280px;" > </td>
					                <td class="formtd">数量：</td>
					                <td ><input class="easyui-textbox" name="sl4"  data-options="validType:'number'" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">型&ensp;&ensp;&ensp;&ensp;号：</td>
					                <td ><input class="easyui-textbox" name="xh4"  style="min-width:280px;" > </td>
					                <td class="formtd">特征：</td>
					                <td ><input class="easyui-textbox" name="tz4" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">备&ensp;&ensp;&ensp;&ensp;注：</td>
					                <td colspan="3"><input class="easyui-textbox" name="bz" data-options="multiline:true" style="width: 100%;"> </td>
					            </tr>
					        </table>
					    </div>
					</div>
					<div class="timeline-item">
					    <div class="timeline-icon">
					         <span class="iconfont icon-yewubaobiao"></span>
					    </div>
					    <div class="timeline-content right">
					        <h2>物品5</h2>
					        <table class="container-formtable">
					            <tr>
					                <td class="formtd">物品名称：</td>
					                <td ><input class="awdCombox" name="wpmc5" code="JJWP" style="min-width:280px;" > </td>
					                <td class="formtd">数量：</td>
					                <td ><input class="easyui-textbox" name="sl5"  data-options="validType:'number'" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">型&ensp;&ensp;&ensp;&ensp;号：</td>
					                <td ><input class="easyui-textbox" name="xh5"  style="min-width:280px;" > </td>
					                <td class="formtd">特征：</td>
					                <td ><input class="easyui-textbox" name="tz5" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">备&ensp;&ensp;&ensp;&ensp;注：</td>
					                <td colspan="3"><input class="easyui-textbox" name="bz" data-options="multiline:true" style="width: 100%;"> </td>
					            </tr>
					        </table>
					    </div>
					</div>
					<div class="timeline-item">
					    <div class="timeline-icon">
					         <span class="iconfont icon-yewubaobiao"></span>
					    </div>
					    <div class="timeline-content right">
					        <h2>物品6</h2>
					        <table class="container-formtable">
					            <tr>
					                <td class="formtd">物品名称：</td>
					                <td ><input class="awdCombox" name="wpmc6" code="JJWP"  style="min-width:280px;" > </td>
					                <td class="formtd">数量：</td>
					                <td ><input class="easyui-textbox" name="sl6"  data-options="validType:'number'" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">型&ensp;&ensp;&ensp;&ensp;号：</td>
					                <td ><input class="easyui-textbox" name="xh6"  style="min-width:280px;" > </td>
					                <td class="formtd">特征：</td>
					                <td ><input class="easyui-textbox" name="tz6" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">备&ensp;&ensp;&ensp;&ensp;注：</td>
					                <td colspan="3"><input class="easyui-textbox" name="bz" data-options="multiline:true" style="width: 100%;"> </td>
					            </tr>
					        </table>
					    </div>
					</div>
					<div class="timeline-item">
					    <div class="timeline-icon">
					         <span class="iconfont icon-yewubaobiao"></span>
					    </div>
					    <div class="timeline-content right">
					        <h2>物品7</h2>
					        <table class="container-formtable">
					            <tr>
					                <td class="formtd">物品名称：</td>
					                <td ><input class="awdCombox" name="wpmc7" code="JJWP" style="min-width:280px;" > </td>
					                <td class="formtd">数量：</td>
					                <td ><input class="easyui-textbox" name="sl7"  data-options="validType:'number'" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">型&ensp;&ensp;&ensp;&ensp;号：</td>
					                <td ><input class="easyui-textbox" name="xh7"  style="min-width:280px;" > </td>
					                <td class="formtd">特征：</td>
					                <td ><input class="easyui-textbox" name="tz7" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">备&ensp;&ensp;&ensp;&ensp;注：</td>
					                <td colspan="3"><input class="easyui-textbox" name="bz" data-options="multiline:true" style="width: 100%;"> </td>
					            </tr>
					        </table>
					    </div>
					</div>
					<div class="timeline-item">
					    <div class="timeline-icon">
					         <span class="iconfont icon-yewubaobiao"></span>
					    </div>
					    <div class="timeline-content right">
					        <h2>物品8</h2>
					        <table class="container-formtable">
					            <tr>
					                <td class="formtd">物品名称：</td>
					                <td ><input class="awdCombox" name="wpmc8" code="JJWP" style="min-width:280px;" > </td>
					                <td class="formtd">数量：</td>
					                <td ><input class="easyui-textbox" name="sl8"  data-options="validType:'number'" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">型&ensp;&ensp;&ensp;&ensp;号：</td>
					                <td ><input class="easyui-textbox" name="xh8"  style="min-width:280px;" > </td>
					                <td class="formtd">特征：</td>
					                <td ><input class="easyui-textbox" name="tz8" style="min-width:280px;" > </td>
					            </tr>
					            <tr>
					                <td class="formtd">备&ensp;&ensp;&ensp;&ensp;注：</td>
					                <td colspan="3"><input class="easyui-textbox" name="bz" data-options="multiline:true" style="width: 100%;"> </td>
					            </tr>
								<input type="hidden" name="taskid" value="{{taskId}}" />
								<input type="hidden" name="ywlcid" value="{{processInstanceId}}" />
								<input type="hidden" name="jsbh" value="{{jsbh}}" />
								<input type="hidden" name="rybh" value="{{rybh}}" />
					        </table>
					    </div>
					</div>
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>
