
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content  tjCsdjtary-container">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
                <div class="container">
                    <table id="taryTable"></table>
                </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>