
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>宣传信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">宣传对象：</td>
                                    <td ><input class="easyui-textbox" name="xcdx" value="{{xcdx}}" style="min-width:280px;"> </td>
                                    <td class="formtd">宣传时间：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-datetimebox" id="xcsjfm" name="xcsj" value="{{xcsj}}" required style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">有&ensp;限&ensp;期：</td>
                                    <td ><input class="easyui-textbox" name="yxq" value="{{yxq}}" style="min-width:280px;"> </td>
                                    <td class="formtd">负&ensp;责&ensp;人：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" name="fzr" required value="{{fzr}}" style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">宣传内容：<font class="redicon">*</font></td>
                                    <td colspan="3"><input class="easyui-textbox" required name="xcnr" value="{{xcnr}}" data-options="multiline:true" style="width: 100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">宣传范围：</td>
                                    <td colspan="3"><input class="easyui-textbox" name="xcfw" value="{{xcfw}}" data-options="multiline:true" style="width: 100%;min-height: 80px;"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>