<form id="fmXggzyq" class="awdform tcform" >
    <table style="border-collapse: collapse; width: 100%; margin: 0 auto;">
        <tbody>
        <tr>
            <td style="width: 20%;" class="form-title"><span>监区号<span style="color: #fe8181; float: right;">*</span></span></td>
            <td style="width: 80%;" class="hxsj"><input id="jqhfm" class="easyui-textbox" name="jqh" required style="width:100%;height:100%"></td>
        </tr>
        <tr>
            <td style="width: 20%;" class="form-title"><span>工作要求情况<span style="color: #fe8181; float: right;">*</span><br><input type="checkbox" checked="checked" id="fkID"/>必须反馈</span></td>
            <td style="width: 80%;" class="hxsj"><input name="yqqk" id="yqqkfm" class="easyui-textbox" required style="width:100%;height:80px" ></td>
        </tr>
        <tr>
            <td style="width: 20%;" class="form-title"><span>反馈人<span style="color: #fe8181; float: right;">*</span></span></td>
            <td style="width: 80%;text-align:left" class="hxsj"><input id="fkrfm" class="easyui-textbox" name="fkr" required style="width:100%;height:100%"></td>
        </tr>
        <tr>
            <td style="width: 20%;" class="form-title"><span>反馈时间<span style="color: #fe8181; float: right;">*</span></span></td>
            <td style="width: 80%;" class="hxsj"><input id="fksjfm" class="easyui-datetimebox" value="${notices.release_time}" name="fksj" required style="width:100%;height:100%" editable="false"></td>
        </tr>
        <tr>
            <td style="width: 20%;" class="form-title"><span>工作要求内容<span style="color: #fe8181; float: right;">*</span></span></td>
            <td style="width: 80%;" class="hxsj"><input id="yqnrfm"  name="yqnr" class="easyui-textbox" required style="width:100%;height:80px" multiline="true"></td>
        </tr>
        </tbody>
    </table>
</form>