<form id="fm" method="post" novalidate style="text-align: center;">
    <div class="fitem" style="width: 100%;">
        <div class="fitem" style="margin-bottom: 10px;">
            <label>人员编号:</label> <input id="snbhfm"  class="easyui-textbox"
                                        name="snbh" value="{{jbxx.snbh}}" style="width: 265px" readonly="readonly">
        </div>
        <div class="fitem" style="margin-bottom: 10px;margin-left: 25px;">
            <label>姓名:</label> <input id="xmfm" class="easyui-textbox"
                                      name="xm" style="width: 265px" value="{{jbxx.xm}}" readonly="readonly">
        </div>
        <div class="fitem" style="margin-left:11px; margin-bottom: 10px">
            <label>监室号:</label>
            <input id="jshfm" class="easyui-textbox" readonly value="{{jbxx.jsh}}" name="jsh"  style="width: 265px">
        </div>
        <div class="fitem" style="margin-bottom: 10px;margin-left: -6px;">
            <label>撤销原因<font color="red">*</font>:
            </label> <input id="lyfm" class="awdSelect" code="JJCXYY" name="ly"
                            style="width: 265px" required="required">
        </div>
        <div class="fitem" style="margin-bottom: 10px;margin-left: 2px;">
            <label style="margin-left: 10px">办理人:</label> <input id="blrfm"
                                                                 class="easyui-textbox" name="blr" style="width: 265px">
        </div>
        <div class="fitem" style="margin-bottom: 10px;margin-left: 0px;">
            <label>办理日期:</label> <input id="blrqfm" class="easyui-datebox" editable="false"
                                        name="blrq" style="width: 265px">
        </div>
        <div class="fitem" style="margin-bottom: 10px;margin-left: 25px;">
            <label>备注:</label> <input id="bzfm" class="easyui-textbox"
                                      name="bz" style="width: 265px; height: 60px;"
                                      data-options="multiline:true">
        </div>
    </div>
</form>