<form id="fm" class="fm" style="text-align: center;margin-top: 5%" novalidate>
    <div class="fitem" style="display: none">
        <input id="szcb_bllx" name="bllx" class="easyui-textbox" />
    </div>
    <div class="fitem" style="display: none">
        <input id="szcb_rybh" name="rybh" class="easyui-textbox" />
    </div>
    <div class="fitem" style="margin-bottom: 10px">
        <label style="margin-left: 5.45px">人员编号:</label>
        <input id="szcb_snbh" name="snbh" class="easyui-textbox" readonly required="required" value="{{jbxx.snbh}}" style="width: 200px">
    </div>
    <div class="fitem" style="margin-bottom: 10px">
        <label style="margin-left: 29.45px">姓名:</label>
        <input id="szcb_xm" name="xm" class="easyui-textbox" readonly required="required" value="{{jbxx.xm}}" style="width: 200px">
    </div>
    <div class="fitem" style="margin-bottom: 10px">
        <label style="margin-left: 17.45px;">监室号:</label>
        <input id="szcb_jsh" name="jsh" class="easyui-textbox" readonly required="required" value="{{jbxx.jsh}}" style="width: 200px">
    </div>
    <div class="fitem" style=" margin-left:-2px;margin-bottom: 10px">
        <label>械具名称<font color="red">*</font>:</label>
        <input id="szcb_xjmc" class="awdSelect" code="XJMC" name="xjmc" editable="false" style="width: 200px" required="required">
    </div>
    <div class="fitem" style=" margin-left:-2px;margin-bottom: 10px">
        <label>使用原因<font color="red">*</font>:</label>
        <input id="szcb_ly" name="ly" class="awdSelect" code="JJSYYY" style="width: 200px;height: 80px" required="required" data-options="multiline:true">
    </div>
    <div class="fitem" style="margin-bottom: 10px">
        <label>开始时间<font color="red">*</font>:</label>
        <input id="szcb_kssj" name="kssj" class="easyui-datetimebox" editable="false" required="required" style="width: 200px" >
    </div>
    <div class="fitem" style="margin-bottom: 10px">
        <label>使用天数<font color="red">*</font>:</label>
        <input id="szcb_syts" name="syts" class="easyui-numberbox" data-options="min:0,max:9999, validType:'number[0,10000]'"  required="required" style="width: 200px">
    </div>
    <div class="fitem" style="margin-bottom: 10px">
        <label  style="margin-left: 5.45px">结束时间:</label>
        <input id="szcb_jssj" name="jssj" class="easyui-datetimebox" editable="false" required="required" style="width: 200px" readonly>
    </div>
    <div class="fitem" style="margin-bottom: 10px">
        <label style="margin-left: 17.45px">办理人:</label>
        <input id="szcb_blr" name="blr" class="easyui-textbox"  required="required" value="{{blr}}" style="width: 200px">
    </div>
    <div class="fitem" style="margin-bottom: 10px">
        <label  style="margin-left: 5.45px">办理日期:</label>
        <input id="szcb_blrq" name='blrq' class="easyui-datetimebox" editable="false" required="required" style="width: 200px">
    </div>
    <div class="fitem">
        <label  style="margin-left: 5.45px">具体情况:</label>
        <input  name="jtqk" class="easyui-textbox" style="height: 60px;width: 200px"
                data-options="multiline:true" >
    </div>
</form>