
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>巡视信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">巡视范围：<font class="redicon">*</font></td>
                                    <td ><input  id="xsfwfm" class="easyui-combobox" name="xsfw"  required style="min-width:280px;"> </td>
                                    <td class="formtd">巡视时间：</td>
                                    <td ><input class="easyui-datetimebox" name="xssj" style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">巡视民警：</td>
                                    <td ><input class="easyui-textbox" name="xsmj" value="{{jsr}}" style="min-width:280px;"> </td>
                                    <td class="formtd">巡视类型：</td>
                                    <td ><input class="awdCombox" name="xslx" code="XSLB" style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">巡视情况：<font class="redicon">*</font></td>
                                    <td colspan="3"><input class="easyui-textbox" name="xsqk" data-options="multiline:true" style="min-height: 80px;width: 100%;" name="xsqk" required> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">备&ensp;&ensp;&ensp;&ensp;注：</td>
                                    <td colspan="3"><input class="easyui-textbox" name="bz" data-options="multiline:true" style="min-height: 80px;width: 100%;" name="bz"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                   

                    
                    
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>
