
<body class="easyui-layout" data-option="fit:true">
<div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
        <div class="section-content">
            <div class="section-item section-item-one section-item-padding">
                <div class="standard-content font-20">
                    <div class="htmleaf-container">
                        <div class="container">
                            <div id="timeline">

                                <div class="timeline-item">
                                    <div class="timeline-icon">
                                        <span class="iconfont icon-jibenxinxi"></span>
                                    </div>
                                    <div class="timeline-content right">
                                        <h2>基本信息</h2>
                                        <table class="container-formtable">
                                            <tr>
                                                <td class="formtd">涉&nbsp;&nbsp;&nbsp;案&nbsp;&nbsp;&nbsp;&nbsp;人：</td>
                                                <td><input class="easyui-textbox"  name="sar" value="{{ldpsxx.xzpa_sar}}" readonly
                                                           style="min-width:280px;"></td>
                                                <td class="formtd">涉&nbsp;案&nbsp;人&nbsp;数：</td>
                                                <td><input class="easyui-textbox"  name="sars" value="{{ldpsxx.xzpa_sars}}" readonly
                                                           style="min-width:280px;"></td>
                                            </tr>
                                            <tr>
                                                <td class="formtd">案&nbsp;发&nbsp;时&nbsp;间：</td>
                                                <td><input class="easyui-textbox" id="bm"  value="{{rsrq}}" readonly
                                                           style="min-width:280px;"></td>
                                                <td class="formtd">案&nbsp;发&nbsp;地&nbsp;点：</td>
                                                <td style="min-width:280px;">
                                                    <input class="easyui-textbox" name="afdd" value="{{ldpsxx.xzpa_afdd}}"
                                                           readonly style="min-width:280px;">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="formtd">涉&nbsp;案&nbsp;金&nbsp;额：</td>
                                                <td><input class="easyui-textbox" id="csrq" name="saje" value="{{ldpsxx.xzpa_saje}}"
                                                           readonly style="min-width:280px;"></td>
                                                <td class="formtd">检&nbsp;举&nbsp;日&nbsp;期：</td>
                                                <td><input class="easyui-datetimebox" id="rsrq"  value="{{ldpsxx.xzpa_tbjurq}}"
                                                           readonly style="min-width:280px;"></td>
                                            </tr>
                                            
                                        </table>
                                    </div>
                                </div>

                                <div class="timeline-item">
                                    <div class="timeline-icon">
                                        <span class="iconfont icon-yewubaobiao"></span>
                                    </div>
                                    <div class="timeline-content right">
                                        <h2>业务信息</h2>
                                        <table class="container-formtable">
                                            <tr>
                                                <td class="formtd">传&nbsp;&nbsp;&nbsp;&nbsp;递&nbsp;&nbsp;&nbsp;人：<font class="redicon">*</font></td>
                                                <td><input class="easyui-textbox" name="cdr" required
                                                           style="min-width:280px;"></td>
                                                <td class="formtd">传&nbsp;递&nbsp;电&nbsp;话：<font class="redicon">*</font></td>
                                                <td><input class="easyui-textbox" data-options="validType:'mphone'" name="cdrdh" required
                                                           style="min-width:280px;"></td>
                                            </tr>
                                            <tr>
                                                <td class="formtd">日&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;期：<font class="redicon">*</font></td>
                                                <td><input class="easyui-datetimebox" name="cdrq" value="{{rq}}" required
                                                           style="min-width:280px;"></td>
                                                <td class="formtd">传&nbsp;递&nbsp;单&nbsp;位：<font class="redicon">*</font></td>
                                                <td><input class="easyui-textbox" name="cddw" required
                                                           style="min-width:280px;"></td>
                                            </tr>
                                            <tr>
                                                <td class="formtd">接&nbsp;&nbsp;&nbsp;&nbsp;收&nbsp;&nbsp;&nbsp;人：<font class="redicon">*</font></td>
                                                <td><input class="easyui-textbox" name="jsr" required
                                                           style="min-width:280px;"></td>
                                                <td class="formtd">接收人电话：<font class="redicon">*</font></td>
                                                <td><input class="easyui-textbox" id="jsrdh" name="jsrdh" data-options="validType:'mphone'" required
                                                           style="min-width:280px;"></td>
                                            </tr>
                                            <tr>
                                                <td class="formtd">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</td>
                                                <td colspan="3"><input class="easyui-textbox" name="bz"
                                                                       style="width:100%;min-height: 80px;"
                                                                       data-options="multiline:true"></td>
                                            </tr>
                                            <tr style="display: none;">
                                                <td><input class="" name="rybh" value="{{rybh}}"></td>
                                            </tr>
                                            <tr style="display: none;">
                                                <td><input class="" name="id" value="{{id}}"></td>
                                            </tr>
                                            <tr style="display: none;">
                                                <td><input class="" name="taskid" value="{{taskid}}"></td>
                                            </tr>
                                            <tr style="display: none;">
                                                <td><input class="" name="ywlcid" value="{{ywlcid}}"></td>
                                            </tr>
                                            
                                        </table>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
</form>
</body>