<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
            <div class="section-content">
                <div class="section-item section-item-one section-item-padding">
                    <div class="standard-content font-20">
                        <div class="htmleaf-container">
                            <div class="container">
                                <div id="timeline">

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-jibenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>个人信息</h2>
                                            <table class="container-formtable">
                                                <td>
                                                <td class="formtd">人员编号：</td>
                                                <td><input class="easyui-textbox" value="{{snbh}}" name="snbh" readonly style="min-width:180px;"> </td>
                                                <td class="formtd">姓名：</td>
                                                <td><input class="easyui-textbox" value="{{xm}}" name="xm" readonly style="min-width:180px;"> </td>
                                                <td class="formtd">监室号：</td>
                                                <td><input class="easyui-textbox" value="{{jsh}}" name="jsh" readonly style="min-width:180px;"> </td>
                                                </td>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-yewubaobiao"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>业务信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">申&nbsp;&nbsp;请&emsp;原&nbsp;&nbsp;因：</td>
                                                    <td colspan="3"><input class="easyui-textbox" value="{{ldpsxx.sqyy}}" name="sqyy" readonly  data-options="multiline:true" style="min-height: 80px;width: 100%;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">申&emsp;&nbsp;&nbsp;请&nbsp;&nbsp;&emsp;人：</td>
                                                    <td><input class="easyui-textbox" name="sqr" value="{{xm}}" readonly style="min-width:280px;"> </td>
                                                    <td class="formtd">申请日期：</td>
                                                    <td><input class="easyui-datetimebox" name="sqsj" value="{{ldpsxx.sqsj}}" readonly style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">审&nbsp;&nbsp;批&emsp;意&nbsp;&nbsp;见：<font class="redicon">*</font></td>
                                                    <td colspan="3">
                                                        <input class="spyjy" type="radio" name="psbz" value="1" checked
                                                        required>同意
                                                        <input type="radio" class="spyjy" value="2" name="psbz" required>不同意
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">审批意见内容：</td>
                                                    <td colspan="3"><input class="easyui-textbox" data-options="multiline:true" style="min-height: 80px;width: 100%;" name="ldyj" value="{{ldyj}}">
                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td class="formtd">办&emsp;&nbsp;&nbsp;理&emsp;&nbsp;&nbsp;人：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-textbox" name="blr" value="{{ldxm}}" required style="min-width:280px;"> </td>
                                                    <td class="formtd">办理日期：<font class="redicon">*</font></td>
                                                    <td><input class="easyui-datetimebox" name="blsj" value="{{ldpssj}}" required style="min-width:280px;"> </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</body>