<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
            <div class="section-content">
                <div class="section-item section-item-one section-item-padding">
                    <div class="standard-content font-20">
                        <div class="htmleaf-container">
                            <div class="container">
                                <div id="timeline">

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-jibenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>基本信息</h2>
                                            <table class="container-formtable form-jbxx">
                                                <tr>
                                                    <td class="formtd">原监室号：</td>
                                                    <td><input class="easyui-textbox" value="{{jsh}}" readonly
                                                            style="min-width:280px;">
                                                    </td>
                                                    <td class="formtd">姓名：</td>
                                                    <td><input class="easyui-textbox" value="{{xm}}" readonly
                                                            style="min-width:280px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">别名：</td>
                                                    <td><input class="easyui-textbox" value="{{bm}}" readonly
                                                            style="min-width:280px;">
                                                    </td>
                                                    <td class="formtd">性别：</td>
                                                    <td>
                                                        <input class="awdCombox" readonly value="{{xb}}" text="{{xbString}}"
                                                            style="min-width:280px;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">出生日期：</td>
                                                    <td><input class="easyui-textbox" value="{{csrq}}" readonly
                                                            style="min-width:280px;">
                                                    </td>
                                                    <td class="formtd">入所日期：</td>
                                                    <td><input class="easyui-textbox" value="{{rsrq}}" readonly
                                                            style="min-width:280px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">办案环节：</td>
                                                    <td>
                                                        <input class="awdCombox" readonly value="{{bahj}}" text="{{bahjString}}"
                                                            style="min-width:280px;" />
                                                    </td>
                                                    <td class="formtd">涉嫌罪名：</td>
                                                    <td>
                                                        <input class="awdCombox" readonly value="{{ay}}" text="{{ayString}}"
                                                            style="min-width:280px;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">户籍所在地:</td>
                                                    <td colspan="3"><input class="easyui-textbox" style="width:100%;"
                                                            value="{{hjdxz}}" readonly> </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-yewubaobiao"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>服号信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">人员管理类别：<font class="redicon">*</font></td>
                                                    <td colspan="3"><input class="easyui-combobx" style="width:100%;"
                                                          id="rygllb"  required name="rygllb" value="1"  readonly>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">理&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由：</td>
                                                    <td colspan="3"><input class="easyui-textbox"
                                                            data-options="multiline:true"
                                                            style="height: 80px;width: 100%;" name="ly"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">监&nbsp;&nbsp;管&nbsp;&nbsp;措&nbsp;&nbsp;&nbsp;施：</td>
                                                    <td colspan="3"><input class="easyui-textbox"
                                                            data-options="multiline:true"
                                                            style="min-height: 80px;width: 100%;" name="kzcs"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">强&nbsp;&nbsp;制&nbsp;&nbsp;措&nbsp;&nbsp;&nbsp;施：</td>
                                                    <td colspan="3"><input class="easyui-textbox"
                                                            data-options="multiline:true"
                                                            style="min-height: 80px;width: 100%;" name="qzcs"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：</td>
                                                    <td colspan="3"><input class="easyui-textbox"
                                                            data-options="multiline:true"
                                                            style="min-height: 80px;width: 100%;" name="bz"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">呈&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;批&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;人：<font class="redicon">*</font></td>
                                                    <td><input id="jbr" name="jbr" required class="easyui-textbox"
                                                             style="min-width:280px;"> </td>
                                                    <td class="formtd">呈批时间：<font class="redicon">*</font></td>
                                                    <td><input id="blrqS" name="blrq" required class="easyui-datetimebox"
                                                             style="min-width:280px;"> </td>
                                                </tr>
                                                <tr style="display: none;">
                                                    <td colspan="3"><input name="rybh" value="{{rybh}}"
                                                            class="">
                                                    </td>
                                                </tr>
                                                <tr style="display: none;">
                                                    <td colspan="3"><input name="jbxxId" value="{{id}}"
                                                            class="">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</body>