<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
            <div class="section-content">
                <div class="section-item section-item-one section-item-padding">
                    <div class="standard-content font-20">
                        <div class="htmleaf-container">
                            <div class="container">
                                <div id="timeline">

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-jibenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>基本信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">原&nbsp;监&nbsp;&thinsp;室&nbsp;号：</td>
                                                    <td><input class="easyui-textbox" name="jsh" value="{{jsh}}"
                                                            readonly style="min-width:280px;">
                                                    </td>
                                                    <td class="formtd">姓&emsp;&emsp;名：</td>
                                                    <td><input class="easyui-textbox" name="xm" value="{{xm}}" readonly
                                                            style="min-width:280px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">别&emsp;&emsp;&emsp;名：</td>
                                                    <td><input class="easyui-textbox" name="bm" value="{{bm}}" readonly
                                                            style="min-width:280px;">
                                                    </td>
                                                    <td class="formtd">性&emsp;&emsp;别：</td>
                                                    <td>
                                                        <input class="awdCombox"  readonly value="{{xb}}" text="{{xbString}}"
                                                            style="min-width:280px;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">出&nbsp;生&nbsp;&thinsp;日&nbsp;期：</td>
                                                    <td><input class="easyui-datetimebox" name="csrq" value="{{csrq}}"
                                                            readonly style="min-width:280px;">
                                                    </td>
                                                    <td class="formtd">入所日期：</td>
                                                    <td><input class="easyui-datetimebox" name="rsrq" value="{{rsrq}}"
                                                            readonly style="min-width:280px;">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">办&nbsp;案&nbsp;&thinsp;环&nbsp;节：</td>
                                                    <td>
                                                        <input class="awdCombox"  readonly
                                                            value="{{bahj}}" text="{{bahjString}}" style="min-width:280px;" />
                                                    </td>
                                                    <td class="formtd">涉嫌罪名：</td>
                                                    <td>
                                                        <input class="easyui-textbox"  readonly value="{{ayString}}"
                                                            style="min-width:280px;" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">户籍所在地：</td>
                                                    <td colspan="3"><input class="awdCombox"
                                                            style="width:100%;" value="{{hjd}}" text="{{hjdString}}" readonly> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">简&nbsp;要&nbsp;&thinsp;案&nbsp;情：</td>
                                                    <td colspan="3"><input class="easyui-textbox" style="width:100%;"
                                                            name="jyaq" value="{{jyaq}}" readonly> </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-yewubaobiao"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>服号信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">人&ensp;员&nbsp;管&nbsp;&nbsp;&thinsp;理&nbsp;类&ensp;别：</td>
                                                    <td colspan="3"><input class="awdCombox" style="width:100%;"
                                                              value="{{zdry}}" text="{{zdryString}}"
                                                            readonly> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">解&emsp;&ensp;除&nbsp;&nbsp;&nbsp;&nbsp;&thinsp;理&emsp;&ensp;由：</td>
                                                    <td colspan="3"><input class="easyui-textbox"
                                                            data-options="multiline:true" value="{{ldpsxx.zdry_ly}}"
                                                            style="height: 80px;width: 100%;" name="ly"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">呈&emsp;&emsp;&ensp;&nbsp;批&emsp;&emsp;&ensp;人：</td>
                                                    <td><input name="jbr" value="{{ldpsxx.zdry_jbr}}" readonly
                                                            class="easyui-textbox" style="min-width:280px;"> </td>
                                                    <td class="formtd">呈&ensp;批&emsp;时&ensp;间：</td>
                                                    <td><input name="blrq" value="{{ldpsxx.zdry_blrq}}" readonly
                                                            class="easyui-datetimebox" style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">中&ensp;队&nbsp;/警&nbsp;&thinsp;组&nbsp;意&ensp;见：</td>
                                                    <td colspan="3">
                                                        <input type="radio" name="zdzpsbz" value="1" disabled>同意
                                                        <input type="radio" name="zdzpsbz" value="2" disabled>不同意
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">中队/警组意见内容：</td>
                                                    <td colspan="3"><input class="easyui-textbox"
                                                            data-options="multiline:true"
                                                            style="min-height: 80px;width: 100%;" name="zdzyj" readonly
                                                            value="{{ldpsxx.zdry_zdzyj}}"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">中&ensp;&emsp;队&emsp;&nbsp;签&emsp;&ensp;名：</td>
                                                    <td><input value="{{ldpsxx.zdry_zdzxm}}" name="zdzxm" readonly
                                                            class="easyui-textbox" style="min-width:280px;"> </td>
                                                    <td class="formtd">中队签名日期：</td>
                                                    <td><input name="zdzpssj" value="{{ldpsxx.zdry_zdzpssj}}" readonly
                                                            class="easyui-datetimebox" style="min-width:280px;"> </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-yewubaobiao"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>业务信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">所&nbsp;领&nbsp;导&thinsp;意&nbsp;见：<font class="redicon">*</font></td>
                                                    <td colspan="3">
                                                        <input type="radio" checked name="ldpsbz" value="1">同意
                                                        <input type="radio" name="ldpsbz" value="2">不同意
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">所&nbsp;领&nbsp;导&thinsp;批&nbsp;示：<font class="redicon">*</font></td>
                                                    <td colspan="3"><input name="ldyj" required class="easyui-textbox"
                                                            data-options="multiline:true" value="{{ldyj}}" id="ldyj"
                                                            style="height: 80px;width: 100%;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">中队领导签字：<font class="redicon">*</font></td>
                                                    <td><input id="ldxm" class="easyui-textbox" name="ldxm" 
                                                            required style="min-width:280px;"> </td>
                                                    <td class="formtd">签名日期：<font class="redicon">*</font></td>
                                                    <td><input id="ldpssj" class="easyui-datetimebox" name="ldpssj" required
                                                            value="{{ldpssj}}" style="min-width:280px;"> </td>
                                                </tr>
                                                <tr style="display: none;">
                                                    <td colspan="3"><input name="rybh" value="{{rybh}}"
                                                            class="">
                                                    </td>
                                                </tr>
                                                <tr style="display: none;">
                                                    <td colspan="3"><input name="id" value="{{ldpsxx.zdry_id}}"
                                                            class="">
                                                    </td>
                                                </tr>
                                                <tr style="display: none;">
                                                    <td colspan="3"><input name="taskid" value="{{taskid}}"
                                                            class="">
                                                    </td>
                                                </tr>
                                                <tr style="display: none;">
                                                    <td colspan="3"><input name="ywlcid" value="{{ywlcid}}"
                                                            class="">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</body>
