<!--
模块名称： 规范帮助
开始时间： 2020-2-29
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-option="fit:true" style="overflow:scroll;">
    <!--页面主体布局-->
    <div class="section-container">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-title">
                <h2 class='align-center gfsm-title'>提讯、提审、提解</h2>
            </div>
            <div class="standard-content font-22">
                <dl>
                    <dt>办案人员必须凭有效工作证件及相关凭证提讯、提审或者提解。每提讯、提审、提解一名在押人员，提讯、提审、提解人员不得少于2人。提讯、提审、提解按照以下程序办理：</dt>
                    <dt>一、查验凭证</dt>
                    <dd>(一) 办案机关凭加盖提讯专用章并注明法定羁押期限的《提讯、提解证》和有效工作证件提讯、提审、提解犯罪嫌疑人、被告人。</dd>
                    <dd> (二)
                        人民检察院提讯审查批捕的犯罪嫌疑人，凭《提讯、提解证》、公安机关《提请批准逮捕书》（复印件）和有效工作证件提讯。提讯应当自提请批准逮捕之日起7日内进行。超过该有效期限的，看守所不予提讯。
                    </dd>
                    <dd>(三) 死刑案件二审开庭，人民检察院因出庭支持公诉需要提讯原审被告人的，凭《提讯、提解证》、第二审人民法院阅卷通知书和人民检察院办案人员有效工作证件进行。</dd>
                    <dd>(四) 办案机关因办案需要向罪犯了解有关情况的，凭办案机关公函和办案人员有效工作证件，并经看守所领导批准后提讯。</dd>
                    <dd>(五)
                        办案机关因侦查工作需要提解在押人员出所辨认、起赃的，必须持有县级以上公安机关、国家安全机关或者人民检察院主要领导批示的报告，批示中必须明确标注“辨认罪犯、罪证”或者“起赃”这一法定原因，同时凭加盖提讯专用章的《提讯、提解证》提解出所。在押人员被提解出所期间，由提解的办案机关负责其安全和健康。
                    </dd>
                    <dd>(六) 提讯时需要翻译人员、未成年人监护人、法定代理人及其他专业人员在场的，办案机关应当出具书面证明。</dd>
                    <dd> 违反上述规定或者超过法定羁押期限的，看守所应当拒绝提讯、提审、提解。</dd>
                    <dt>二、填写《提讯、提审、提解登记》</dt>
                    <dt>三、收证提人</dt>
                    <dd>(一) 暂时留存办案机关《提讯、提解证》或者其他提讯、提审、提解凭证。</dd>
                    <dd>(二) 为在押人员加戴械具后将其提押至讯问室或者交给提解人员。</dd>
                    <dd>(三) 提讯、提审应当在看守所讯问室进行。对提讯、提审人员在提讯、提审过程中违反有关规定的，看守所应当制止，必要时可以中止提讯、提审。</dd>
                    <dd>(四) 对提解出所的在押人员，看守所应当对其进行询问和体表检查，并书面记录，由看守所民警、医生、办案人员和在押人员四方签字确认。</dd>
                    <dd>(五) 看守所安排提讯，不得影响被讯问人的正常休息以及就餐、疾病治疗等。</dd>
                    <dt>四、收人退证</dt>
                    <dd> (一) 安全和健康、体表检查
                        <dl>
                            <dd>提讯、提审或者提解结束后，看守所应当对在押人员进行安全检查；其中对提解出所送返看守所的，看守所还应当进行体表检查。检查情况应当作好书面记录。</dd>
                            <dd>1．经检查无异常的，由看守所民警、办案人员和在押人员签字确认后，看守所民警将在押人员押回原监室。</dd>
                            <dd>2．发现在押人员携带违禁物品的，予以没收；</dd>
                            <dd>3．发现在押人员体表和健康有异常的，看守所应当要求办案机关作出书面说明，并立即书面报告主管公安机关、上级业务指导部门和人民检察院驻所检察室；对有生命危险的，拒绝收押。</dd>
                        </dl>
                    </dd>
                    <dd>(二) 收押在押人员后，在《提讯、提审、提解登记》表上注明还押时间。</dd>
                    <dd>(三) 将提讯、提审、提解凭证退还办案人员。</dd>
                </dl>
            </div>
        </div>
    </div>
    <!--页面主体布局-->
    <script src="/apps/kss/static/lib/require.js" data-main="/apps/kss/static/js/require.config" id="current-page" current-page="pages/tx/gfbz"></script>

    <script src="/apps/kss/static/lib/loading.js"></script>
</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->