<!--
提讯页面流程
-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>提讯</title>
    <link rel="stylesheet" href="../static/css/flowChart.css" />
  </head>
  <body>
    <div class="content3 malign-tl">
      <div class="inside-bottom malign-tl">
        <div class="bottom-box-cent malign-tl dper-full-w">
          <div
            class="img-box malign-tl dper-full-h dper-cursor"
            data-name="核对凭证"
          >
            <div class="cent4 bg-img malign-center-top">
              <div class="yuann malign-center"></div>
            </div>
            <div class="bottom-kuang bg-img malign-center-bottom">
              <span class="malign-center-text font-24">核对凭证</span>
            </div>
          </div>
          <div
            class="img-box1 malign-tl dper-full-h dper-cursor"
            data-name="提讯登记"
          >
            <div class="bot2 bg-img malign-center-top">
              <div class="yuann malign-center"></div>
              <div class="qipao malign-tr font-24">
                <span
                  id="Registration"
                  class="malign-center-text font-18"
                  style="color: white;"
                  >1</span
                >
              </div>
            </div>
            <div class="bottom-kuang bg-img-full malign-center-bottom">
              <span class="malign-center-text font-24 malign-center-text"
                >提讯登记</span
              >
            </div>
          </div>
          <div
            class="img-box2 malign-tl dper-full-h dper-cursor"
            data-name="监区提人登记"
          >
            <div class="cent3 bg-img malign-center-top">
              <div class="yuann malign-center"></div>
              <div class="qipao malign-tr font-24">
                <span
                  id="Supervisor"
                  class="malign-center-text font-18"
                  style="color: white;"
                  >1</span
                >
              </div>
            </div>
            <div class="bottom-kuang bg-img-full malign-center-bottom">
              <span class="malign-center-text font-24 malign-center-text"
                >监区提人登记</span
              >
            </div>
          </div>
          <div
            class="img-box3 malign-tr dper-full-h dper-cursor"
            data-name="安全检查"
          >
            <div class="cent5 bg-img malign-center-top">
              <div class="yuann malign-center"></div>
              <div class="qipao malign-tr font-24">
                <span
                  id="securityCheck"
                  class="malign-center-text font-18"
                  style="color: white;"
                  >1</span
                >
              </div>
            </div>
            <div class="bottom-kuang bg-img-full malign-center-bottom">
              <span class="malign-center-text font-24 malign-center-text"
                >安全检查</span
              >
            </div>
          </div>
          <div
            class="img-box4 malign-tr dper-full-h dper-cursor"
            data-name="退讯"
          >
            <div class="cent5 bg-img malign-center-top">
              <div class="yuann malign-center"></div>
              <div class="qipao malign-tr font-24">
                <span
                  id="information"
                  class="malign-center-text font-18"
                  style="color: white;"
                  >1</span
                >
              </div>
            </div>
            <div class="bottom-kuang bg-img-full malign-center-bottom">
              <span class="malign-center-text font-24 malign-center-text"
                >退讯</span
              >
            </div>
          </div>
        </div>
        <div class="liu1 ztai1 malign-center bg-img-full"></div>
        <div class="liu2 ztai1 malign-center bg-img-full"></div>
        <div class="liu3 ztai1 malign-center bg-img-full"></div>
        <div class="liu4 ztai1 malign-center bg-img-full"></div>
      </div>
    </div>
    <script src="/apps/kss/static/lib/require.js" data-main="/apps/kss/static/js/require.config" id="current-page" current-page="pages/tx/ywlc"></script>

    <script src="/apps/kss/static/lib/loading.js"></script>
  </body>
</html>
