<!-- partial:../../partials/_easyui_head.html -->
<!-- partial -->

<body scroll="no" class="body-pd10 ">


    <div class="dataView-container">
        <div class="table-container">
            <div class="tabs-wrapper">
                <div id="tooles">

                </div>
                <!--<div class="jxcx">-->
                    <!--<div class="jxcxText"><i class="fa fa-search"></i>简项查询-->
                        <!--<div class="titlebutton">-->
                            <!--<a href="javascript:;" class="add" id="newData"><i class="fa fa-plus-square success"></i>添加</a>-->
                            <!--<a href="javascript:;" class="edit" id="editData" ><i class="fa fa-pencil-square info"></i>编辑</a>-->
                            <!--<a href="javascript:;" class="del" id="delData"><i class="fa fa-times-rectangle danger"></i>删除</a>-->
                            <!--<a href="javascript:;" class="count" id="excelData"><i class="fa fa-pie-chart purple"></i>导出</a>-->
                            <!--<a href="javascript:;" class="check" id="printData"><i class="fa fa-check-circle yellow"></i>打印</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="comp-search-box">-->
                    <!--<div class="screen-top">-->
                        <!--<div class="colRow">-->
                            <!--姓名<font color="red">*</font>:-->
                            <!--<input id="txtNewPass" type="text" class="easyui-textbox" name="name"-->
                                <!--data-options="required:true" />-->
                        <!--</div>-->
                        <!--<div class="colRow">-->
                            <!--姓名:-->
                            <!--<input id="numbers" type="text" class="easyui-textbox" name="name" />-->
                        <!--</div>-->
                        <!--<div class="colRow">-->
                            <!--<input type="text" id="selest-item" name="" class="easyui-combobox" name="language"-->
                                <!--label="供应商名称:" />-->
                        <!--</div>-->
                        <!--<div class="colRow">-->
                            <!--<button class="easyui-linkbutton btnDefault">-->
                                <!--<i class="fa fa-search"></i>查询-->
                            <!--</button>-->
                            <!--<span class="more" id="click_event"><em class="open"></em>高级查询</span>-->
                        <!--</div>-->
                    <!--</div>-->

                    <!--<div class="screen-term" id="hidden_enent">-->
                        <!--<div class="colRow">-->
                            <!--<input id="faren" type="text" class="easyui-textbox" name="name"-->
                                <!--data-options="label:'法人代表:'" />-->
                        <!--</div>-->
                        <!--<div class="colRow">-->
                            <!--<input type="text" id="selest-item2" name="" class="easyui-combobox" name="language"-->
                                <!--label="供应商:" />-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <table id="test_table"></table>
            </div>
        </div>
    </div>


    <!-- partial:../../partials/form/_test_form.html -->
    <!-- partial -->
    <!-- partial:../../partials/laywin.html -->
    <!-- partial -->

    <script src="/apps/swj/static/lib/require.js" data-main="page\ezd\jsywrygl\ezd.ywrydhsq.js"></script>
    <script src="/apps/swj/static/js/require.config.js"></script>

</body>
<!-- partial:../../partials/_easyui_foot.html -->
<!-- partial -->