<!--
模块名称： 出所通知
开始时间： 2020-2-29
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->
<body class="easyui-layout" data-options="fit:true">
<!--页面主体布局-->
	<!-- partial:../../partials/_layout_leftright.html -->
    <!-- partial -->
<!--页面主体布局-->
<script src="/apps/kss/static/lib/require.js" data-main="/apps/kss/static/js/require.config" id="current-page" current-page="pages/csgl/cstz"></script>

<script src="/apps/kss/static/lib/loading.js"></script>
</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->