<!--
模块名称： 收押入所 文书补打
开始时间： 2020-2-29
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-option="fit:true">
    <!--页面主体布局-->
    <!-- 布局模板：上下两栏 -->
    <div class="section-container">
        <div class="section-item ">
            <div class="section-header">
                <div class="section-title">简项查询</div>
                <div class="section-controls single-colors" id="tools"></div>
                <div class="section-corner" id="links"></div>
            </div>
            <div class="section-item-content border-top">
                <form id="search" class="search-form"></form>
                <table id="table" class="padding-18"></table>
            </div>
        </div>
        <div class="section-item section-item-padding " style="margin-top:1.04%">
            <div class="section-header">
                <div class="section-title">
                    <div class="section-title">管理文书</div>
                </div>
            </div>
            <div class="section-item-content  border-top" id="glws">
                <!-- <div class="item-file" title="刑满释放通知书" id="xmsftzs" labName="kss_xmsftzs">
                    <img src="/apps/kss/static/images/file.png" alt="">
                    <div>刑满释放通知书</div>
                </div>
                <div class="item-file" title="刑满释放证明书" id="xmsfzms" labName="kss_xmsfzms">
                    <img src="/apps/kss/static/images/file.png" alt="">
                    <div>刑满释放证明书</div>
                </div> -->
            </div>
        </div>
    </div>

    <!--页面主体布局-->
    <script src="/apps/kss/static/lib/require.js" data-main="/apps/kss/static/js/require.config" id="current-page" current-page="pages/csgl/lcwsbd"></script>

    <script src="/apps/kss/static/lib/loading.js"></script>
</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->