
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>基本信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">姓&emsp;名：</td>
                                    <td ><input class="easyui-textbox" name="xm" value="{{xm}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">性&emsp;&emsp;&emsp;别：</td>
                                    <td ><input class="awdCombox" name="xb"  value="{{xb}}" text="{{xbString}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">拘室号：</td>
                                    <td ><input class="easyui-textbox" name="jsh" value="{{jsh}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">原&thinsp;&thinsp;床&thinsp;位&thinsp;&thinsp;号：</td>
                                    <td ><input class="easyui-textbox" name="ycwh" value="{{cwh}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">籍&emsp;贯：</td>
                                    <td ><input class="awdCombox" name="jgString" value="{{jg}}" text="{{jgString}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">拟调床位号：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" name="xcwh" value="{{xcwh}}" required style="min-width:280px;"> </td>
                                </tr>
                                <input type="hidden" name="tbr" value="{{tbr}}">
                                <input type="hidden" name="tbrq" value="{{tbrq}}">
                            </table>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>