
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    
                 
                   
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>业务信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">是&emsp;否&ensp;专&ensp;案：<font class="redicon">*</font></td>
                                    <td ><input class="awdCombox" name="sfza" code="SHFO" required style="min-width:280px;"> </td>
                                    <td class="formtd">会议地点：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" name="hydd" required style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">开&emsp;始&ensp;时&ensp;间：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-datetimebox" name="kssj" value="{{kssj}}"  required style="min-width:280px;"> </td>
                                    <td class="formtd">结束时间：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-datetimebox" name="jssj" required style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">主&emsp;&ensp;持&emsp;&ensp;人：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" name="hyzcr" required style="min-width:280px;"> </td>
                                    <td class="formtd">记&ensp;录&ensp;员：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" name="hyjlr" required style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">参&ensp;加&ensp;人&emsp;员：</td>
                                    <td colspan="3"><input class="easyui-textbox" name="cjhyry" data-options="multiline:true" style="width:100%;min-height:80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">会议内容摘要：</td>
                                    <td colspan="3"><input class="easyui-textbox" name="hyrr" data-options="multiline:true" style="width:100%;min-height:80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">登&emsp;&ensp;记&emsp;&ensp;人：<font class="redicon">*</font></td>
                                    <td ><input id="djr" class="easyui-textbox" name="djr" value="{{djr}}" required style="min-width:280px;"> </td>
                                    <td class="formtd">登记时间：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-datetimebox" name="djsj" value="{{datatime}}" required style="min-width:280px;"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>