<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
            <div class="section-content">
                <div class="section-item section-item-one section-item-padding">
                    <div class="standard-content font-20">
                        <div class="htmleaf-container">
                            <div class="container">
                                <div id="timeline">
                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-gerenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>个人信息</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">交班岗位：</td>
                                                    <td><input class="easyui-textbox" value="{{jbgw}}" readonly style="min-width:280px;"> </td>
                                                    <td class="formtd">交班人员：</td>
                                                    <td><input class="easyui-textbox" value="{{jbry}}" readonly style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">交班时间：</td>
                                                    <td colspan="3"><input class="easyui-datetimebox" id="jbsj" value="{{jbsj}}" readonly style="width:100%;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">工作记录：</td>
                                                    <td colspan="3"><input class="easyui-textbox" value="{{gzjl}}" data-options="multiline:true" readonly style="width:100%;min-height:80px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">注意事项：</td>
                                                    <td colspan="3"><input class="easyui-textbox" readonly value="{{zysx}}" data-options="multiline:true" style="width:100%;min-height:80px;"> </td>
                                                </tr>

                                                <tr>
                                                    <td class="formtd">接班人员：<font class="redicon">*</font></td>
                                                    <td><input id="jbry" class="easyui-textbox" name="abry" value="{{tbr}}" required style="min-width:280px;"> </td>
                                                    <td class="formtd">接班时间：<font class="redicon">*</font></td>
                                                    <td><input name="absj" id="absj" class="easyui-datetimebox" value="{{dateTime}}" required style="min-width:280px;"> </td>
                                                </tr>


                                            </table>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</body>