
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>基本信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">时&emsp;&emsp;&emsp;&emsp;间：</td>
                                    <td ><input name="sj" class="easyui-datetimebox" readonly value="{{sj}}" style="min-width:280px;"> </td>
                                    <td class="formtd">接受教育人数：</td>
                                    <td ><input class="easyui-textbox" name="cjrs" value="{{cjrs}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">授&nbsp;课&nbsp;人&nbsp;姓&nbsp;名：</td>
                                    <td ><input class="easyui-textbox" name="jyr" value="{{jyr}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">授&nbsp;课&nbsp;人&nbsp;职&nbsp;务：</td>
                                    <td ><input class="easyui-textbox" name="zw" readonly value="{{zw}}" style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">课&emsp;&emsp;&emsp;&emsp;题：</td>
                                    <td colspan="3"><input class="easyui-textbox"  name="fw" value="{{fw}}" readonly style="width:100%;height:80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">内&ensp;&thinsp;容&ensp;&thinsp;摘&ensp;&thinsp;要：</td>
                                    <td colspan="3"><input class="easyui-textbox" name="nr" value="{{nr}}" readonly style="width:100%;height:80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">被拘人员反映：</td>
                                    <td colspan="3"><input class="easyui-textbox" name="bjryfy" readonly value="{{bjryfy}}" style="width:100%;height:80px;"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                   
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>