
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>基本信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">被&nbsp;布控&nbsp;人简&nbsp;要案&nbsp;情：</td>
                                    <td ><input class="awdCombox" name="bbkray" code="JLSXHAY" value="{{bbkray}}" text="{{bbkrayString}}" style="min-width:280px;"> </td>
                                    <td class="formtd">申&nbsp;请&ensp;人&nbsp;单&nbsp;位&ensp;名&nbsp;称：</td>
                                    <td ><input class="easyui-textbox" name="sqrdw" value="{{sqrdw}}" style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">申&nbsp;请&ensp;人&nbsp;联&nbsp;系&ensp;电&nbsp;话：</td>
                                    <td ><input class="easyui-textbox" name="lxdh"  value="{{lxdh}}" data-options="validType:'mphone'" style="min-width:280px;"> </td>
                                    <td class="formtd">申&emsp;请&emsp;人&emsp;姓&emsp;名：</td>
                                    <td ><input class="easyui-textbox" name="sqrxm" value="{{sqrxm}}"  style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">被&ensp;布&ensp;&nbsp;控&ensp;人&ensp;&nbsp;姓&ensp;名：</td>
                                    <td ><input class="easyui-textbox" name="xm" value="{{xm}}" style="min-width:280px;"> </td>
                                    <td class="formtd">被&nbsp;布控&nbsp;人证&nbsp;件号&nbsp;码：</td>
                                    <td ><input class="easyui-textbox" name="zjhm" value="{{zjhm}}" data-options="validType:'idcard'" style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">被&nbsp;布控&nbsp;人涉&nbsp;案类&nbsp;别：</td>
                                    <td ><input class="awdCombox" name="ajlb" code="JLSAJLB" value="{{ajlb}}"  text="{{ajlbString}}" style="min-width:280px;"> </td>
                                    <td class="formtd">被&nbsp;布控&nbsp;人出&nbsp;生日&nbsp;期：</td>
                                    <td ><input class="easyui-datebox" name="csrq" value="{{csrq}}" style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">被布控人现住地详址：</td>
                                    <td ><input class="awdCombox" name="xzdxz" value="{{xzdxz}}" code="XZQH" style="min-width:280px;"> </td>
                                    <td class="formtd">被布控人户籍地详址：</td>
                                    <td ><input class="easyui-textbox"  name="hjdxz" value="{{hjdxz}}" style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">比&emsp;&ensp;&nbsp;对&emsp;&ensp;时&ensp;&emsp;&nbsp;间：</td>
                                    <td ><input class="easyui-datetimebox" name="bdsj"  value="{{dateTime}}" style="min-width:280px;"> </td>
                                    <td class="formtd">所&emsp;&emsp;&emsp;代&emsp;&emsp;&emsp;码：</td>
                                    <td ><input class="easyui-textbox" name="sdm" value="{{sdm}}" style="min-width:280px;"> </td>
                                </tr>
                                <input type="hidden" name="tbr" value="{{tbr}}">
                                <input type="hidden" name="tbrq" value="{{tbrq}}">
                            </table>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>