
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>基本信息</h2>
                            <table class="container-formtable">
                                <tr style="display: none;">
                                    <td colspan="3">
                                        <input name="id" value="{{id}}" class="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formtd">姓&emsp;&emsp;&emsp;名:</td>
                                    <td ><input class="easyui-textbox" value="{{xm}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">性&emsp;&emsp;别：</td>
                                    <td ><input class="awdCombox" value="{{xb}}" text="{{xbString}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">拘&emsp;室&emsp;号：</td>
                                    <td ><input class="easyui-textbox" value="{{jsh}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">入所日期：</td>
                                    <td ><input class="easyui-datetimebox" value="{{rsrq}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">案&emsp;&emsp;&emsp;别：</td>
                                    <td ><input class="awdCombox" value="{{ay}}" text="{{ayString}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">档案编号：</td>
                                    <td ><input class="easyui-textbox" value="{{dah}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">户籍所在地：</td>
                                    <td colspan="3"><input class="awdCombox" value="{{hjd}}" text="{{hjdString}}" readonly style="width:100%;"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                   
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>业务信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">请&emsp;假&emsp;理由：</td>
                                    <td colspan="3"><input class="easyui-textbox" title="qjly" readonly value="{{ldpsxx.qjhs_qjly}}" style="width:100%;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">开&emsp;始&emsp;日期：</td>
                                    <td ><input class="easyui-datetimebox" title="qjkssj" value="{{ldpsxx.qjhs_qjkssj}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">结&emsp;束&emsp;日&emsp;期：</td>
                                    <td ><input class="easyui-datetimebox" title="qjjssj" value="{{ldpsxx.qjhs_qjjssj}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">担&emsp;&emsp;保&emsp;人：</td>
                                    <td ><input class="easyui-textbox" title="dbr" value="{{ldpsxx.qjhs_dbr}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">与被担保人关系：</td>
                                    <td ><input class="awdCombox" title="ybdbrgx" value="{{ldpsxx.qjhs_ybdbrgx}}"  text="{{ldpsxx.qjhs_ybdbrgxString}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">所&emsp;长&emsp;意见：</td>
                                    <td colspan="3"><input type="radio" name="szyjfm" value="1" checked disabled><font>同意</font><input type="radio" name="szyjfm" value="2" disabled><font>不同意</font> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">所长意见内容：</td>
                                    <td colspan="3"><input class="easyui-textbox" title="szyjnr" readonly value="{{ldpsxx.qjhs_szyjnr}}" style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">所&emsp;长&emsp;签名：</td>
                                    <td ><input class="easyui-textbox" title="szqm" value="{{ldpsxx.qjhs_szqm}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">所长签&emsp;名日期：</td>
                                    <td ><input class="easyui-datetimebox" title="szqmsj" value="{{ldpsxx.qjhs_szqmsj}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">主&emsp;管&emsp;意见：</td>
                                    <td colspan="3"><input type="radio" name="zgldyjfm" value="1" checked disabled><font>同意</font><input type="radio" name="zgldyjfm" value="2" disabled><font>不同意</font> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">主管意见内容：</td>
                                    <td colspan="3"><input class="easyui-textbox" title="zgldyjnr" readonly value="{{ldpsxx.qjhs_zgldyjnr}}" style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">主&emsp;管&emsp;领导：</td>
                                    <td ><input class="easyui-textbox" title="zgldqm" value="{{ldpsxx.qjhs_zgldqm}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">签&emsp;名&emsp;日&emsp;期：</td>
                                    <td ><input class="easyui-datetimebox" title="zgldqmsj" value="{{ldpsxx.qjhs_zgldqmsj}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">承&emsp;&emsp;办&emsp;人：</td>
                                    <td ><input class="easyui-textbox" title="cbr" value="{{ldpsxx.qjhs_cbr}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">保&emsp;&emsp;证&emsp;&emsp;金：</td>
                                    <td ><input class="easyui-textbox" title="bzjje" value="{{ldpsxx.qjhs_bzjje}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">回&emsp;所&emsp;时间：</td>
                                    <td ><input class="easyui-datetimebox" title="hssj" value="{{ldpsxx.qjhs_hssj}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">值&emsp;班&emsp;民&emsp;警：</td>
                                    <td ><input class="easyui-textbox" title="zbmj" value="{{ldpsxx.qjhs_zbmj}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">带&emsp;入&emsp;民警：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" name="drmj" id="drmj" value="{{tbr}}" required style="min-width:280px;"> </td>
                                    <td class="formtd">带&emsp;入&emsp;时&emsp;间：<font class="redicon">*</font></td>
                                    <td ><input name="drsj" id="drsj" class="easyui-datetimebox" value="{{dateTime}}" required style="min-width:280px;"> </td>
                                </tr>
                                    <input type="hidden" name="tbr" value="{{tbr}}">
									<input type="hidden" name="tbrq" value="{{tbrq}}">
                            </table>
                        </div>
                    </div>

                    

                    
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>