
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>基本信息</h2>
                            <table class="container-formtable">
                                <tr style="display: none;">
                                    <td colspan="3">
                                        <input name="id" value="{{id}}" class="">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="formtd">姓&emsp;&emsp;&emsp;名：</td>
                                    <td ><input class="easyui-textbox" value="{{xm}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">性&emsp;&emsp;别：</td>
                                    <td ><input class="awdCombox" value="{{xb}}" text="{{xbString}}"readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">拘&emsp;室&emsp;号：</td>
                                    <td ><input class="easyui-textbox" value="{{jsh}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">入所日期：</td>
                                    <td ><input class="easyui-datetimebox" value="{{rsrq}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">案&emsp;&emsp;&emsp;别：</td>
                                    <td ><input class="awdCombox" value="{{ay}}" text="{{ayString}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">档案编号：</td>
                                    <td ><input class="easyui-textbox" value="{{dah}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">户籍所在地：</td>
                                    <td colspan="3"><input class="awdCombox" readonly value="{{hjd}}"  text="{{hjdString}}" style="width:100%;"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                   
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>业务信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">身高（厘米）：<font class="redicon">*</font></td>
                                    <td ><input id="sgfm" class="easyui-textbox" name="sg" data-options="min:30,validType:'number'" required style="min-width:180px;"> </td>
                                    <td class="formtd">体重（公斤）：<font class="redicon">*</font></td>
                                    <td ><input id="tzfm" class="easyui-textbox" name="tz" data-options="min:30,validType:'number'" required style="min-width:180px;"> </td>
                                    <td class="formtd">足长（码）：<font class="redicon">*</font></td>
                                    <td ><input id="zcfm" class="easyui-textbox" name="zc" required data-options="min:10,validType:'number'" style="min-width:180px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">心&emsp;&emsp;&emsp;&emsp;率：<font class="redicon">*</font></td>
                                    <td ><input id="xl" class="easyui-textbox" name="xl" data-options="min:30,validType:'number'" required style="min-width:180px;"> </td>
                                    <td class="formtd">血&emsp;&emsp;&emsp;&emsp;压：<font class="redicon">*</font></td>
                                    <td ><input id="xyfm" class="easyui-textbox" name="xy" prompt="示例：80/120" required style="min-width:180px;"> </td>
                                    <td class="formtd">检查&emsp;人员：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" name="jcr" id="jcr" required style="min-width:180px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">体&emsp;表&emsp;状况：<font class="redicon">*</font></td>
                                    <td colspan="6"><input class="easyui-textbox" data-options="multiline:true" name="tbzk" value="{{tbzk}}" required style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">既&emsp;往&emsp;病史：<font class="redicon">*</font></td>
                                    <td colspan="6"><input class="easyui-textbox" data-options="multiline:true" name="jwbs" value="{{jwbs}}" required style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">有何&emsp;传染病：<font class="redicon">*</font></td>
                                    <td colspan="6"><input class="easyui-textbox" data-options="multiline:true" name="crb" value="{{crb}}" required style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">家&emsp;庭&emsp;病史：<font class="redicon">*</font></td>
                                    <td colspan="6"><input class="easyui-textbox" data-options="multiline:true" name="jtbs" value="{{jtbs}}" required style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">手&emsp;&emsp;术&emsp;史：<font class="redicon">*</font></td>
                                    <td colspan="6"><input class="easyui-textbox" data-options="multiline:true" name="sss" value="{{sss}}" required style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">外&emsp;&emsp;伤&emsp;史：<font class="redicon">*</font></td>
                                    <td colspan="6"><input class="easyui-textbox" data-options="multiline:true" name="wss" value="{{wss}}" required style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">自&emsp;述&emsp;症状：<font class="redicon">*</font></td>
                                    <td colspan="6"><input class="easyui-textbox" data-options="multiline:true" name="zszz" value="{{zszz}}" required style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">伤&emsp;&emsp;病&emsp;情：<font class="redicon">*</font></td>
                                    <td colspan="6"><input class="easyui-textbox" data-options="multiline:true" name="sbq" value="{{sbq}}" required style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">健&emsp;康&emsp;状况：<font class="redicon">*</font></td>
                                    <td colspan="6"><input class="awdCombox" data-options="multiline:true" name="jkzk" value="{{jkzk}}" code='JKZK' required style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">医&emsp;生&emsp;意见：<font class="redicon">*</font></td>
                                    <td colspan="6"><input class="easyui-textbox" data-options="multiline:true" name="ysyj" value="{{ysyj}}" required style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">检&emsp;查&emsp;日期：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-datebox" name="jcrq" required id="jcrq" value="{{jcrq}}" style="min-width:180px;"> </td>
                                    <td class="formtd">医&emsp;生&emsp;签名：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" name="ysqm" id="ysqm" required value="{{ysqm}}" style="min-width:180px;"> </td>
                                    <td class="formtd">签名&emsp;日期：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-datebox" name="qmrq"  required id="qmrq" value="{{qmrq}}" style="min-width:180px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">备&emsp;&emsp;&emsp;&emsp;注：</td>
                                    <td colspan="6"><input class="easyui-textbox" data-options="multiline:true" name="bz" value="{{bz}}" style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                    <input type="hidden" name="tbr" value="{{tbr}}">
									<input type="hidden" name="tbrq" value="{{tbrq}}">
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>