<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
            <div class="section-content">
                <div class="section-item section-item-one section-item-padding">
                    <div class="standard-content font-20">
                        <div class="htmleaf-container">
                            <div class="container">
                                <div id="timeline">
                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-gerenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>人员信息查询--照片展示</h2>
                                            <!-- <table class="container-formtable">

                                            </table> -->
                                            <div id="maincontent"></div>
                                        </div>
                                    </div>

                                    <!-- <div class="section-item section-item-one section-item-padding">
                                        <div class="standard-content font-20">
                                            <div class="htmleaf-container">
                                                <div class="container" id="maincontent" style="">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</body>