
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>基本信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">姓&emsp;&emsp;&emsp;名:</td>
                                    <td ><input class="easyui-textbox" value="{{xm}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">性&emsp;&emsp;别：</td>
                                    <td ><input class="awdCombox" value="{{xb}}" text="{{xbString}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">拘&emsp;室&emsp;号：</td>
                                    <td ><input class="easyui-textbox" value="{{jsh}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">入所日期：</td>
                                    <td ><input class="easyui-textbox" value="{{rsrq}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">案&emsp;&emsp;&emsp;别：</td>
                                    <td ><input class="awdCombox" value="{{ay}}" text="{{ayString}}" readonly style="min-width:280px;"> </td>
                                    <td class="formtd">档案编号：</td>
                                    <td ><input class="easyui-textbox" value="{{dah}}" readonly style="min-width:280px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">户籍所在地：</td>
                                    <td colspan="3"><input class="awdCombox" value="{{hjd}}" text="{{hjdString}}" readonly style="width:100%;"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                   
                    <div class="timeline-item">
                        <div class="timeline-icon">
                           <span class="iconfont icon-jibenxinxi"></span>
                        </div>
                        <div class="timeline-content right">
                            <h2>业务信息</h2>
                            <table class="container-formtable">
                                <tr>
                                    <td class="formtd">提前解除拘留期限至：<font class="redicon">*</font></td>
                                    <td colspan="3"><input id="tqjcjlqx" name="tqjcjlqx" class="easyui-datetimebox" required style="width:100%;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">解&emsp;&emsp;除&emsp;&emsp;理&emsp;由：<font class="redicon">*</font></td>
                                    <td colspan="3"><input class="easyui-textbox" name="jcly" required data-options="multiline:true" style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">管&emsp;&emsp;教&emsp;&emsp;意&emsp;见：</td>
                                    <td colspan="3"><input class="easyui-textbox" name="gjyj" data-options="multiline:true" style="width:100%;min-height: 80px;"> </td>
                                </tr>
                                <tr>
                                    <td class="formtd">管&emsp;&emsp;教&emsp;&emsp;民&emsp;警：<font class="redicon">*</font></td>
                                    <td ><input class="easyui-textbox" id="gjqm" name="gjqm" required style="min-width:280px;"> </td>
                                    <td class="formtd">民警签名时间：<font class="redicon">*</font></td>
                                    <td ><input name="gjqmrq" id="gjqmrq" class="easyui-datetimebox" required style="min-width:280px;"> </td>
                                </tr>
                            </table>
                        </div>
                    </div>

                    <input type="hidden" name="tbr" value="{{tbr}}">
                    <input type="hidden" name="tbrq" value="{{tbrq}}">
                    
                </div>
            </div>
        </div>
    </div>
   </div>
</div>
   </div>
</form>
</body>