
<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
    <div class="section-content">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-content font-20">
             <div class="htmleaf-container">
             <div class="container">
                <div id="timeline">
                        <div class="timeline-item">
                                <div class="timeline-icon">
                                   <span class="iconfont icon-jibenxinxi"></span>
                                </div>
                                <div class="timeline-content right">
                                    <h2>基本信息</h2>
                                    <table class="container-formtable">
                                        <tr style="display: none;">
                                            <td colspan="3">
                                                <input name="id" value="{{id}}" class="">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="formtd">姓&emsp;&emsp;名：</td>
                                            <td ><input class="easyui-textbox" value="{{xm}}" readonly style="min-width:280px;"> </td>
                                            <td class="formtd">性&emsp;&emsp;别：</td>
                                            <td ><input class="awdCombox" value="{{xb}}"  text="{{xbString}}" readonly style="min-width:280px;"> </td>
                                        </tr>
                                        <tr>
                                            <td class="formtd">民&emsp;&emsp;族：</td>
                                            <td ><input class="awdCombox" value="{{mz}}" text="{{mzString}}" readonly style="min-width:280px;"> </td>
                                            <td class="formtd">出生日期：</td>
                                            <td ><input class="easyui-textbox" value="{{csrq}}" readonly style="min-width:280px;"> </td>
                                        </tr>
                                        <tr>
                                            <td class="formtd">文化程度：</td>
                                            <td ><input class="awdCombox" value="{{whcd}}" text="{{whcdString}}" readonly style="min-width:280px;"> </td>
                                            <td class="formtd">人员级别：</td>
                                            <td ><input class="awdCombox" value="{{aqdj}}" text="{{aqdjString}}" readonly style="min-width:280px;"> </td>
                                        </tr>
                                        <tr>
                                            <td class="formtd">备&emsp;&emsp;注：</td>
                                            <td colspan="3"><input class="easyui-textbox" value="{{bz}}" readonly style="width:100%;height:80px;"> </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="timeline-item">
                                <div class="timeline-icon">
                                   <span class="iconfont icon-jibenxinxi"></span>
                                </div>
                                <div class="timeline-content right">
                                    <h2>业务信息</h2>
                                    <table class="container-formtable">
                                        <tr>
                                            <td class="formtd">评选时间：<font class="redicon">*</font></td>
                                            <td ><input class="easyui-datetimebox" id="pxsj" name="pxsj" required style="min-width:280px;"> </td>
                                            <td class="formtd">管&emsp;&emsp;&nbsp;教&thinsp;&thinsp;&emsp;&emsp;民&emsp;&emsp;警：</td>
                                            <td ><input class="easyui-textbox" name="gjmj" value="{{tbr}}" style="min-width:280px;"> </td>
                                        </tr>
                                        <tr>
                                            <td class="formtd">评&ensp;审&ensp;人：<font class="redicon">*</font></td>
                                            <td ><input class="easyui-textbox" name="psr" required style="min-width:280px;"> </td>
                                            <td class="formtd">是否悬挂“文明拘室”标志：<font class="redicon">*</font></td>
                                            <td >
                                                <input type="radio" name="sfpdbz" value="1" checked class="radiocss"><font>是</font>
                                                <input type="radio" name="sfpdbz" value="0"  class="radiocss"><font>否</font>    
                                            </td>
                                        </tr>
                                       
                                        <tr>
                                            <td class="formtd">评选原因：<font class="redicon">*</font></td>
                                            <td colspan="3"><input class="easyui-textbox" name="pxyy" required data-options="multiline:true" style="width:100%;min-height:80px;"> </td>
                                        </tr>
                                        <tr>
                                            <td class="formtd">奖励措施：<font class="redicon">*</font></td>
                                            <td colspan="3"><input class="easyui-textbox" name="jlcs" required data-options="multiline:true" style="width:100%;min-height:80px;"> </td>
										<input type="hidden" name="tbr" value="{{tbr}}" />
										<input type="hidden" name="tbrq" value="{{tbrq}}" />
										<input type="hidden" name="bllx" value="01" />
                                        <input type="hidden" name="pblx" value="01" />
                                        <input type="hidden" name="rybh" value="{{rybh}}" />
										<input type="hidden" name="jsbh" value="{{jsbh}}" />
                                        </tr>
                                    </table>
                                </div>
                            </div>
                    </div>
            </div>
        </div>
    </div>
   </div>
</div>
</form>
    </div>
</body>