
<body class="easyui-layout" data-option="fit:true">
        <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
        <div class="section-content">
            <div class="section-item section-item-one section-item-padding">
                <div class="standard-content font-20">
                 <div class="htmleaf-container">
                 <div class="container">
                    <div id="timeline">
                        
                       
                        <div class="timeline-item">
                            <div class="timeline-icon">
                               <span class="iconfont icon-jibenxinxi"></span>
                            </div>
                            <div class="timeline-content right">
                                <h2>业务信息</h2>
                                <table class="container-formtable">
                                    <tr style="display: none;">
                                        <td colspan="3">
                                            <input name="id" value="{{id}}" class="">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="formtd">开&nbsp;&nbsp;始&nbsp;&nbsp;&nbsp;时&nbsp;&nbsp;间：</td>
                                        <td ><input class="easyui-textbox" value="{{kssj}}" readonly style="min-width:280px;"> </td>
                                        <td class="formtd">结束时间：</td>
                                        <td ><input class="easyui-textbox" value="{{jssj}}" readonly style="min-width:280px;"> </td>
                                    </tr>
                                    <tr>
                                        <td class="formtd">组&nbsp;织&nbsp;指&nbsp;挥&nbsp;者：</td>
                                        <td ><input class="easyui-textbox" value="{{zzzhz}}" readonly style="min-width:280px;"> </td>
                                        <td class="formtd">演练类别：</td>
                                        <td ><input class="easyui-textbox" value="{{yllb}}" readonly style="min-width:280px;"> </td>
                                    </tr>
                                    <tr>
                                        <td class="formtd">参加演练单位：</td>
                                        <td ><input class="easyui-textbox" value="{{cjdw}}" readonly style="min-width:280px;"> </td>
                                        <td class="formtd">参加人数：</td>
                                        <td ><input class="easyui-textbox" value="{{cjrs}}" readonly style="min-width:280px;"> </td>
                                    </tr>
                                    <tr>
                                        <td class="formtd">应急演练内容：</td>
                                        <td colspan="3"><input class="easyui-textbox" readonly value="{{yaylnr}}" data-options="multiline:true" style="width:100%;min-height: 80px"> </td>
                                    </tr>
                                    <tr>
                                        <td class="formtd">主&nbsp;持&nbsp;领&nbsp;导&nbsp;人：</td>
                                        <td ><input class="easyui-textbox" value="{{zcld}}" readonly style="min-width:280px;"> </td>
                                        <td class="formtd">记&nbsp;&nbsp;录&nbsp;&nbsp;员：</td>
                                        <td ><input class="easyui-textbox" value="{{hyjlr}}" readonly style="min-width:280px;"> </td>
                                    </tr>
                                    <tr>
                                        <td class="formtd">演&nbsp;&nbsp;练&nbsp;&nbsp;&nbsp;情&nbsp;&nbsp;况：</td>
                                        <td colspan="3"><input class="easyui-textbox" readonly value="{{ylqk}}" data-options="multiline:true" style="width:100%;min-height: 80px"> </td>
                                    </tr>
                                    <tr>
                                        <td class="formtd">存&nbsp;&nbsp;在&nbsp;&nbsp;&nbsp;问&nbsp;&nbsp;题：</td>
                                        <td colspan="3"><input class="easyui-textbox" name="czwt" data-options="multiline:true" style="width:100%;min-height: 80px"> </td>
                                    </tr>
                                    <tr>
                                        <td class="formtd">改&nbsp;&nbsp;进&nbsp;&nbsp;&nbsp;意&nbsp;&nbsp;见：<font class="redicon">*</font></td>
                                        <td colspan="3"><input class="easyui-textbox" name="gjcs" required data-options="multiline:true" style="width:100%;min-height: 80px"> </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
       </div>
    </div>
       </div>
    </form>
    </body>