<body class="easyui-layout" data-option="fit:true">
    <div class="easyui-layout" data-option="fit:true" style="width:100%;height:100%;">
        <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform">
            <div class="section-content">
                <div class="section-item section-item-one section-item-padding">
                    <div class="standard-content font-20">
                        <div class="htmleaf-container">
                            <div class="container">
                                <div id="timeline">

                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-jibenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>指纹管理--指纹查询</h2>
                                            <table class="container-formtable">
                                                <tr>
                                                    <td class="formtd">姓&emsp;&emsp;名：</td>
                                                    <td><input class="easyui-textbox" name="xm" value="{{xm}}" style="min-width:280px;"> </td>
                                                    <td class="formtd">性&emsp;&emsp;别：</td>
                                                    <td><input class="awdCombox" name="xb" value="{{xbString}}" code="XB" style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">档案编号：</td>
                                                    <td><input class="easyui-textbox" name="dabh" value="{{dabh}}" style="min-width:280px;"> </td>
                                                    <td class="formtd">出生日期：</td>
                                                    <td><input class="easyui-datebox" name="csrq" value="{{csrq}}" style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">文化程度：</td>
                                                    <td><input class="awdCombox" name="whcd" value="{{whcdString}}" code="WHCD" style="min-width:280px;"> </td>
                                                    <td class="formtd">人员级别：</td>
                                                    <td><input class="easyui-textbox" name="ryjb" value="{{ryjb}}" style="min-width:280px;"> </td>
                                                </tr>
                                                <tr>
                                                    <td class="formtd">类&emsp;&emsp;别：</td>
                                                    <td colspan="3"><input class="easyui-textbox" name="lb" value="{{lb}}" style="width:100%;">
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>



                                    <div class="timeline-item">
                                        <div class="timeline-icon">
                                            <span class="iconfont icon-jibenxinxi"></span>
                                        </div>
                                        <div class="timeline-content right">
                                            <h2>指纹信息</h2>
                                            <table class="container-formtable">
                                                <tr class="lrzwsz">
                                                    <td>
                                                        <img src="/apps/jls/static/images/moren.jpg" alt="">
                                                        <p>左手拇指</p>
                                                    </td>
                                                    <td>
                                                        <img src="/apps/jls/static/images/moren.jpg" alt="">
                                                        <p>食指</p>
                                                    </td>
                                                    <td>
                                                        <img src="/apps/jls/static/images/moren.jpg" alt="">
                                                        <p>中指</p>
                                                    </td>
                                                    <td>
                                                        <img src="/apps/jls/static/images/moren.jpg" alt="">
                                                        <p>无名指</p>
                                                    </td>
                                                    <td>
                                                        <img src="/apps/jls/static/images/moren.jpg" alt="">
                                                        <p>小指</p>
                                                    </td>
                                                </tr>
                                                <tr class="lrzwsz">
                                                    <td>
                                                        <img src="/apps/jls/static/images/moren.jpg" alt="">
                                                        <p>右手小指</p>
                                                    </td>
                                                    <td>
                                                        <img src="/apps/jls/static/images/moren.jpg" alt="">
                                                        <p>无名指</p>
                                                    </td>
                                                    <td>
                                                        <img src="/apps/jls/static/images/moren.jpg" alt="">
                                                        <p>中指</p>
                                                    </td>
                                                    <td>
                                                        <img src="/apps/jls/static/images/moren.jpg" alt="">
                                                        <p>食指</p>
                                                    </td>
                                                    <td>
                                                        <img src="/apps/jls/static/images/moren.jpg" alt="">
                                                        <p>拇指</p>
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </form>
</body>