<!--
模块名称： 规范帮助
开始时间： 2020-3-11
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-options="fit:true" style="overflow:scroll;">
    <!--页面主体布局-->
    <div class="section-container">
        <div class="section-item section-item-one section-item-padding">
            <div class="standard-title">
                <h2 class='align-center gfsm-title'>械具管理和使用规定</h2>
            </div>
            <div class="standard-content font-22">
                <dl>
                    <dt>一、保管</dt>
                    <dd>（一）设立械具库，做好防盗、放潮、防火、防虫等工作。</dd>
                    <dd>（二）建立械具装备账目，专人负责管理，定期检查械具库德库存数量及性能情况，并登记存档。</dd>
                    <dd>（三）定期维护保养，保持械具处于良好的技术状态。</dd>
                    <dd>（四）械具的领发、收存要及时做好登记，严格手续。</dd>
                    <dt>二、使用</dt>
                    <dd>（一）使用条件
                        <dl>
                            <dd>1、有逃跑、行凶、自杀、哄闹和其他危害监管场所安全行为的。</dd>
                            <dd>2、有明显迹象可能行凶、暴动、脱逃、自杀行为的，或已发生这类行为需要防止其继续这类行为的。</dd>
                        </dl>
                    </dd>
                    <dd>（二）使用规定
                        <dl>
                            <dd> 1、使用械具要由所长批准方可执行，遇有特殊情形可先加戴械具，在12小时内补办手续。</dd>
                            <dd>2、给被拘人员戴械具时应当松紧适度，既要保证安全，又要避免致伤、致残被拘人员。</dd>
                            <dd>3、严禁给被拘人员戴双铐、背铐。</dd>
                            <dd> 4、加强对加戴械具的被拘人员教育，在其危险性消除后，应当立即解除械具。</dd>
                        </dl>
                    </dd>
                    <dd>（三）使用程序
                        <dl>
                            <dd>1、由管教民警填写《使用械具审批表》，经管教股长审核报所长批准后，对被拘人员使用械具。</dd>
                            <dd>2、停止使用械具前，对被拘人员做谈话笔录，由解除械具人在谈话笔录上签名，注明解除日期。</dd>
                        </dl>
                    </dd>
                </dl>
            </div>
        </div>
    </div>
    <!--页面主体布局-->
    <script src="/apps/jls/static/lib/require.js" data-main="/apps/jls/static/js/require.config" id="current-page" current-page="pages/qjhs/ywlc"></script>

<script src="/apps/jls/static/lib/loading.js"></script>

</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->
<!--
模块名称： 规范帮助
开始时间： 2020-3-11
-->