<div class="wrap-item">
    <div class="item-content dbsx" style="height:170px;overflow-y:scroll">
        <ul >
            <li class="dbxx_click" id="kss_rsdj">
                <icon class="iconfont icon-xiaolaba"></icon><a href="#">收押入所<font class="kss_rsdj" style="padding-left:25px;color:red;">0</font></a></li>
            <li class="dbxx_click" id="kss_csgl">
                <icon class="iconfont icon-xiaolaba"></icon><a href="#">出所管理<font class="kss_csgl" style="padding-left:25px;color:red;">0</font></a></a>
            </li>
            <li class="dbxx_click" id="kss_lscs">
                <icon class="iconfont icon-xiaolaba"></icon><a href="#">临时出所<font class="kss_lscs" style="padding-left:25px;color:red;">0</font></a></a>
            </li>
            <li class="dbxx_click" id="kss_jwzx">
                <icon class="iconfont icon-xiaolaba"></icon><a href="#">暂予监外执行<font class="kss_jwzx" style="padding-left:25px;color:red;">0</font></a></a>
            </li>
            <li class="dbxx_click" id="kss_yq">
                <icon class="iconfont icon-xiaolaba"></icon><a href="#">延期<font class="kss_yq" style="padding-left:25px;color:red;">0</font></a></a>
            </li>
            <li class="dbxx_click" id="kss_jsbjd">
                <icon class="iconfont icon-xiaolaba"></icon><a href="#">精神病鉴定<font class="kss_jsbjd" style="padding-left:25px;color:red;">0</font></a></a>
            </li>
            <li class="dbxx_click" id="kss_tj">
                <icon class="iconfont icon-xiaolaba"></icon><a href="#">提解<font class="kss_tj" style="padding-left:25px;color:red;">0</font></a></a>
            </li>
            <li class="dbxx_click" id="kss_tsdj">
                <icon class="iconfont icon-xiaolaba"></icon><a href="#">提讯<font class="kss_tsdj" style="padding-left:25px;color:red;">0</font></a></a>
            </li>
            <li class="dbxx_click" id="kss_jshj">
                <icon class="iconfont icon-xiaolaba"></icon><a href="#">家属会见<font class="kss_jshj"  style="padding-left:25px;color:red;">0</font></a></a>
            </li>
            <li class="dbxx_click" id="kss_lshj">
                <icon class="iconfont icon-xiaolaba"></icon><a href="#">律师会见<font class="kss_lshj" style="padding-left:25px;color:red;">0</font></a></a>
            </li>

        </ul>
    </div>
</div>