<div class="wrap-item" style="height:150px;">
    <div class="item-content list_ul Special_ul">
        <ul>
            <li>
                <div class="gdzcgl" name="监区设施">
                    <icon class="iconfont icon-taizhang"></icon><span>监区设施：<font id="jqss">0</font></span></div>
                <div class="gdzcgl" name="监区大门">
                    <icon class="iconfont icon-taizhang"></icon><span>监区大门：<font id="jqdm">0</font></span></div>
                <div class="gdzcgl" name="监区警报器">
                    <icon class="iconfont icon-taizhang"></icon><span>监区警报器：<font id="jqjbq">0</font></span></div>
            </li>
            <li>
                <div class="gdzcgl" name="警备枪械">
                    <icon class="iconfont icon-taizhang"></icon><span>警备枪械：<font id="jbqx">0</font></span></div>
                <div class="gdzcgl" name="警备电击器">
                    <icon class="iconfont icon-taizhang"></icon><span>警备电击器：<font id = "jbdjq">0</font></span></div>
                <div class="gdzcgl" name="警备钥匙">
                    <icon class="iconfont icon-taizhang"></icon><span>警备钥匙：<font id="jbys">0</font></span></div>
            </li>
            <li>
                <div class="gdzcgl" name="文员电脑">
                    <icon class="iconfont icon-taizhang"></icon><span>文员电脑：<font id="wydn">0</font></span></div>
                <div class="gdzcgl" name="文员钥匙">
                    <icon class="iconfont icon-taizhang"></icon><span>文员钥匙：<font id="wyys">0</font></span></div>
                <div class="gdzcgl" name="文员工牌">
                    <icon class="iconfont icon-taizhang"></icon><span>文员工牌：<font id="wygp">0</font></span></div>
            </li>
            <li>
                <div class="gdzcgl" name="食堂设施">
                    <icon class="iconfont icon-taizhang"></icon><span>食堂设施：<font id="stss">0</font></span></div>
                <div class="gdzcgl" name="澡堂设施">
                    <icon class="iconfont icon-taizhang"></icon><span>澡堂设施：<font id="ztss">0</font></span></div>
                <div class="gdzcgl" name="户外设施">
                    <icon class="iconfont icon-taizhang"></icon><span>户外设施：<font id="hwss">0</font></span></div>
            </li>
            <li>
                <div class="gdzcgl" name="犯人衣服">
                    <icon class="iconfont icon-taizhang"></icon><span>犯人衣服：<font id="fryf">0</font></span></div>
                <div class="gdzcgl" name="犯人工牌：" ">
                    <icon class="iconfont icon-taizhang "></icon><span>犯人工牌：<font id="frgp ">0</font></span></div>
                <div class="gdzcgl " name="员工衣服 ">
                    <icon class="iconfont icon-taizhang "></icon><span>员工衣服：<font id="ygyf ">0</font></span></div>
            </li>
        </ul>
    </div>
</div>