<div class="wrap-item">
    <div class="item-content list_ul" id="aqjcqk">
        <ul>
            <li>
                <icon class="iconfont icon-chuangkoufuwu"></icon>
                <span>检查人：<font id="jcr"></font></span>
            </li>
        </ul>
        <ul>
            <li>
                <icon class="iconfont icon-menjin"></icon>
                <span>检查时间：<font id="jcsj"></font></span>
            </li>
        </ul>
    </div>
    <div class="wrap-item">
        <div class="item-content jcqk_ul">
            <ul>
                <li>
                    <icon class="iconfont icon-zhangdanbulu"></icon>
                    <span class="span_red" id="jcjl"></span>
                </li>
                
            </ul>
        </div>
    </div>
</div>