<!-- 布局模板：单栏 -->
<div class="section-container">
    <div class="section-item section-item-one section-item-padding">
        <div class="section-header">
            <div class="section-title">简项查询</div>
            <div class="section-controls single-colors" id="tools">
            </div>
            <div class="section-corner" id="links">
            </div>
        </div>
        <div class="section-item-content border-top">
            <form id="search" class="search-form"></form>
            <table id="table" ></table>
        </div>
    </div>
</div>