<!-- 布局模板：上（左右） 下-->
<div class="section-container ">
    <div class="section-item">
        <div class="section-container section-container-row">
            <div class="section-item">
                <div class="menu-tree" style="min-width: 160px;">监区树</div>
            </div>
            <div class="section-item section-item-padding border-left">
                上<br>
                面<br>
                部<br>
                分<br>
                的<br>
                高<br>
                度<br>
                是<br>
                自<br>
                适<br>
                应<br>
                的<br>
            </div>
            
        </div>
    </div>
    <div class="section-item section-item-padding">下</div>
</div>   