<!-- 布局模板：田字格布局-->
<div class="section-container">
    <div class="section-item "><br>高度自适应<br><br></div>
    <div class="section-item section-item-padding">
        <div class="section-container section-container-row">
            <div class="section-item section-item-padding">
                <div class="section-container ">
                    <div class="section-item title"></div>
                    <div class="section-item search-form-content section-item-padding">左上</div>
                </div>
            </div>
            <div class="section-item section-item-padding border-left">
                <div class="section-container ">
                    <div class="section-item title"></div>
                    <div class="section-item search-form-content section-item-padding">右上
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-item section-item-padding">
        <div class="section-container section-container-row">
            <div class="section-item section-item-padding">
                <div class="section-container ">
                    <div class="section-item title"></div>
                    <div class="section-item search-form-content section-item-padding">左下</div>
                </div>
            </div>
            <div class="section-item section-item-padding border-left">
                <div class="section-container ">
                    <div class="section-item title"></div>
                    <div class="section-item search-form-content section-item-padding">右下
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>