<!-- partial:./partials/_head.html -->
<!-- partial -->
<!-- partial:./partials/_head_end.html -->
<!-- partial -->

<body>
    <div class="container bg-img-full dper-full-h dper-por">
        <!--头部-->
        <!-- partial:./partials/head.html -->
        <!-- partial -->
        <!--头部-->

        <!--主体-->
        <div class="body malign-tl co-white dper-overh">
            <!--左边-->
            <!-- partial:./partials/left.html -->
            <!-- partial -->
            <!--右边-->
            <div class="right malign-tr dper-full-h">
                <!--右上-->
                <div class="right-top malign-tl dper-full-w">
                    <div class="right-top-left malign-center-left">
                        <i class="right-t1 malign-center-left bg-img"></i>
                        <i class="right-t2 malign-center-right bg-img"></i>
                    </div>
                    <!--右上导航-->
                    <div class="right-top-right dper-full-h dper-full-w dper-overh" id="">
                        <div class="swiper-container dper-full-h" id="Swiper">
                            <div class="swiper-wrapper dper-full-h" id="navTop"></div>
                        </div>
                    </div>
                </div>
                <!--右下-->
                <div class="right-bottom malign-bl dper-full-w" id="contCut">
                    <!--js渲染-->
                </div>
            </div>
        </div>
    </div>
    <!--右击窗口-->
    <!-- partial:./partials/rightmenus.html -->
    <!-- partial -->
    <!--全屏窗口-->
    <!-- partial:./partials/window.html -->
    <!-- partial -->
    <script src="/apps/jds/static/lib/seaJs/sea.js"></script>
    <script src="/apps/jds/static/js/seajs.config.js"></script>
    <script>
        seajs.use("/apps/jds/static/js/controller/index.js")
    </script>
</body>
<!-- partial:./partials/_foot.html -->
<!-- partial -->