<!--
模块名称： 
开始时间： 2020-3-7
-->
<!--HTML head-->
<!-- partial:../../partials/_head_start.html -->
<!-- partial -->

<!-- partial:../../partials/_head_end.html -->
<!-- partial -->

<body class="easyui-layout" data-options="fit:true">
    <!--页面主体布局-->
    <!-- 布局模板：单栏 -->
    <form id="fm" name="aqjcfm" method="post" style="padding: 0 0 0 0;" class="awdform ywdt-form">
        <div class="section-content">
            <div class="section-item section-item-one section-item-padding">
                <div class="standard-content font-20">
                    <div class="htmleaf-container gztzcontainer">
                        <div class="container">
                            <div class="timeline-content right">
                                <div class="gztz-title"><span class="iconfont icon-taizhang"></span>基本信息</div>
                                <div class="gztz-content">
                                    <div class="hang">
                                        <div title="被拘留人入出所登记">
                                            <a href="">1:被拘留人入出所登记</a>
                                        </div>
                                        <div title="巡视监控记录">
                                            <a href="/apps/jls/views/pages/xsqkdj/index.html">2:巡视监控记录</a>
                                        </div>
                                        <div title="严管被拘留人登记">
                                            <a href="/apps/jls/views/pages/ygry/index.html">3:严管被拘留人登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="安全大检查记录">
                                            <a href="/apps/jls/views/pages/aqjc/index.html">4:安全大检查记录</a>
                                        </div>
                                        <div title="被拘留人动态分析会议记录">
                                            <a href="">5:被拘留人动态分析会议记录</a>
                                        </div>
                                        <div title="应急演练记录">
                                            <a href="/apps/jls/views/pages/yjyl/index.html">6:应急演练记录</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="深挖犯罪工作登记">
                                            <a href="/apps/jls/views/pages/swfz/index.html">7:深挖犯罪工作登记</a>
                                        </div>
                                        <div title="所内就医登记">
                                            <a href="/apps/jls/views/pages/snjy/index.html">8:所内就医登记</a>
                                        </div>
                                        <div title="所外就医登记">
                                            <a href="/apps/jls/views/pages/cszl/index.html">9:所外就医登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="会见被拘留人登记">
                                            <a href="/apps/jls/views/pages/qshj/index.html">10:会见被拘留人登记</a>
                                        </div>
                                        <div title="询问题解被拘留人登记">
                                            <a href="">11:询问题解被拘留人登记</a>
                                        </div>
                                        <div title="谈话教育记录">
                                            <a href="">12:谈话教育记录</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="集体教育记录">
                                            <a href="/apps/jls/views/pages/jtjy/index.html">13:集体教育记录</a>
                                        </div>
                                        <div title="社会矛盾化解工作记录">
                                            <a href="">14:社会矛盾化解工作记录</a>
                                        </div>
                                        <div title="视察检查工作记录">
                                            <a href="/apps/jls/views/pages/jcsc/index.html">15:视察检查工作记录</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="对社会开发记录">
                                            <a href="">16:对社会开发记录</a>
                                        </div>
                                        <div title="所务会议记录">
                                            <a href="">17:所务会议记录</a>
                                        </div>
                                        <div title="所长接待记录">
                                            <a href="">18:所长接待记录</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="gztz-title"><span class="iconfont icon-taizhang"></span>自定义工作台账</div>
                                <div class="gztz-content">
                                    <div class="hang">
                                        <div title="安全检查登记">
                                            <a href="">1:安全检查登记</a>
                                        </div>
                                        <div title="安全信息员登记">
                                            <a href="">2:安全信息员登记</a>
                                        </div>
                                        <div title="变更处理登记">
                                            <a href="">3:变更处理登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="变更拘留期限">
                                            <a href="">4:变更拘留期限</a>
                                        </div>
                                        <div title="惩罚管理登记">
                                            <a href="">5:惩罚管理登记</a>
                                        </div>
                                        <div title="出所登记">
                                            <a href="">6:出所登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="出所就医登记">
                                            <a href="/apps/jls/views/pages/cszl/index.html">7:出所就医登记</a>
                                        </div>
                                        <div title="动态分析登记">
                                            <a href="/apps/jls/views/pages/dtfx/index.html">8:动态分析登记</a>
                                        </div>
                                        <div title="对外开放登记">
                                            <a href="/apps/jls/views/pages/dwkf/index.html">9:对外开放登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="岗位交接班登记">
                                            <a href="/apps/jls/views/pages/gwjjb/index.html">10:岗位交接班登记</a>
                                        </div>
                                        <div title="个人教育登记">
                                            <a href="/apps/jls/views/pages/gbjy/index.html">11:个人教育登记</a>
                                        </div>
                                        <div title="汇款、寄物登记表">
                                            <a href="">12:汇款、寄物登记表</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="汇款、寄物登记">
                                            <a href="">13:汇款、寄物登记</a>
                                        </div>
                                        <div title="集体教育登记">
                                            <a href="/apps/jls/views/pages/jtjy/index.html">14:集体教育登记</a>
                                        </div>
                                        <div title="监区出入登记">
                                            <a href="">15:监区出入登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="检查视察登记">
                                            <a href="/apps/jls/views/pages/jcsc/index.html">16:检查视察登记</a>
                                        </div>
                                        <div title="奖励管理登记">
                                            <a href="/apps/jls/views/pages/jlgl/index.html">17:奖励管理登记</a>
                                        </div>
                                        <div title="拘室调整登记">
                                            <a href="/apps/jls/views/pages/jstz/index.html">18:拘室调整登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="临时离所登记">
                                            <a href="/apps/jls/views/pages/lsls/index.html">19:临时离所登记</a>
                                        </div>
                                        <div title="领导接访登记">
                                            <a href="/apps/jls/views/pages/ldjf/index.html">20:领导接访登记</a>
                                        </div>
                                        <div title="律师会见登记">
                                            <a href="/apps/jls/views/pages/lshj/index.html">21:律师会见登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="轮值员登记">
                                            <a href="">22:轮值员登记</a>
                                        </div>
                                        <div title="民警花名册">
                                            <a href="">23:民警花名册</a>
                                        </div>
                                        <div title="民警考核登记表——日文书">
                                            <a href="">24:民警考核登记表——日文书</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="民警考核登记_月文书">
                                            <a href="">25:民警考核登记_月文书</a>
                                        </div>
                                        <div title="亲属会见登记">
                                            <a href="/apps/jls/views/pages/qshj/index.html">26:亲属会见登记</a>
                                        </div>
                                        <div title="请假出所登记">
                                            <a href="/apps/jls/views/pages/qjcs/index.html">27:请假出所登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="请假回所登记">
                                            <a href="/apps/jls/views/pages/qjhs/index.html">28:请假回所登记</a>
                                        </div>
                                        <div title="入所登记本">
                                            <a href="/apps/jls/views/pages/zcrs/index.html">29:入所登记本</a>
                                        </div>
                                        <div title="申述复议登记">
                                            <a href="/apps/jls/views/pages/ssfy/index.html">30:申述复议登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="深挖犯罪线索登记">
                                            <a href="/apps/jls/views/pages/swfz/index.html">31:深挖犯罪线索登记</a>
                                        </div>
                                        <div title="事故(件)管理登记">
                                            <a href="/apps/jls/views/pages/sgcl/index.html">32:事故(件)管理登记</a>
                                        </div>
                                        <div title="死亡管理登记">
                                            <a href="/apps/jls/views/pages/swdj/index.html">33:死亡管理登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="所内就医登记">
                                            <a href="/apps/jls/views/pages/snjy/index.html">34:所内就医登记</a>
                                        </div>
                                        <div title="所外就医登记">
                                            <a href="">35:所外就医登记</a>
                                        </div>
                                        <div title="提前解除登记">
                                            <a href="/apps/jls/views/pages/tqjc/index.html">36:提前解除登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="通讯管理登记">
                                            <a href="">37:通讯管理登记</a>
                                        </div>
                                        <div title="外来人员登记">
                                            <a href="/apps/jls/views/pages/wlrydj/index.html">38:外来人员登记</a>
                                        </div>
                                        <div title="卫生防疫登记">
                                            <a href="/apps/jls/views/pages/wsfy/index.html">39:卫生防疫登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="械具使用登记">
                                            <a href="/apps/jls/views/pages/xjsy/index.html">40:械具使用登记</a>
                                        </div>
                                        <div title="心理咨询登记">
                                            <a href="/apps/jls/views/pages/xlzx/index.html">41:心理咨询登记</a>
                                        </div>
                                        <div title="询问登记">
                                            <a href="">42:询问登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="严管登记">
                                            <a href="/apps/jls/views/pages/ygry/index.html">43:严管登记</a>
                                        </div>
                                        <div title="医生巡视登记">
                                            <a href="/apps/jls/views/pages/ysxz/index.html">44:医生巡视登记</a>
                                        </div>
                                        <div title="应急演练登记">
                                            <a href="/apps/jls/views/pages/yjyl/index.html">45:应急演练登记</a>
                                        </div>
                                    </div>
                                    <div class="hang">
                                        <div title="重病号管理登记">
                                            <a href="/apps/jls/views/pages/zbhdj/index.html">46:重病号管理登记</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <!--页面主体布局-->
    <script src="/apps/jls/static/lib/require.js" data-main="/apps/jls/static/js/require.config" id="current-page" current-page="pages\gztz\index"></script>

<script src="/apps/jls/static/lib/loading.js"></script>
</body>
<!-- partial:../../partials/_foot.html -->
<!-- partial -->